<div class="bga-component-wrapper pb-5">
    <div class="bga-component action-tile {{include.classes}} m-0">

        <div class="component-content">

            <div class="component-title p-4">
                <h3 class="p-0">{{ include.title }}</h3>

                <div class="img-wrapper">
                    <img src={{ include.img }} alt="" />
                </div>
            </div>
        

            <div class="component-text p-4 remove-element-padding">

                <div class="remove-element-padding pb-2">
                <h4>{{ include.subtitle }}</h4>

                {{ include.steps }}
                
                </div>

                <div class="accordion action-tile-accordion">

                    {% if include.item1 == "true" %}    
                        <div class="accordion-item" tabindex="-1">
                            <h5 class="accordion-header pt-0" id="{{include.id}}-1">
                                <button tabindex="0" class="accordion-button collapsed remove-element-padding py-3 px-2" type="button" data-bs-toggle="collapse" data-bs-target="#{{include.id=}}-collapseOne" aria-expanded="false" aria-controls="{{include.id=}}-collapseOne">
                                <h5 class="pe-2">{{ include.title1 }}</h5>
                                </button>
                            </h5>
                            <div id="{{include.id}}-collapseOne" class="accordion-collapse collapse" aria-labelledby="{{include.id=}}-1" >
                                <div class="accordion-body remove-element-padding pt-0 px-2 pb-3">
                                
                                    {{ include.content1 }}
            
                                </div>
                            </div>
                        </div>
                    {% endif %}
            
                    
                    {% if include.item2 == "true" %}    
                        <div class="accordion-item">
                            <h5 class="accordion-header pt-0" id="{{include.id}}-2">
                                <button class="accordion-button collapsed remove-element-padding py-3 px-2" type="button" data-bs-toggle="collapse" data-bs-target="#{{include.id=}}-collapseTwo" aria-expanded="false" aria-controls="{{include.id=}}-collapseTwo">
                                <h5 class="pe-2">{{ include.title2 }}</h5>
                                </button>
                            </h5>
                            <div id="{{include.id}}-collapseTwo" class="accordion-collapse collapse" aria-labelledby="{{include.id=}}-2" >
                                <div class="accordion-body remove-element-padding pt-0 px-2 pb-3">
                                    
                                    {{ include.content2 }}
                                
                                </div>
                            </div>
                        </div>
                    {% endif %}
            
            
                    {% if include.item3 == "true" %}   
                        <div class="accordion-item">
                            <h5 class="accordion-header pt-0" id="{{include.id}}-3">
                                <button class="accordion-button collapsed remove-element-padding py-3 px-2" type="button" data-bs-toggle="collapse" data-bs-target="#{{include.id=}}-collapseThree" aria-expanded="false" aria-controls="{{include.id=}}-collapseThree">
                                <h5 class="pe-2">{{ include.title3 }}</h5>
                                </button>
                            </h5>
                            <div id="{{include.id=}}-collapseThree" class="accordion-collapse collapse" aria-labelledby="{{include.id}}-3" >
                                
                                <div class="accordion-body remove-element-padding pt-0 px-2 pb-3">
                                
                                    {{ include.content3 }}
                                
                                </div>
                            </div>
            
                        </div>
                    {% endif %}

                    {% if include.item4 == "true" %}   
                        <div class="accordion-item">
                            <h5 class="accordion-header pt-0" id="{{include.id}}-4">
                                <button class="accordion-button collapsed remove-element-padding py-3 px-2" type="button" data-bs-toggle="collapse" data-bs-target="#{{include.id=}}-collapseFour" aria-expanded="false" aria-controls="{{include.id=}}-collapseFour">
                                <h5 class="pe-2">{{ include.title4 }}</h5>
                                </button>
                            </h5>
                            <div id="{{include.id=}}-collapseFour" class="accordion-collapse collapse" aria-labelledby="{{include.id}}-4" >
                                
                                <div class="accordion-body remove-element-padding pt-0 px-2 pb-3">
                                
                                    {{ include.content4 }}
                                
                                </div>
                            </div>

                        </div>
                    {% endif %}


                    {% if include.item5 == "true" %}   
                        <div class="accordion-item">
                            <h5 class="accordion-header pt-0" id="{{include.id}}-5">
                                <button class="accordion-button collapsed remove-element-padding py-3 px-2" type="button" data-bs-toggle="collapse" data-bs-target="#{{include.id=}}-collapseFive" aria-expanded="false" aria-controls="{{include.id=}}-collapseFive">
                                <h5 class="pe-2">{{ include.title5 }}</h5>
                                </button>
                            </h5>
                            <div id="{{include.id=}}-collapseFive" class="accordion-collapse collapse" aria-labelledby="{{include.id}}-5" >
                                
                                <div class="accordion-body remove-element-padding pt-0 px-2 pb-3">
                                
                                    {{ include.content5 }}
                                
                                </div>
                            </div>

                        </div>
                    {% endif %}


                    {% if include.item6 == "true" %}   
                        <div class="accordion-item">
                            <h5 class="accordion-header pt-0" id="{{include.id}}-6">
                                <button class="accordion-button collapsed remove-element-padding py-3 px-2" type="button" data-bs-toggle="collapse" data-bs-target="#{{include.id=}}-collapseSix" aria-expanded="false" aria-controls="{{include.id=}}-collapseSix">
                                <h5 class="pe-2">{{ include.title6 }}</h5>
                                </button>
                            </h5>
                            <div id="{{include.id=}}-collapseSix" class="accordion-collapse collapse" aria-labelledby="{{include.id}}-6" >
                                
                                <div class="accordion-body remove-element-padding pt-0 px-2 pb-3">
                                
                                    {{ include.content6 }}
                                
                                </div>
                            </div>

                        </div>
                    {% endif %}
            
            
            </div>
                    



            </div>
        
        </div>

    </div>
</div>