<div class="media-player-example {{include.classes}}">
    <div class="media-player-container mb-5">

        <div class="media-player-info audio p-4 remove-element-padding">
            <div class="title mb-4 remove-element-padding">
            {% if include.graphic %}
            <img src={{ include.graphic }} alt="">
            {% endif %}
            <h2 aria-label="Podcast title" class="media-player-info-title">{{ include.title }}</h2>
            </div>
            <p aria-label="video info" class="media-player-info-detail">{{ include.description }}</p>
        </div>

       
        <div class="audio-player p-4">
        
            <audio controls preload="auto" src={{ "assets/audio/stebercraft-podcast.mp3" | relative_url }}></audio>
           
               
        </div>
        
        <div class="media-player-transcript-toggle" style="display: flex;"><button class="mx-4" aria-label="Toggle video transcript, transcript closed"><span>Open Transcript</span>
                    <div class="BgaIcon  iconAnimateWrapper " style="height: 1rem; width: 1rem;"><svg width="16" height="16" class="">
                            <path fill-rule="evenodd" d="M8 9.028L1.982 3 0 4.986 8 13l8-8.014L14.018 3z"></path>
                        </svg></div>
                </button></div>
        
                <div class="media-player-transcript">
                    <div class="media-transcript">
                        <div class="media-transcript-content">
                            <div class="m-4">
                                <p>Transcript text displays in here.</p>
                                <p>Transcripts should be descriptive.</p>
                                <p>Descriptive transcripts are needed to provide audiocontent to people who are both Deaf and blind.</p>
                                <p>Things to include in descriptive transcripts:</p>
                                <p>the names of all speakers</p>
                                <p>all speech content</p>
                                <p>relevant non-speech audio. For example, if the speaker has a glass of water and puts it down on a table and it makes a noise</p>
                                <p>indicate when it’s the end of the transcript.</p> 
                            </div>
                        </div>
                    </div>
                </div>
        
    </div>


</div>