<div class="bga-component-wrapper pb-5">
<div class="bga-component callout-box {{include.classes}} m-0">

    <div class="p-4 component-content">

        <div class="component-text p-0 remove-element-padding">
            {% if include.h2title %}
                <h2>{{ include.h2title }}</h2>
            {% endif %}
            
            {% if include.h3title %}
                <h3>{{ include.h3title }}</h3>
            {% endif %}
            
            {% if include.text %}
                {{ include.text }}
            {% endif %}
            
        </div>
    

    </div>

</div>
</div>