<div class="bga-component-wrapper mb-5">
        <div class="bga-component inline-pathway callout-link {{include.classes}}">

                <div class="content remove-element-padding p-4 ">
                        <div class="icon-wrapper me-4"><img src={{ include.icon }} alt="" /></div>
                        {% if include.href %}
                        <div class="link-wrapper">
                                <a href={{include.href}} class="link"><strong>{{ include.link }}</strong></a>
                        </div>
                        {% else %}
                        <div class="link-wrapper">
                                <a href="" class="link"><strong>{{ include.link }}</strong></a>
                        </div>
                        {% endif %}

                </div>
        </div>
</div>