<div class="bga-component-wrapper">
<div class="bga-component cookie-notification {{include.classes}}">

    <div class="py-3 px-4 component-content">

        <div class="component-text p-0 me-5 remove-element-padding">
          
            {% if include.text %}
                {{ include.text }}
            {% endif %}

        </div>

        <div class="component-links p-0 remove-element-padding">
            {% if include.button %}
                 <div class="button-example">
                     <button class="cookie-link bga-btn bga-secondary-btn bga-btn-pill me-3" tabindex="0" href="" role="button">{{ include.button }}</button>
                </div>
            {% endif %}

            {% if include.link %}
               <a href="" class="cookie-link">{{ include.link }}</a>
            {% endif %}
        </div>
    

    </div>

</div>
</div>