<div class="bga-component-wrapper pb-5">
    <div class="bga-component disclaimer {{include.classes}} py-2 m-0">

        {% if include.display == "visible" %}
        <div class="component-content">
            <div class="icon-wrapper me-2">
                <svg data-name="Group 7707" xmlns="http://www.w3.org/2000/svg" width="2.538" height="10.012"
                    viewBox="0 0 2.538 10.012">
                    <g data-name="Group 117">
                        <path
                            d="M0,.859a.891.891,0,0,0,.92.859.891.891,0,0,0,.92-.859A.891.891,0,0,0,.92,0,.891.891,0,0,0,0,.859Z"
                            transform="translate(0.348 8.295)" fill="#fff" />
                        <path
                            d="M0,1.142A1.236,1.236,0,0,1,.282.479,1.281,1.281,0,0,1,1.269,0a1.279,1.279,0,0,1,.966.454,1.24,1.24,0,0,1,.3.688,1.189,1.189,0,0,1,0,.206l-.523,5.6a.672.672,0,0,1-.214.429.784.784,0,0,1-1.011.037.677.677,0,0,1-.256-.466L0,1.348A1.176,1.176,0,0,1,0,1.142Z"
                            transform="translate(0 0)" fill="#fff" />
                    </g>
                </svg>
            </div>
            <div class="disclaimer-content remove-element-padding">
                <p class="disclaimer-title"><strong>{{ include.title }}</strong></p>
                {{ include.content }}
            </div>
        </div>
        {% endif %}

        {% if include.display == "hidden" %}
        <div class="accordion disclaimer p-0">
            <div class="accordion-item" tabindex="-1">
                <h5 class="accordion-header pt-0" id="{{include.layout-name}}-1">
                    <button tabindex="0" class="accordion-button collapsed remove-element-padding py-2 px-0"
                        type="button" data-bs-toggle="collapse" data-bs-target="#{{include.layout-name=}}-collapseOne"
                        aria-expanded="false" aria-controls="{{include.layout-name=}}-collapseOne">
                        <div class="icon-wrapper me-2">
                                <svg data-name="Group 7707" xmlns="http://www.w3.org/2000/svg" width="2.538"
                                    height="10.012" viewBox="0 0 2.538 10.012">
                                    <g data-name="Group 117">
                                        <path
                                            d="M0,.859a.891.891,0,0,0,.92.859.891.891,0,0,0,.92-.859A.891.891,0,0,0,.92,0,.891.891,0,0,0,0,.859Z"
                                            transform="translate(0.348 8.295)" fill="#fff" />
                                        <path
                                            d="M0,1.142A1.236,1.236,0,0,1,.282.479,1.281,1.281,0,0,1,1.269,0a1.279,1.279,0,0,1,.966.454,1.24,1.24,0,0,1,.3.688,1.189,1.189,0,0,1,0,.206l-.523,5.6a.672.672,0,0,1-.214.429.784.784,0,0,1-1.011.037.677.677,0,0,1-.256-.466L0,1.348A1.176,1.176,0,0,1,0,1.142Z"
                                            transform="translate(0 0)" fill="#fff" />
                                    </g>
                                </svg>
                        </div>

                        <p class="disclaimer-title pe-3"><strong>{{ include.title }}</strong></p>
                    </button>
                </h5>
                <div id="{{include.layout-name}}-collapseOne" class="accordion-collapse collapse"
                    aria-labelledby="{{include.layout-name=}}-1">
                    <div class="accordion-body remove-element-padding pt-2 pb-2 pe-0">

                        {{ include.content }}

                    </div>
                </div>
            </div>
        </div>
        {% endif %}


    </div>
</div>