<div class="bga-component-wrapper">
    <div class="bga-component download-list {{include.classes}} m-0">

        {% if include.title1 %}
        HELLO!
        <p class="title mb-2"><strong>{{ include.title1 }}</strong></p>
        <ul class="download-links p-0 mb-5">
            <li><a tabindex="0">
                    <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                        <path
                            d="M0,16V9H2v5H14V9h2v7Zm3.353-8.94L4.768,5.647,7,7.879V0H9V8l2.354-2.353,1.414,1.414L8.06,11.767Z"
                             />
                    </svg>
                    <span>PDF · 300mb</span>
                </a></li>
            <li><a tabindex="0">
                    <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                        <path
                            d="M0,16V9H2v5H14V9h2v7Zm3.353-8.94L4.768,5.647,7,7.879V0H9V8l2.354-2.353,1.414,1.414L8.06,11.767Z"
                             />
                    </svg>
                    DOCX · 2.3mb</a></li>
            <li><a tabindex="0">
                    <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                        <path
                            d="M0,16V9H2v5H14V9h2v7Zm3.353-8.94L4.768,5.647,7,7.879V0H9V8l2.354-2.353,1.414,1.414L8.06,11.767Z"
                             />
                    </svg>
                    <span>XLS · 2.3mb</span>
                </a></li>
            <li><a tabindex="0">
                    <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                        <path
                            d="M0,16V9H2v5H14V9h2v7Zm3.353-8.94L4.768,5.647,7,7.879V0H9V8l2.354-2.353,1.414,1.414L8.06,11.767Z"
                             />
                    </svg>
                    <span>PPT · 2.3mb</span>
                </a></li>
        </ul>
        {% endif %}

        {% if include.title2 %}
        <p class="title mb-2"><strong>{{ include.title2 }}</strong></p>
        <ul class="download-links p-0 mb-5">
            <li><a tabindex="0">
                <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path
                        d="M0,16V9H2v5H14V9h2v7Zm3.353-8.94L4.768,5.647,7,7.879V0H9V8l2.354-2.353,1.414,1.414L8.06,11.767Z"
                         />
                </svg>
                DOCX · 2.3mb</a></li>
        </ul>
        {% endif %}

        {% if include.title3 %}
        <p class="title mb-2"><strong>{{ include.title3 }}</strong></p>
        <ul class="download-links p-0 mb-5">
            <li><a tabindex="0">
                <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path
                        d="M0,16V9H2v5H14V9h2v7Zm3.353-8.94L4.768,5.647,7,7.879V0H9V8l2.354-2.353,1.414,1.414L8.06,11.767Z"
                         />
                </svg>
                <span>PDF · 300mb</span>
            </a></li>
        <li><a tabindex="0">
                <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path
                        d="M0,16V9H2v5H14V9h2v7Zm3.353-8.94L4.768,5.647,7,7.879V0H9V8l2.354-2.353,1.414,1.414L8.06,11.767Z"
                         />
                </svg>
                DOCX · 2.3mb</a></li>

        </ul>
        {% endif %}

        {% if include.title4 %}
        <p class="title mb-2"><strong>{{ include.title4 }}</strong></p>
        <ul class="download-links p-0 mb-5">
            <li><a tabindex="0">
                <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path
                        d="M0,16V9H2v5H14V9h2v7Zm3.353-8.94L4.768,5.647,7,7.879V0H9V8l2.354-2.353,1.414,1.414L8.06,11.767Z"
                        />
                </svg>
                <span>PDF · 300mb</span>
            </a></li>
        <li><a tabindex="0">
                <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path
                        d="M0,16V9H2v5H14V9h2v7Zm3.353-8.94L4.768,5.647,7,7.879V0H9V8l2.354-2.353,1.414,1.414L8.06,11.767Z"
                         />
                </svg>
                DOCX · 2.3mb</a></li>
        <li><a tabindex="0">
                <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path
                        d="M0,16V9H2v5H14V9h2v7Zm3.353-8.94L4.768,5.647,7,7.879V0H9V8l2.354-2.353,1.414,1.414L8.06,11.767Z"
                         />
                </svg>
                <span>XLS · 2.3mb</span>
            </a></li>
        <li><a tabindex="0">
                <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path
                        d="M0,16V9H2v5H14V9h2v7Zm3.353-8.94L4.768,5.647,7,7.879V0H9V8l2.354-2.353,1.414,1.414L8.06,11.767Z"
                         />
                </svg>
                <span>PPT · 2.3mb</span>
            </a></li>
        </ul>
        {% endif %}

    </div>
</div>