<div class="dynamic-list remove-element-padding {{include.classes}}">

    <div class="dynamic-list remove-element-padding">
        <h4 class="mb-3">Filter grants by name</h4>

        <div class="list-wrapper">

            <input type="text" placeholder="Start typing a grant name" name="org" data-list="{{include.id}}" />
            
            <a href="" class="p-3" id="list-close"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path data-name="Path 11996" d="M3013.83,457.1l-6.4,6.4-1.6-1.6,6.4-6.4-6.4-6.4,1.6-1.6,6.4,6.4,6.4-6.4,1.6,1.6-6.4,6.4,6.4,6.4-1.6,1.6Z" transform="translate(-3005.83 -447.5)" fill="#333"/>
              </svg></a>
              
   
            <ul id="{{include.id}}">
            <li tabindex="0" value="Access Macquarie Limited">Access Macquarie Limited</li>
            <li tabindex="0"value="Alexander S Richardson Pty Ltd">Alexander S Richardson Pty Ltd</li>
            <li tabindex="0" value="Australian Hearing Services">Australian Hearing Services</li>
            <li tabindex="0" value="Australian National University">Australian National University</li>
            <li tabindex="0" value="Australian Nuclear Science and Technology Organisation (ANSTO)">Australian Nuclear Science and Technology Organisation (ANSTO)</li>
            <li tabindex="0" value="Centre for Digestive Diseases Pty Ltd">Centre for Digestive Diseases Pty Ltd</li>
            <li tabindex="0" value="Charles Sturt University">Charles Sturt University</li>
            <li tabindex="0" value="Commonwealth Scientific and Industrial Research Organisation (CSIRO)">Commonwealth Scientific and Industrial Research Organisation (CSIRO)</li>
            <li tabindex="0" value="Datapharm Australia Pty Ltd">Datapharm Australia Pty Ltd</li>
            <li tabindex="0" value="Department of Regional NSW">Department of Regional NSW</li>
            <li tabindex="0" value="Design & Industry Pty Ltd">Design & Industry Pty Ltd</li>
            <li tabindex="0" value="Design Momentum Pty Ltd">Design Momentum Pty Ltd</li>
            <li tabindex="0" value="Diversity Arrays Technology Pty Limited">Diversity Arrays Technology Pty Limited</li>
            <li tabindex="0" value="Electro Optic Systems Pty. Limited">Electro Optic Systems Pty. Limited</li>
            <li tabindex="0" value="Eurofins Agroscience Services Pty Ltd">Eurofins Agroscience Services Pty Ltd</li>
            <li tabindex="0" value="Fisheries Research & Development Corporation">Fisheries Research & Development Corporation</li>
            <li tabindex="0" value="Genesys Electronics Design Pty Ltd">Genesys Electronics Design Pty Ltd</li>
            <li tabindex="0" value="HD Designlink Pty Ltd">HD Designlink Pty Ltd</li>
            <li tabindex="0" value="Health Language Analytics Pty Ltd">Health Language Analytics Pty Ltd</li>
            <li tabindex="0" value="I C P - Firefly Pty Limited">I C P - Firefly Pty Limited</li>
            <li tabindex="0" value="I D & E Pty Ltd">I D & E Pty Ltd</li>
            <li tabindex="0" value="Ingenuity Design Group Pty Ltd">Ingenuity Design Group Pty Ltd</li>
            <li tabindex="0" value="Macquarie University">Macquarie University</li>
            <li tabindex="0" value="Meat & Livestock Australia Limited">Meat & Livestock Australia Limited</li>
            <li tabindex="0" value="National Measurement Institute">National Measurement Institute</li>
            <li tabindex="0" value="Neuroscience Research Australia">Neuroscience Research Australia</li>
            <li tabindex="0" value="Newport Tek Pty Ltd">Newport Tek Pty Ltd</li>
            <li tabindex="0" value="Newsouth Innovations Pty Limited">Newsouth Innovations Pty Limited</li>
            <li tabindex="0" value="Ozdocs International Pty Ltd">Ozdocs International Pty Ltd</li>
            <li tabindex="0" value="R&T Reliability Technologies Pty Ltd">R&T Reliability Technologies Pty Ltd</li>
            <li tabindex="0" value="ResTech Pty Limited">ResTech Pty Limited</li>
            <li tabindex="0" value="Rivalea (Australia) Pty Ltd">Rivalea (Australia) Pty Ltd</li>
            <li tabindex="0" value="Robotic Systems Pty Ltd">Robotic Systems Pty Ltd</li>
            <li tabindex="0" value="Romar Engineering Pty Ltd">Romar Engineering Pty Ltd</li>
            <li tabindex="0" value="Royal Botanic Gardens and Domain Trust">Royal Botanic Gardens and Domain Trust</li>
            <li tabindex="0" value="Sonic Clinical Trials Pty Limited">Sonic Clinical Trials Pty Limited</li>
            <li tabindex="0" value="Southern Cross University">Southern Cross University</li>
            <li tabindex="0" value="Southern Star Research Pty Ltd">Southern Star Research Pty Ltd</li>
            <li tabindex="0" value="University of Canberra">University of Canberra</li>
            <li tabindex="0" value="The University of New England">The University of New England</li>
            <li tabindex="0" value="The University of Newcastle">The University of Newcastle</li>
            <li tabindex="0" value="The University of Newcastle Research Associates Limited">The University of Newcastle Research Associates Limited</li>
            <li tabindex="0" value="The University of Wollongong">The University of Wollongong</li>
            </ul>
          
        </div>

        <div class="no-result error m-0 remove-element-padding">
            <p>No grant or program with this name.</p>
        </div>
        
    </div>


</div>