<div class="sidebar-wrapper dynamic-sidebar mb-4 p-0 {{include.classes}}">
    <div class="bga-component sidebar m-0 p-0">
        
        
        <div class="sidebar-section business-structure mb-3">
            <div class="title remove-element-padding">
                <p><strong>Business structure</strong></p>
            </div>
            <div class="content remove-element-padding">
                <p class="chosen-structure">
                    <svg  class="me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                        <g data-name="Group 20678" transform="translate(-441 -1259)">
                          <g data-name="Group 20619" transform="translate(441 1259)">
                            <circle id="Ellipse_460" data-name="Ellipse 460" cx="8" cy="8" r="8" transform="translate(0)" fill="#2e3e5a"/>
                          </g>
                          <g data-name="Icon: Tick" transform="translate(445 1264)">
                            <path d="M0,3.572l.949-.93L2.622,4.258,7.043,0,8,.916,2.622,6.1Z" fill="#fff"/>
                          </g>
                        </g>
                      </svg>
                      <span>No chosen structure yet</span></p>
            </div>
        </div>


        <div class="sidebar-section recommendations mb-3">
            <div class="title remove-element-padding">
                <p><strong>Required registrations registrations</strong></p>
            </div>
            <div class="content remove-element-padding">
                <ul  class="remove-element-padding m-0 p-0">
                    <li class="show no-recommendations">No recommendations yet</li>
                    
                    <li class="individual-tfn" data-value="individual-tfn">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                      <g data-name="Group 20678" transform="translate(-441 -1259)">
                        <g data-name="Group 20619" transform="translate(441 1259)">
                          <circle id="Ellipse_460" data-name="Ellipse 460" cx="8" cy="8" r="8" transform="translate(0)" fill="#2e3e5a"/>
                        </g>
                        <g data-name="Icon: Tick" transform="translate(445 1264)">
                          <path d="M0,3.572l.949-.93L2.622,4.258,7.043,0,8,.916,2.622,6.1Z" fill="#fff"/>
                        </g>
                      </g>
                    </svg>
                    <span class="ms-2">Individual tax file number</span></li>
                  <li class="business-tfn" data-value="business-tfn">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                          <g data-name="Group 20678" transform="translate(-441 -1259)">
                            <g data-name="Group 20619" transform="translate(441 1259)">
                              <circle id="Ellipse_460" data-name="Ellipse 460" cx="8" cy="8" r="8" transform="translate(0)" fill="#2e3e5a"/>
                            </g>
                            <g data-name="Icon: Tick" transform="translate(445 1264)">
                              <path d="M0,3.572l.949-.93L2.622,4.258,7.043,0,8,.916,2.622,6.1Z" fill="#fff"/>
                            </g>
                          </g>
                        </svg>
                        <span class="ms-2">Business tax file number</span></li>
                  <li class="abn" data-value="abn">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                          <g data-name="Group 20678" transform="translate(-441 -1259)">
                            <g data-name="Group 20619" transform="translate(441 1259)">
                              <circle id="Ellipse_460" data-name="Ellipse 460" cx="8" cy="8" r="8" transform="translate(0)" fill="#2e3e5a"/>
                            </g>
                            <g data-name="Icon: Tick" transform="translate(445 1264)">
                              <path d="M0,3.572l.949-.93L2.622,4.258,7.043,0,8,.916,2.622,6.1Z" fill="#fff"/>
                            </g>
                          </g>
                        </svg>
                        <span class="ms-2">Australian business number</span></li>
                  <li class="company" data-value="company">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                          <g data-name="Group 20678" transform="translate(-441 -1259)">
                            <g data-name="Group 20619" transform="translate(441 1259)">
                              <circle id="Ellipse_460" data-name="Ellipse 460" cx="8" cy="8" r="8" transform="translate(0)" fill="#2e3e5a"/>
                            </g>
                            <g data-name="Icon: Tick" transform="translate(445 1264)">
                              <path d="M0,3.572l.949-.93L2.622,4.258,7.043,0,8,.916,2.622,6.1Z" fill="#fff"/>
                            </g>
                          </g>
                        </svg>
                        <span class="ms-2">Company registration</span></li>
 
                </ul>
            </div>
        </div>

        
        <div class="sidebar-section recommendations grey">
          <div class="title remove-element-padding">
              <p><strong>Recommended registrations</strong></p>
          </div>
          <div class="content remove-element-padding">
              <ul  class="remove-element-padding m-0 p-0">
                  <li class="show no-recommendations">No recommendations yet</li>
                 
                  <li class="online-services-for-business" data-value="online-services-for-business">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                      <g data-name="Group 20678" transform="translate(-441 -1259)">
                        <g data-name="Group 20619" transform="translate(441 1259)">
                          <circle id="Ellipse_460" data-name="Ellipse 460" cx="8" cy="8" r="8" transform="translate(0)" fill="#2e3e5a"/>
                        </g>
                        <g data-name="Icon: Tick" transform="translate(445 1264)">
                          <path d="M0,3.572l.949-.93L2.622,4.258,7.043,0,8,.916,2.622,6.1Z" fill="#fff"/>
                        </g>
                      </g>
                    </svg>
                    <span class="ms-2">Online services for business</span></li>
                  
                  <li class="online-services-for-sole-traders" data-value="online-services-for-sole-traders">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                        <g data-name="Group 20678" transform="translate(-441 -1259)">
                          <g data-name="Group 20619" transform="translate(441 1259)">
                            <circle id="Ellipse_460" data-name="Ellipse 460" cx="8" cy="8" r="8" transform="translate(0)" fill="#2e3e5a"/>
                          </g>
                          <g data-name="Icon: Tick" transform="translate(445 1264)">
                            <path d="M0,3.572l.949-.93L2.622,4.258,7.043,0,8,.916,2.622,6.1Z" fill="#fff"/>
                          </g>
                        </g>
                      </svg>
                      <span class="ms-2">Online services for sole traders</span></li>     
                 
              </ul>
          </div>
        </div>


    </div>
</div>




