<div class="bga-component-wrapper">
<div class="bga-component easy-read {{include.classes}} m-0">

    <div class="p-0 component-content">

        <div class="component-image px-0">

            {% if include.image %}
                <img src={{ include.image }} alt="" />
            {% endif %}

            {% if include.image2 %}
                <img src={{ include.image2 }} alt="" />
            {% endif %}

            {% if include.image3 %}
                <img src={{ include.image3 }} alt="" />
            {% endif %}

        </div>

        <div class="component-text remove-element-padding">
           
            {% if include.text %}
                {{ include.text }}
            {% endif %}
            
        </div>
    

    </div>

</div>
</div>