<div class="bga-component-wrapper pb-5 h-100">
<div class="bga-component feature-box feature-box-colours {{ include.classes }}">
    
    <div class="p-4 component-content h-100">
         
            {% if include.top-icon %}
                <div class="icon-wrapper mb-0 me-3">
                    <img src={{ include.top-icon }} alt="" />
                </div>
            {% endif %}

            <div class="component-text">
                <p class="p-0 m-0">{{ include.colour }}</p>
            </div>
            
    </div>

</div>
</div>