<div class="bga-component-wrapper h-100 pb-5">
<a href="" tabindex="0" class="bga-component feature-pathway {{ include.classes }} mt-0 mx-0 mb-5">

    
    <div class="component-content">

        <div class="component-text p-0 mb-5">
            <h3 class="tile-title pt-0">{{ include.title }}</h3>
            <p class="tile-description mb-0"> {{ include.description }} </p>
        </div>

         <div class="icon-wrapper">
             <div class="arrow-icon">
                <img src={{ include.icon1 }} alt=""/>
             </div>
         </div>

         </div>

    {% if include.image %}
    <div class="component-image">
        <img src={{ include.image }}  alt="" />
    </div>
    {% endif %}
    

</a>
</div>
