<div class="filters  {{ include.classes }}  single-select">

    <div class="filter-item pt-3 pb-2" id="business-stage">
        <div class="filter-item-title">
            <p class="mb-0">Business stage <span class="mobile-counter"></span></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                <g transform="translate(20 12.5) rotate(180)">
                    <path  data-name="Chevron / Up"
                        d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z" fill="#333">
                    </path>
                </g>
            </svg>

        </div>
        <div class="active-filters pt-2 single-select">
            <ul class="m-0 p-0">
                <li filter-value="27" data-value="2-years-or-less" class="select-option">2 years or
                    less</li>
                <li filter-value="27" data-value="3-and-5-years" class="select-option">3 and 5 years
                </li>
                <li filter-value="27" data-value="more-than-5-years" class="select-option">More than
                    5 years</li>

            </ul>
        </div>
        <div class="filter-item-content pb-2">

            <form>
                <select class="form-select" id="filter_stage" select-filter-type="business-stage" filter-value="27">
                    <option value="select-option">select stage</option>
                    <option value="2-years-or-less" class="select-option">2 years or less</option>
                    <option value="3-and-5-years" class="select-option">3 and 5 years</option>
                    <option value="more-than-5-years" class="select-option">More than 5 years
                    </option>

                </select>
            </form>

        </div>
    </div>

</div>