<div class="filters {{ include.classes }} text-input pb-3">

    <div class="filter-item text-field-filter remove-element-padding" id="postcode">

        <label>Postcode</label>

        <div class="text-input-wrapper d-flex">
            
            <span class="clear-postcode" id="clear-postcode">Remove postcode</span>
            <input class="form-control px-3" id="postcode-input" type="text" placeholder="Enter your postcode">

            <button class="apply-postcode" id="apply-postcode" filter-type="postcode">Add</button>
        </div>

    </div>

</div>