<div class="filters  {{ include.classes }}  search-box">

    <div class="name-search remove-element-padding p-4">
        <h4 class="mb-3">Filter grants and programs <span>by name</span></h4>

        <div class="search-wrapper">
            <input type="search" placeholder="Enter grant name">
            <button class="name-search-btn">
                <svg width="20" height="20">
                    <path fill-rule="evenodd"
                        d="M15.27 12.815l-.409.409-1.706-1.706c2.052-2.838 1.802-6.836-.753-9.39A7.218 7.218 0 0 0 7.264 0a7.22 7.22 0 0 0-5.139 2.128c-2.833 2.833-2.833 7.443 0 10.276a7.22 7.22 0 0 0 5.139 2.128c1.549 0 3.023-.483 4.253-1.375l1.706 1.705-.41.41L17.543 20 20 17.543l-4.73-4.728zm-11.507-2.05a4.955 4.955 0 0 1 0-6.999 4.918 4.918 0 0 1 3.5-1.45c1.323 0 2.566.515 3.5 1.45a4.955 4.955 0 0 1 0 7 4.919 4.919 0 0 1-3.5 1.449 4.92 4.92 0 0 1-3.5-1.45z">
                    </path>
                </svg>
            </button>
        </div>
        <!--<div class="search-list-wrapper mt-4">
            <div class="search-list active active-filters">
                <ul class="m-0 p-0" id="searchbar-list" class="searchbar-list">
                    <li>Modern <span>Manufacturing</span> Initiative – Manufacturing Integration
                        Stream</li>
                    <li>Modern <span>Manufacturing</span> Initiative – Manufacturing Collaboration
                        Stream</li>
                    <li><span>Manufacturing</span> Modernisation Fund Round 2 Grant Recipients</li>
                    <li>Advanced <span>Manufacturing</span> Growth Fund grant recipients</li>
                    <li>Funding opportunities available under the Modern <span>Manufacturing</span>
                        Initiative</li>
                    <li>Modern <span>Manufacturing</span> Initiative – Manufacturing Translation
                        Stream grant recipients</li>
                </ul>
            </div>
        </div>-->
      
    </div>


</div>