<div class="filters  {{ include.classes }}  checkboxes-secondary">

    <div tabindex="0" class="filter-item pt-3 pb-2" id="location">
        <div class="filter-item-title remove-element-padding">
            <p class="mb-0">Location <span class="mobile-counter"></span></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                <g transform="translate(20 12.5) rotate(180)">
                    <path  data-name="Chevron / Up"
                        d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z" fill="#333">
                    </path>
                </g>
            </svg>

        </div>
        <div class="active-filters pt-2 multi-select">
            <ul class="m-0 p-0">
                <li filter-type="location" filter-value="10" data-value="australian-capital-territory">
                    Australian Capital Territory</li>
                <li filter-type="location" filter-value="15" data-value="new-south-wales">New South
                    Wales</li>
                <li filter-type="location" filter-value="15" data-value="northern-territory">
                    Northern Territory</li>
                <li filter-type="location" filter-value="15" data-value="queensland">Queensland</li>
                <li filter-type="location" filter-value="15" data-value="south-australia">South
                    Australia</li>
                <li filter-type="location" filter-value="15" data-value="tasmania">Tasmania</li>
                <li filter-type="location" filter-value="15" data-value="victoria">Victoria</li>
                <li filter-type="location" filter-value="15" data-value="western-australia">Western
                    Australia</li>
                <li filter-type="location" filter-value="15" data-value="other-australian-territory">
                    Other Australian territory</li>
            </ul>
        </div>
        <div class="filter-item-content">

            <form>
                <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="australian-capital-territory">
                    <label>Australian Capital Territory</label>
                </div>

               <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="new-south-wales">
                    <label>New South Wales</label>
                </div>

               <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="northern-territory">
                    <label>Northern Territory</label>
                </div>

               <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="queensland">
                    <label>Queensland</label>
                </div>

               <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="south-australia">
                    <label>South Australia</label>
                </div>

               <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="tasmania">
                    <label>Tasmania</label>
                </div>

               <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="victoria">
                    <label>Victoria</label>
                </div>

               <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="western-australia">
                    <label>Western Australia</label>
                </div>

               <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="other-australian-territory">
                    <label>Other Australian territory</label>
                </div>

            </form>

        </div>
    </div>

    <div tabindex="0" class="filter-item pt-3 pb-2" id="support-type">
        <div class="filter-item-title remove-element-padding">
            <p class="mb-0">Support type <span class="mobile-counter"></span></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                <g transform="translate(20 12.5) rotate(180)">
                    <path  data-name="Chevron / Up"
                        d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z" fill="#333">
                    </path>
                </g>
            </svg>

        </div>
        <div class="active-filters pt-2 multi-select">
            <ul class="m-0 p-0">
                <li filter-type="support-type" filter-value="30" data-value="advice">Advice &amp;
                    mentoring</li>
                <li filter-type="support-type" filter-value="60" data-value="funding">Funding</li>
                <li filter-type="support-type" filter-value="10" data-value="loan">Loan</li>
                <li filter-type="support-type" filter-value="10" data-value="sponsorship">
                    Sponsorship</li>
                <li filter-type="support-type" filter-value="30" data-value="subsidy">Subsidies
                    &amp; rebates</li>
                <li filter-type="support-type" filter-value="10" data-value="tax-rebate">Tax
                    benefits</li>

            </ul>
        </div>
        <div class="filter-item-content">

            <form>
               <div tabindex="0" class="checkbox-item p-2" filter-value="30" filter-type="support-type">
                    <input type="checkbox" tabindex="-1" id="advice">
                    <label for="advice">Advice &amp; mentoring</label>
                </div>

               <div tabindex="0" class="checkbox-item p-2" filter-value="60" filter-type="support-type">
                    <input type="checkbox" tabindex="-1" id="funding">
                    <label for="funding">Funding</label>
                </div>
               <div tabindex="0" class="checkbox-item p-2" filter-value="10" filter-type="support-type">
                    <input type="checkbox" tabindex="-1" id="loan">
                    <label for="loan">Loan</label>
                </div>

               <div tabindex="0" class="checkbox-item p-2" filter-value="10" filter-type="support-type">
                    <input type="checkbox" tabindex="-1" id="sponsorship">
                    <label for="sponsorship">Sponsorship</label>
                </div>

               <div tabindex="0" class="checkbox-item p-2" filter-value="30" filter-type="support-type">
                    <input type="checkbox" tabindex="-1" id="subsidy">
                    <label for="subsidy">Subsidies &amp; rebates</label>
                </div>

               <div tabindex="0" class="checkbox-item p-2" filter-value="10" filter-type="support-type">
                    <input type="checkbox" tabindex="-1" id="tax-rebate">
                    <label for="tax-rebate">Tax benefits</label>
                </div>

            </form>

        </div>
    </div>

</div>
