<div class="filters  {{ include.classes }}  checkboxes-primary">

    <div class="filter-item" id="delivery-type">

        <form>
            <div tabindex="0" class="checkbox-item py-3" data-label="in-person" filter-type="delivery-type">
                <label id="delivery-inperson" data-option="in-person" data-label="in-person"
                    filter-type="delivery-type">

                    In person services</label>
                <input tabindex="-1" type="checkbox" id="in-person">
            </div>

            <div tabindex="0" class="checkbox-item py-3" data-label="phone" filter-type="delivery-type">
                <label id="delivery-phone" data-option="phone" data-label="phone"
                    filter-type="delivery-type">

                    Phone services</label>
                <input tabindex="-1" type="checkbox" id="phone">
            </div>


            <div tabindex="0" class="checkbox-item py-3" data-label="online" filter-type="delivery-type">
                <label id="delivery-online" data-option="online" data-label="online"
                    filter-type="delivery-type">

                    Online services</label>
                <input tabindex="-1" type="checkbox" id="online">
            </div>


        </form>

    </div>

</div>