<div class="guided-search-wrapper {{ include.classes}} px-4 pt-4 mb-5">

    {% if include.page-title %}
    <h1>{{ include.page-title }}</h1>
    {% endif %}
    <div class="bga-component guided-search multiselect mb-4">

        <div class="component-content px-5 py-5 remove-element-padding">

            {% if include.question %}
            <h2 class="mb-2">{{ include.question }}</h2>
            {% endif %}

            {% if include.description %}
                {{ include.description }}
            {% endif %}

            <div class="multi-select-wrapper">
               
                {% if include.select1 %}
                    <span role="button" tabindex="0" class="multi-select "></svg>{{ include.select1 }}</span>
                {% endif %}

                {% if include.select2 %}
                    <span role="button" tabindex="0" class="multi-select">{{ include.select2 }}</span>
                {% endif %}

                {% if include.select3 %}
                    <span role="button" tabindex="0" class="multi-select">{{ include.select3 }}</span>
                {% endif %}

                {% if include.select4 %}
                    <span role="button" tabindex="0" class="multi-select">{{ include.select4 }}</span>
                {% endif %}

                {% if include.select5 %}
                    <span role="button" tabindex="0" class="multi-select">{{ include.select5 }}</span>
                {% endif %}

                {% if include.select6 %}
                    <span role="button" tabindex="0" class="multi-select">{{ include.select6 }}</span>
                {% endif %}

                {% if include.select7 %}
                    <span role="button" tabindex="0" class="multi-select">{{ include.select7 }}</span>
                {% endif %}

                {% if include.select8 %}
                    <span role="button" tabindex="0" class="multi-select">{{ include.select8 }}</span>
                {% endif %}
                   
               
            </div>

            <div class="button-group">

                {% if include.start-again %}
                <a href="" class="start-again">Start again<svg class="ms-2" xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16.01" viewBox="0 0 16 16.01">
                        <path id="Path_10264" data-name="Path 10264"
                            d="M4.01,4v7h7L7.792,7.782A5.919,5.919,0,0,1,12.015,6a6,6,0,1,1-5.654,8.005H4.28A8,8,0,1,0,6.361,6.351Z"
                            transform="translate(-4.01 -4)"/>
                    </svg>
                </a>
                {% endif %}

                {% if include.previous %}
                <a href="" class="previous">Previous</a>
                {% endif %}


                <a class="bga-btn bga-primary-btn bkg-light" tabindex="0" href="" role="button">{{ include.button }}</a>
            </div>

        </div>


    </div>

    {% if include.need %}
    {{ include.need }}
    {% endif %}

    {% if include.get %}
    {{ include.get }}
    {% endif %}

</div>