<div class="bga-component-wrapper h-100 pb-5">
<a href="" tabindex="0" class="bga-component standard-pathway image-pathway {{ include.classes }} m-0">

    <div class="component-image">
            <img src= {{ include.image }} alt="" />
        </div>
    <div class="p-4 component-content">

        <div class="component-text p-0">
            <h3 class="tile-title pt-0">{{ include.title }}</h3>
            <p class="mb-4">{{ include.description }}</p>
        </div>

        <div class="arrow-icon">
            <img src={{ include.icon1 }} alt=""/>
        </div>

    </div>

</a>
</div>