<div class="bga-inpage-feedback remove-element-padding mt-5 mb-5 p-0" {% if include.id %} id="{{include.id}}-feedback-example" {% else %} id="feedback-example"{% endif %} >

    <div class="row"> 
        
        <div class="{{ include.classes }}">

        <form>

            <div class="initial-question show pt-5">

                <p class="h4-font-size mb-0 me-3">Was this page helpful?</p>

                <div class="button-example">
                    <div class="bga-btn bga-secondary-btn bkg-light yes" tabindex="0" role="button"><span>Yes</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="27" viewBox="0 0 24 27">
                        <g data-name="Group 22125" transform="translate(-795 -613)">
                            <rect data-name="Rectangle 4762" width="24" height="27" transform="translate(795 613)" fill="none"/>
                            <path class="fill" data-name="Path 3808" d="M1,21H4.636V9H1ZM21,10a1.921,1.921,0,0,0-1.818-2H13.445l.864-4.57.027-.32a1.584,1.584,0,0,0-.4-1.06L12.973,1,6.991,7.59A2.056,2.056,0,0,0,6.455,9V19a1.921,1.921,0,0,0,1.818,2h8.182a1.813,1.813,0,0,0,1.673-1.22l2.745-7.05A2.15,2.15,0,0,0,21,12Z" transform="translate(796 612)" fill="#333"/>
                        </g>
                        </svg>
                    </div>
                    <div class="bga-btn bga-secondary-btn bkg-light no" tabindex="0" role="button"><span>No</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="27" viewBox="0 0 24 27">
                            <g data-name="Group 22124" transform="translate(-937 -613)">
                              <rect data-name="Rectangle 4763" width="24" height="27" transform="translate(937 613)" fill="none"/>
                              <path class="fill" data-name="Path 3809" d="M0,20H3.636V8H0ZM20,9a1.921,1.921,0,0,0-1.818-2H12.445l.864-4.57.027-.32a1.584,1.584,0,0,0-.4-1.06L11.973,0,5.991,6.59A2.056,2.056,0,0,0,5.455,8V18a1.921,1.921,0,0,0,1.818,2h8.182a1.813,1.813,0,0,0,1.673-1.22l2.745-7.05A2.15,2.15,0,0,0,20,11Z" transform="translate(959 640) rotate(180)" fill="#333"/>
                            </g>
                          </svg>
                    </div>
                </div>

            </div>


            <div class="yes-answer pt-5">
                <p class="h4-font-size mb-0">Thanks for sharing your feedback with us.</p>
            </div>

            <div class="no-answer">
                <p class="h4-font-size mt-5 mb-3">Why not?</p>

                <div class="checkboxes-container">
                    <div class="checkboxes">
                        <input class="checkbox m-0" type="checkbox" value="" id="could-not-find">
                        <label class="form-check-label" for="could-not-find">I couldn’t find what I was looking
                            for</label>
                    </div>

                    <div class="checkboxes">
                        <input class="checkbox m-0" type="checkbox" value="" id="layout-style">
                        <label class="form-check-label" for="layout-style">The layout or style made it hard to
                            read</label>
                    </div>

                    <div class="checkboxes">
                        <input class="checkbox m-0" type="checkbox" value="" id="not-useful">
                        <label class="form-check-label" for="not-useful">The information wasn’t useful to me</label>
                    </div>

                    <div class="checkboxes">
                        <input class="checkbox m-0" type="checkbox" value="" id="confusing">
                        <label class="form-check-label" for="confusing">The information was confusing</label>
                    </div>

                    <div class="checkboxes">
                        <input class="checkbox m-0" type="checkbox" value="" id="technical-issue">
                        <label class="form-check-label" for="technical-issue">I had a technical issue</label>
                    </div>

                    <div class="checkboxes">
                        <input class="checkbox other m-0" type="checkbox" value="" id="something-else">
                        <label class="form-check-label" for="something-else">Something else</label>
                    </div>
                </div>

                <div class="textarea-container mt-4">

                    <div class="form-example">

                        <label for="textarea-example" class="form-label mb-3">Provide your feedback below. We can’t
                            respond to queries submitted through this form, so please don’t include any personal
                            details.</label>

                        <div class="form-element-wrapper mb-3">

                            <div class="hwt-container">
                                <div class="hwt-backdrop">
                                    <div class="hwt-highlights hwt-content"></div>
                                </div>
                                <textarea id="textarea-example" data-count="1500" name="form-text-area" type="text"
                                    value="" maxlength="" placeholder=""
                                    class="example-form-element hwt-input hwt-content mb-0"></textarea>

                            </div>

                        </div>
                        <p class="textarea-char-count mb-3 under">0 of 1500 characters used</p>

                    </div>

                </div>

                <div class="button-example my-5">
                    <div class="bga-btn bga-primary-btn bkg-light" tabindex="0" role="button">Submit</div>
                </div>

                <p class="mini mb-0">This site is protected by reCAPTCHA and the <a href="" class="external">Google Privacy Policy</a> and <a href="" class="external">Terms of Service</a> apply</p>

            </div>

            <div class="thank-you-container pt-5">
                <p class="h4-font-size mb-0">Thanks for sharing your feedback with us. If you need help finding
                    information and support, <a href="" tabindex="0">contact us</a>.</p>
            </div>

        </form>

    </div>
</div>

</div>