<div class="bga-component-wrapper pb-5">
    <div tabindex="0" class="bga-component list-group {{ include.classes }} m-0">

        <ul class="">
            <li class="p-2 m-0">Balonne</li>
            <li class="p-2 m-0">Flinders</li>
            <li class="p-2 m-0">Quilpie</li>
            <li class="p-2 m-0">Banana</li>
            <li class="p-2 m-0">Goondiwindi</li>
            <li class="p-2 m-0">Richmond</li>
            <li class="p-2 m-0">Barcaldine</li>
            <li class="p-2 m-0">Lockyer Valley</li>
            <li class="p-2 m-0">Scenic Rim</li>
            <li class="p-2 m-0">Barcoo</li>
            <li class="p-2 m-0">Longreach</li>
            <li class="p-2 m-0">Somerset</li>
          </ul>
         
    </div>
</div>