<div class="bga-component-wrapper pb-5">
<div class="bga-component mini-list {{include.classes}} m-0">
   
    <div class="accordion mini-list">

        {% if include.item1 == "true" %}    
            <div class="accordion-item mb-1" tabindex="-1">
                <h5 class="accordion-header pt-0" id="{{include.layout-name}}-1">
                    <button tabindex="0" class="accordion-button collapsed remove-element-padding py-3 ps-3 pe-4" type="button" data-bs-toggle="collapse" data-bs-target="#{{include.layout-name=}}-collapseOne" aria-expanded="false" aria-controls="{{include.layout-name=}}-collapseOne">
                        <div class="icon-wrapper me-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15.797" height="11.361" viewBox="0 0 15.797 11.361">
                            <path d="M0,6.654,1.873,4.921l3.3,3.011L13.907,0,15.8,1.707,5.178,11.361Z" fill="#333"/>
                          </svg>
                          </div>
                        <p class="pe-3"><strong>{{ include.title1 }}</strong></p>
                    </button>
                </h5>
                <div id="{{include.layout-name}}-collapseOne" class="accordion-collapse collapse" aria-labelledby="{{include.layout-name=}}-1" >
                    <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">
                       
                        {{ include.content1 }}

                    </div>
                </div>
            </div>
        {% endif %}

        
        {% if include.item2 == "true" %}    
            <div class="accordion-item mb-1">
                <h5 class="accordion-header pt-0" id="{{include.layout-name}}-2">
                    <button class="accordion-button collapsed remove-element-padding py-3 ps-3 pe-4" type="button" data-bs-toggle="collapse" data-bs-target="#{{include.layout-name=}}-collapseTwo" aria-expanded="false" aria-controls="{{include.layout-name=}}-collapseTwo">
                        <div class="icon-wrapper me-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15.797" height="11.361" viewBox="0 0 15.797 11.361">
                            <path d="M0,6.654,1.873,4.921l3.3,3.011L13.907,0,15.8,1.707,5.178,11.361Z" fill="#333"/>
                          </svg>
                          </div>
                        <p class="pe-3"><strong>{{ include.title2 }}</strong></p>
                    </button>
                </h5>
                <div id="{{include.layout-name}}-collapseTwo" class="accordion-collapse collapse" aria-labelledby="{{include.layout-name=}}-2" >
                    <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">
                        
                        {{ include.content2 }}
                       
                    </div>
                </div>
            </div>
        {% endif %}


        {% if include.item3 == "true" %}   
            <div class="accordion-item">
                <h5 class="accordion-header pt-0" id={{include.layout-name}}-3">
                    <button class="accordion-button collapsed remove-element-padding py-3 ps-3 pe-4" type="button" data-bs-toggle="collapse" data-bs-target="#{{include.layout-name=}}-collapseThree" aria-expanded="false" aria-controls="{{include.layout-name=}}-collapseThree">
                        <div class="icon-wrapper me-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15.797" height="11.361" viewBox="0 0 15.797 11.361">
                            <path d="M0,6.654,1.873,4.921l3.3,3.011L13.907,0,15.8,1.707,5.178,11.361Z" fill="#333"/>
                          </svg>
                          </div>
                        <p class="pe-3"><strong>{{ include.title3 }}</strong></p>
                    </button>
                </h5>
                <div id="{{include.layout-name=}}-collapseThree" class="accordion-collapse collapse" aria-labelledby={{include.layout-name}}-3">
                    
                    <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">
                       
                        {{ include.content3 }}
                       
                    </div>
                </div>

            </div>
        {% endif %}


</div>
          
            
</div>
</div>