<div class="page-header-wrapper {{include.classes}} mb-5">
<div class="bga-component page-header {{ include.header-classes }}">

    <div class="component-content">

        <div class="component-text remove-element-padding">
           
            {% if include.label %}
                <p>{{ include.label }}</p>
            {% endif %}

            <div class="title-wrapper">
            {% if include.header-type %}        
                <h1 class="mb-4 pt-0">{{ include.header-type }}</h1>
            {% endif %}
            </div>
            
            {% if include.updated %}        
                <p class="updated">{{ include.updated }}</p>
            {% endif %}
            
            {% if include.description %}        
                <p class="description">{{ include.description }}</p>
            {% endif %}

            {% if include.stepped-nav %}
              {% include component-examples/stepped-navigation-example %}
            {% endif %}
            
            
        </div>

    </div>

    {% if include.header-image %}   
        <div class="component-image">     
            <img src={{ include.header-image }} alt="" />
        </div>
    {% endif %}   
    
</div>
</div>