<div class="bga-pagination {{include.classes}} remove-element-padding mt-0 mb-5 p-0">

    <div class="pagination-links">
        <ul class="d-flex px-0 pt-0 pb-2 ">
            <li class="first" data-position="first"><a href="">
                    <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                        <g data-name="Icon / chevron double / right" transform="translate(12 12) rotate(180)">
                            <path data-name="Chevron Double / Right"
                                d="M4.5,10.513,9.021,6,4.5,1.487,5.989,0,12,6,5.989,12Zm-4.5,0L4.521,6,0,1.487,1.49,0,7.5,6,1.49,12Z" />
                        </g>
                    </svg>First</a></li>
            <li class="previous" data-position="previous"><a href="">
                    <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="7.5" height="12" viewBox="0 0 7.5 12">
                        <g data-name="Icon / right" transform="translate(7.5 12) rotate(180)">
                            <path data-name="Chevron / Right" d="M4.521,6,0,10.513,1.489,12,7.5,6,1.489,0,0,1.487Z" />
                        </g>
                    </svg>Previous</a></li>
            <li class="number" data-position="1"><a href="">1</a></li>
            <li class="number current" data-position="2"><a href="">2</a></li>
            <li class="number" data-position="3"><a href="">3</a></li>
            <li class="number" data-position="4"><a href="">4</a></li>
            <li class="number" data-position="5"><a href="">5</a></li>
            <li class="number hidden" data-position="6"><a href="">6</a></li>
            <li class="number hidden" data-position="7"><a href="">7</a></li>
            <li class="number hidden" data-position="8"><a href="">8</a></li>

            <li class="next" data-position="next"><a href="">
                    Next
                    <svg class="ms-2" data-name="Icon / right" xmlns="http://www.w3.org/2000/svg" width="7.5" height="12"
                        viewBox="0 0 7.5 12">
                        <path data-name="Chevron / Right" d="M4.521,6,0,10.513,1.489,12,7.5,6,1.489,0,0,1.487Z" />
                    </svg>
                </a></li>
            <li class="last" data-position="last"><a href="">
                    Last
                    <svg class="ms-2" data-name="Icon / chevron double / right" xmlns="http://www.w3.org/2000/svg" width="12"
                        height="12" viewBox="0 0 12 12">
                        <path data-name="Chevron Double / Right"
                            d="M4.5,10.513,9.021,6,4.5,1.487,5.989,0,12,6,5.989,12Zm-4.5,0L4.521,6,0,1.487,1.49,0,7.5,6,1.49,12Z" />
                    </svg>
                </a></li>
        </ul>   
    </div>


    <div class="below-pagination mt-2 d-flex">
        <div class="page-number remove-element-padding">
            <p>Page <span>2</span> of 8</p>
        </div>
        <div class="items-number d-flex">
            <p class="m-0">Results per page</p>
            <select id="results-per-page">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
        </div>
    </div>


</div>