<div id="subsite-header" class="pathway-to-services">

    <div class="strap-wrapper">
        <div class="bga-link-strap p-0">

            <div class="container">

                <div class="row">
                    <div class="col-6">
                      
                            <a tabindex="0" class="return-link p-0">
                                <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="10" height="16"
                                    viewBox="0 0 10 16">
                                    <path id="Path_8941" data-name="Path 8941"
                                        d="M115.972,22,122,28.018,120.014,30,112,22l8.014-8L122,15.982Z"
                                        transform="translate(-112 -14)" fill="#fff" fill-rule="evenodd" />
                                </svg><span>Return to export.gov.au</span></a>
                    
                    </div>


                    <div class="col-6 secondary-links">

                        <button tabindex="0"class="service-links-trigger m-0">
                            <a tabindex="1" class="p-0 m-0">Sign in to business service portals</a><svg class="ms-2"
                                xmlns="http://www.w3.org/2000/svg" width="16" height="10" viewBox="0 0 16 10">
                                <g data-name="Icon / chevron / down" transform="translate(32 30)">
                                    <path data-name="Chevron / Down"
                                        d="M6.028,8,0,14.018,1.986,16,10,8,1.986,0,0,1.982Z"
                                        transform="translate(-16 -30) rotate(90)" fill="#fff" />
                                </g>
                            </svg>
                        </button>

                    </div>


                </div>

            </div>

        </div>



        <div class="container service-links-container">

            <div class="row">
                <div class="col-12">
                    <div class="service-links-wrapper p-4 text-start remove-element-padding">

                        <h4>Select from the list of business services below. You will be redirected to the sign in portal for each service.</h4>

                        <ul class="service-links p-3">
                            <li class="pb-3 mb-3">
                                <a class="bga-link bga-tertiary-link bkg-light mt-0 mb-2" tabindex="0" href=""
                                    role="button">Grants portal</a>
                                Apply for and manage a grant for your business.
                            </li>

                            <li class="pb-3 mb-3">
                                <a class="bga-link bga-tertiary-link bkg-light mt-0 mb-2" tabindex="0" href=""
                                    role="button">Business Registration Service</a>
                                Apply for key business and tax registrations in one place.
                            </li>

                            <li class="pb-3 mb-3">
                                <a class="bga-link bga-tertiary-link bkg-light mt-0 mb-2" tabindex="0" href=""
                                    role="button">Research and Development Tax Incentive portal</a>
                                Manage your interactions with the R&D Tax Incentive program.
                            </li>


                        </ul>
                    </div>

                </div>

            </div>

        </div>



    </div>


</div>