<div class="bga-component-wrapper pb-5">
    <div class="bga-component bga-pathway-accordion {{ include.classes }} m-0">

        <button class="accordion-toggle mt-4 pb-0 px-0 mb-4">
            <span>Open all</span>
            <svg class="ms-2" data-name="Icon / chevron / down" xmlns="http://www.w3.org/2000/svg" width="16"
                height="10" viewBox="0 0 16 10">
                <path data-name="Chevron / Down" d="M6.028,8,0,14.018,1.986,16,10,8,1.986,0,0,1.982Z"
                    transform="translate(16) rotate(90)" fill="#333" />
            </svg>
        </button>

        <div class="accordion">

            <!-- ITEM 1 -->
            {% if include.item1 %}
            <div class="accordion-item {{ include.item1 }} mb-4" tabindex="-1">

                <!-- Item header -->
                <h5 class="accordion-header pt-0" id="{{include.item1-name}}">
                    <button tabindex="0" class="accordion-button collapsed remove-element-padding" type="button"
                        data-bs-toggle="collapse" data-bs-target="#{{include.item1-name=}}-collapseOne"
                        aria-expanded="false" aria-controls="{{include.item1-name=}}-collapseOne">
                        <div class="img-wrapper">
                            <img src={{ include.img1 }} alt="" />
                        </div>
                        <div class="title-wrapper remove-element-padding p-4">
                            <h3 class="pe-4">{{ include.title1 }}</h3>
                            <p>{{ include.description1 }}</p>
                        </div>
                        <div class="chevron-wrapper px-5">
                            <svg data-name="Icon / chevron / down" xmlns="http://www.w3.org/2000/svg" width="28"
                                height="18" viewBox="0 0 28 18">
                                <path data-name="Chevron / Down" d="M10.851,14,0,24.531,3.575,28,18,14,3.575,0,0,3.469Z"
                                    transform="translate(28) rotate(90)" fill="#333" />
                            </svg>

                        </div>
                    </button>
                </h5>

                <!-- Item body-->
                <div id="{{include.item1-name}}-collapseOne" class="accordion-collapse collapse"
                    aria-labelledby="{{include.item1-name}}">
                    <div class="accordion-body remove-element-padding px-4 pt-4 pb-0">

                        {% if include.item1-content1 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item1-content1-tag }} mb-4">
                                    {{ include.item1-content1-tag }}
                                </div>

                                <div class="content remove-element-padding">
                                    {{ include.item1-content1 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2" data-name="Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item1-content1-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                        {% if include.item1-content2 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item1-content2-tag }} mb-4">
                                    {{ include.item1-content2-tag }}
                                </div>


                                <div class="content remove-element-padding">
                                    {{ include.item1-content2 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2" data-name="Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item1-content2-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                        {% if include.item1-content3 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item1-content3-tag }} mb-4">
                                    {{ include.item1-content3-tag }}
                                </div>


                                <div class="content remove-element-padding">
                                    {{ include.item1-content3 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2" data-name="Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item1-content3-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                        {% if include.item1-content4 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item1-content4-tag }} mb-4">
                                    {{ include.item1-content4-tag }}
                                </div>


                                <div class="content remove-element-padding">
                                    {{ include.item1-content4 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2"" data-name=" Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item1-content4-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                    </div>
                </div>
            </div>
            {% endif %}


            <!-- ITEM 2 -->
            {% if include.item2 %}
            <div class="accordion-item {{ include.item2 }} mb-4" tabindex="-1">

                <!-- Item header -->
                <h5 class="accordion-header pt-0 " id="{{include.item2-name}}">
                    <button tabindex="0" class="accordion-button collapsed remove-element-padding" type="button"
                        data-bs-toggle="collapse" data-bs-target="#{{include.item2-name=}}-collapseOne"
                        aria-expanded="false" aria-controls="{{include.item2-name=}}-collapseOne">
                        <div class="img-wrapper">
                            <img src={{ include.img2 }} alt="" />
                        </div>
                        <div class="title-wrapper remove-element-padding p-4">
                            <h3 class="pe-4">{{ include.title2 }}</h3>
                            <p>{{ include.description2 }}</p>
                        </div>
                        <div class="chevron-wrapper px-5">
                            <svg data-name="Icon / chevron / down" xmlns="http://www.w3.org/2000/svg" width="28"
                                height="18" viewBox="0 0 28 18">
                                <path data-name="Chevron / Down" d="M10.851,14,0,24.531,3.575,28,18,14,3.575,0,0,3.469Z"
                                    transform="translate(28) rotate(90)" fill="#333" />
                            </svg>

                        </div>
                    </button>
                </h5>

                <!-- Item body-->
                <div id="{{include.item2-name}}-collapseOne" class="accordion-collapse collapse"
                    aria-labelledby="{{include.item2-name}}">
                    <div class="accordion-body remove-element-padding px-4 pt-4 pb-0">

                        {% if include.item2-content1 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item2-content1-tag }} mb-4">
                                    {{ include.item2-content1-tag }}
                                </div>

                                <div class="content remove-element-padding">
                                    {{ include.item2-content1 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2" data-name="Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item2-content1-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                        {% if include.item2-content2 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item2-content2-tag }} mb-4">
                                    {{ include.item2-content2-tag }}
                                </div>


                                <div class="content remove-element-padding">
                                    {{ include.item2-content2 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2" data-name="Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item2-content2-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                        {% if include.item2-content3 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item2-content3-tag }} mb-4">
                                    {{ include.item2-content3-tag }}
                                </div>


                                <div class="content remove-element-padding">
                                    {{ include.item2-content3 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2" data-name="Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item2-content3-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                        {% if include.item2-content4 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item2-content4-tag }} mb-4">
                                    {{ include.item2-content4-tag }}
                                </div>


                                <div class="content remove-element-padding">
                                    {{ include.item2-content4 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2"" data-name=" Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item2-content4-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                    </div>
                </div>
            </div>
            {% endif %}


            <!-- ITEM 3 -->
            {% if include.item3 %}
            <div class="accordion-item {{ include.item3 }} mb-4" tabindex="-1">

                <!-- Item header -->
                <h5 class="accordion-header pt-0 " id="{{include.item3-name}}">
                    <button tabindex="0" class="accordion-button collapsed remove-element-padding" type="button"
                        data-bs-toggle="collapse" data-bs-target="#{{include.item3-name=}}-collapseOne"
                        aria-expanded="false" aria-controls="{{include.item3-name=}}-collapseOne">
                        <div class="img-wrapper">
                            <img src={{ include.img3 }} alt="" />
                        </div>
                        <div class="title-wrapper remove-element-padding p-4">
                            <h3 class="pe-4">{{ include.title3 }}</h3>
                            <p>{{ include.description3 }}</p>
                        </div>
                        <div class="chevron-wrapper px-5">
                            <svg data-name="Icon / chevron / down" xmlns="http://www.w3.org/2000/svg" width="28"
                                height="18" viewBox="0 0 28 18">
                                <path data-name="Chevron / Down" d="M10.851,14,0,24.531,3.575,28,18,14,3.575,0,0,3.469Z"
                                    transform="translate(28) rotate(90)" fill="#333" />
                            </svg>

                        </div>
                    </button>
                </h5>

                <!-- Item body-->
                <div id="{{include.item3-name}}-collapseOne" class="accordion-collapse collapse"
                    aria-labelledby="{{include.item3-name}}">
                    <div class="accordion-body remove-element-padding px-4 pt-4 pb-0">

                        {% if include.item3-content1 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item3-content1-tag }} mb-4">
                                    {{ include.item3-content1-tag }}
                                </div>

                                <div class="content remove-element-padding">
                                    {{ include.item3-content1 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2" data-name="Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item3-content1-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                        {% if include.item3-content2 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item3-content2-tag }} mb-4">
                                    {{ include.item3-content2-tag }}
                                </div>


                                <div class="content remove-element-padding">
                                    {{ include.item3-content2 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2" data-name="Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item3-content2-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                        {% if include.item3-content3 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item3-content3-tag }} mb-4">
                                    {{ include.item3-content3-tag }}
                                </div>


                                <div class="content remove-element-padding">
                                    {{ include.item3-content3 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2" data-name="Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item3-content3-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                        {% if include.item3-content4 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item3-content4-tag }} mb-4">
                                    {{ include.item3-content4-tag }}
                                </div>


                                <div class="content remove-element-padding">
                                    {{ include.item3-content4 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2"" data-name=" Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item3-content4-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                    </div>
                </div>
            </div>
            {% endif %}


            <!-- ITEM 4 -->
            {% if include.item4 %}
            <div class="accordion-item {{ include.item4 }} mb-4" tabindex="-1">

                <!-- Item header -->
                <h5 class="accordion-header pt-0 " id="{{include.item4-name}}">
                    <button tabindex="0" class="accordion-button collapsed remove-element-padding" type="button"
                        data-bs-toggle="collapse" data-bs-target="#{{include.item4-name=}}-collapseOne"
                        aria-expanded="false" aria-controls="{{include.item4-name=}}-collapseOne">
                        <div class="img-wrapper">
                            <img src={{ include.img4 }} alt="" />
                        </div>
                        <div class="title-wrapper remove-element-padding p-4">
                            <h3 class="pe-4">{{ include.title4 }}</h3>
                            <p>{{ include.description4 }}</p>
                        </div>
                        <div class="chevron-wrapper px-5">
                            <svg data-name="Icon / chevron / down" xmlns="http://www.w3.org/2000/svg" width="28"
                                height="18" viewBox="0 0 28 18">
                                <path data-name="Chevron / Down" d="M10.851,14,0,24.531,3.575,28,18,14,3.575,0,0,3.469Z"
                                    transform="translate(28) rotate(90)" fill="#333" />
                            </svg>

                        </div>
                    </button>
                </h5>

                <!-- Item body-->
                <div id="{{include.item4-name}}-collapseOne" class="accordion-collapse collapse"
                    aria-labelledby="{{include.item4-name}}">
                    <div class="accordion-body remove-element-padding px-4 pt-4 pb-0">

                        {% if include.item4-content1 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item4-content1-tag }} mb-4">
                                    {{ include.item4-content1-tag }}
                                </div>

                                <div class="content remove-element-padding">
                                    {{ include.item4-content1 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2" data-name="Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item4-content1-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                        {% if include.item4-content2 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item4-content2-tag }} mb-4">
                                    {{ include.item4-content2-tag }}
                                </div>


                                <div class="content remove-element-padding">
                                    {{ include.item4-content2 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2" data-name="Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item4-content2-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                        {% if include.item4-content3 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item4-content3-tag }} mb-4">
                                    {{ include.item4-content3-tag }}
                                </div>


                                <div class="content remove-element-padding">
                                    {{ include.item4-content3 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2" data-name="Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item4-content3-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                        {% if include.item4-content4 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item4-content4-tag }} mb-4">
                                    {{ include.item4-content4-tag }}
                                </div>


                                <div class="content remove-element-padding">
                                    {{ include.item4-content4 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2"" data-name=" Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item4-content4-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                    </div>
                </div>
            </div>
            {% endif %}



            <!-- ITEM 5 -->
            {% if include.item5 %}
            <div class="accordion-item {{ include.item5 }} mb-4" tabindex="-1">

                <!-- Item header -->
                <h5 class="accordion-header pt-0 " id="{{include.item5-name}}">
                    <button tabindex="0" class="accordion-button collapsed remove-element-padding" type="button"
                        data-bs-toggle="collapse" data-bs-target="#{{include.item5-name=}}-collapseOne"
                        aria-expanded="false" aria-controls="{{include.item5-name=}}-collapseOne">
                        <div class="img-wrapper">
                            <img src={{ include.img5 }} alt="" />
                        </div>
                        <div class="title-wrapper remove-element-padding p-4">
                            <h3 class="pe-4">{{ include.title5 }}</h3>
                            <p>{{ include.description5 }}</p>
                        </div>
                        <div class="chevron-wrapper px-5">
                            <svg data-name="Icon / chevron / down" xmlns="http://www.w3.org/2000/svg" width="28"
                                height="18" viewBox="0 0 28 18">
                                <path data-name="Chevron / Down" d="M10.851,14,0,24.531,3.575,28,18,14,3.575,0,0,3.469Z"
                                    transform="translate(28) rotate(90)" fill="#333" />
                            </svg>

                        </div>
                    </button>
                </h5>

                <!-- Item body-->
                <div id="{{include.item5-name}}-collapseOne" class="accordion-collapse collapse"
                    aria-labelledby="{{include.item5-name}}">
                    <div class="accordion-body remove-element-padding px-4 pt-4 pb-0">

                        {% if include.item5-content1 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item5-content1-tag }} mb-4">
                                    {{ include.item5-content1-tag }}
                                </div>

                                <div class="content remove-element-padding">
                                    {{ include.item5-content1 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2" data-name="Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item5-content1-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                        {% if include.item5-content2 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item5-content2-tag }} mb-4">
                                    {{ include.item5-content2-tag }}
                                </div>


                                <div class="content remove-element-padding">
                                    {{ include.item5-content2 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2" data-name="Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item5-content2-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                        {% if include.item5-content3 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item5-content3-tag }} mb-4">
                                    {{ include.item5-content3-tag }}
                                </div>


                                <div class="content remove-element-padding">
                                    {{ include.item5-content3 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2" data-name="Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item5-content3-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                        {% if include.item5-content4 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item5-content4-tag }} mb-4">
                                    {{ include.item5-content4-tag }}
                                </div>


                                <div class="content remove-element-padding">
                                    {{ include.item5-content4 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2"" data-name=" Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item5-content4-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                    </div>
                </div>
            </div>
            {% endif %}


            <!-- ITEM 6 -->
            {% if include.item6 %}
            <div class="accordion-item {{ include.item6 }} mb-4" tabindex="-1">

                <!-- Item header -->
                <h5 class="accordion-header pt-0 " id="{{include.item6-name}}">
                    <button tabindex="0" class="accordion-button collapsed remove-element-padding" type="button"
                        data-bs-toggle="collapse" data-bs-target="#{{include.item6-name=}}-collapseOne"
                        aria-expanded="false" aria-controls="{{include.item6-name=}}-collapseOne">
                        <div class="img-wrapper">
                            <img src={{ include.img6 }} alt="" />
                        </div>
                        <div class="title-wrapper remove-element-padding p-4">
                            <h3 class="pe-4">{{ include.title6 }}</h3>
                            <p>{{ include.description6 }}</p>
                        </div>
                        <div class="chevron-wrapper px-5">
                            <svg data-name="Icon / chevron / down" xmlns="http://www.w3.org/2000/svg" width="28"
                                height="18" viewBox="0 0 28 18">
                                <path data-name="Chevron / Down" d="M10.851,14,0,24.531,3.575,28,18,14,3.575,0,0,3.469Z"
                                    transform="translate(28) rotate(90)" fill="#333" />
                            </svg>

                        </div>
                    </button>
                </h5>

                <!-- Item body-->
                <div id="{{include.item6-name}}-collapseOne" class="accordion-collapse collapse"
                    aria-labelledby="{{include.item6-name}}">
                    <div class="accordion-body remove-element-padding px-4 pt-4 pb-0">

                        {% if include.item6-content1 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item6-content1-tag }} mb-4">
                                    {{ include.item6-content1-tag }}
                                </div>

                                <div class="content remove-element-padding">
                                    {{ include.item6-content1 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2" data-name="Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item6-content1-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                        {% if include.item6-content2 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item6-content2-tag }} mb-4">
                                    {{ include.item6-content2-tag }}
                                </div>


                                <div class="content remove-element-padding">
                                    {{ include.item6-content2 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2" data-name="Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item6-content2-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                        {% if include.item6-content3 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item6-content3-tag }} mb-4">
                                    {{ include.item6-content3-tag }}
                                </div>


                                <div class="content remove-element-padding">
                                    {{ include.item6-content3 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2" data-name="Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item6-content3-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                        {% if include.item6-content4 %}

                        <div tabindex="0" class="guide-tile p-4">

                            <div class="tile-content-wrapper">
                                <div class="tag {{ include.item6-content4-tag }} mb-4">
                                    {{ include.item6-content4-tag }}
                                </div>


                                <div class="content remove-element-padding">
                                    {{ include.item6-content4 }}
                                </div>
                            </div>

                            <div class="link">
                                <a tabindex="1" href="">
                                    <svg class="me-2"" data-name=" Icon / arrow / right"
                                        xmlns="http://www.w3.org/2000/svg" width="15.007" height="14.203"
                                        viewBox="0 0 15.007 14.203">
                                        <path data-name="Arrow / Right"
                                            d="M10.479,8.508H0V5.694H10.478L6.584,1.8,8.375,0l6.632,7.1L8.375,14.2,6.584,12.413Z"
                                            fill="#333" />
                                    </svg>{{ include.item6-content4-link }}
                                </a>
                            </div>

                        </div>

                        {% endif %}

                    </div>
                </div>
            </div>
            {% endif %}



        </div>


    </div>
</div>