<div class="bga-component utility-group justify-content-end d-flex {{ include.classes }}">
    <div class="utility-item me-5">
        <div class="utility-icon me-2">
            <svg aria-hidden="true" width="16" height="16">
                <path fill="#2157AA" fill-rule="evenodd"
                    d="M13.6 11.2a2.39 2.39 0 0 0-1.648.658L6.234 9.014a3.194 3.194 0 0 0 0-2.028l5.718-2.844A2.4 2.4 0 1 0 11.2 2.4c0 .108.01.214.024.318l-5.87 2.92A3.184 3.184 0 0 0 3.2 4.8a3.2 3.2 0 1 0 0 6.4c.83 0 1.584-.319 2.153-.838l5.87 2.92A2.4 2.4 0 1 0 13.6 11.2">
                </path>
            </svg>
        </div>
        <a role="button" class="share-popover" tabindex="0" class="utility-button utility-popover">Share</a>

        <div class="share-container remove-element-padding p-2">
            <span class="arrow"></span>
            <div class="share-body">
                
                <div class="utility-item facebook mb-3">
                    <svg class="me-2" id="Icon_facebook" data-name="Icon / facebook" xmlns="http://www.w3.org/2000/svg" width="7.466" height="16" viewBox="0 0 7.466 16">
                        <path id="Mask" d="M4.964,16V8H7.173l.293-2.757h-2.5l0-1.38c0-.719.068-1.1,1.1-1.1H7.45V0H5.241C2.588,0,1.654,1.338,1.654,3.587V5.242H0V8H1.654v8Z" fill="#4569a0"/>
                      </svg>
                      
                    <a href="">Facebook</a>
                </div>

                <div class="utility-item linkedin mb-3">
                    <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="14.716" height="14.046" viewBox="0 0 14.716 14.046">
                        <path id="Mask" d="M5.087,14.046s.041-8.588,0-9.477H8.241V5.911a3.132,3.132,0,0,1,2.843-1.565c2.075,0,3.632,1.354,3.632,4.266v5.433H11.561V8.976c0-1.273-.456-2.143-1.6-2.143A1.727,1.727,0,0,0,8.345,7.985a2.167,2.167,0,0,0-.1.769v5.293Zm-4.9,0V4.568H3.341v9.477ZM1.743,3.275A1.642,1.642,0,1,1,1.785,0a1.643,1.643,0,1,1-.021,3.275Z" fill="#0077b4"/>
                      </svg>
                         
                    <a href="">LinkedIn</a>
                </div>

                <div class="utility-item twitter">
                    <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16.352" viewBox="0 0 16 16.352">
                        <path id="logo" d="M9.522,6.924,15.479,0H14.067L8.9,6.012,4.764,0H0L6.247,9.091,0,16.352H1.412L6.873,10l4.362,6.349H16L9.522,6.924ZM7.589,9.171l-.633-.905L1.92,1.063H4.088L8.152,6.876l.633.905,5.283,7.556H11.9L7.589,9.171Z" fill="#333"/>
                      </svg>                      
                      
                    <a href="">X</a>

                </div>
            </div>
        </div>
    </div>

    <div class="utility-item me-5">
        <div class="utility-icon me-2">
            <svg aria-hidden="true" viewBox="0 0 16 16">
                <path fill="#2157AA" fill-rule="evenodd"
                    d="M15.333 1.5H.667c-.4 0-.667.26-.667.65v11.7c0 .39.267.65.667.65h14.666c.4 0 .667-.26.667-.65V2.15c0-.39-.267-.65-.667-.65zM13.8 4.7L8.467 9.367A1.236 1.236 0 0 1 8 9.5c-.133 0-.333-.067-.467-.133L2.2 4.7c-.267-.267-.333-.667-.067-.933.267-.267.667-.334.934-.067l4.866 4.267L12.8 3.7c.267-.267.667-.2.933.067.334.266.334.666.067.933z">
                </path>
            </svg>
        </div>
        <a role="button" tabindex="0" class="utility-button email-button">Email</a>
    </div>
    <div class="utility-item">
        <div class="utility-icon me-2">
            <svg aria-hidden="true" width="16" height="16">
                <path fill="#2157AA" fill-rule="evenodd"
                    d="M14.101 4.087v2.657H2.044V4.087H0v7.562h2.044v3.474h11.88l.015-3.474h2.018L16 4.087h-1.899zm-1.84 9.606H3.68v-1.84h8.583v1.84zm.205-9.552v.968H3.68V0h8.787v4.14z">
                </path>
            </svg>
        </div>
        <a role="button" tabindex="0" class="utility-button">Print</a>
    </div>
</div>