<div class="sidebar-wrapper save-progress mb-4 p-0 {{include.classes}}">
    <div class="bga-component sidebar m-0 p-0">

        <div class="p-4 component-content">

            <div class="component-text pb-4 remove-element-padding">
                {% if include.title %}
                <h3>{{ include.title }}</h3>
                {% endif %}

                {% if include.text %}
                {{ include.text }}
                {% endif %}

            </div>
            <div class="button-example m-0 p-0">
                <button class="bga-btn bga-primary-btn bkg-light" tabindex="0" href="" role="button">Save progress</button>
            </div>




        </div>

    </div>

    <div class="mobile-chat">
            <button tabindex="0" class="chat open example save-progress">
                <span>Live chat</span>
            </button>
    </div>
</div>


<a href="" class="mt-4 mb-4 clear-progress-link {{ include.classes }}">Clear checklist progress<svg class="ms-2 {{include.classes}}" xmlns="http://www.w3.org/2000/svg" width="16" height="16.01"
        viewBox="0 0 16 16.01">
        <path data-name="Path 9157"
            d="M4.01,4v7h7L7.792,7.782A5.919,5.919,0,0,1,12.015,6a6,6,0,1,1-5.654,8.005H4.28A8,8,0,1,0,6.361,6.351Z"
            transform="translate(-4.01 -4)" />
    </svg></a>

