<div class="bga-component-wrapper sidebar-wrapper colour-example gradient">
<div class="bga-component sidebar sidebar-colours m-0 {{include.classes}}">

    <div class="p-4 component-content">

        <div class="component-text remove-element-padding">
            {% if include.title %}
                <h3>{{ include.title }}</h3>
            {% endif %}
            
            {% if include.text %}
                {{ include.text }}
            {% endif %}
            
        </div>

    </div>

</div>
</div>