<div class="bga-component-wrapper pb-5">
    <div class="bga-component callout-box blue subscribe {{include.classes}} m-0">


        <div class="p-4 component-content">

            <div class="component-text p-0 remove-element-padding">
                {% if include.title %}
                <h2>{{ include.title }}</h2>
                {% endif %}

                {{ include.text }}

                <div class="button-group d-flex">

                    <div class="button-example">
                        <button class="bga-btn bga-primary-btn bkg-light" tabindex="0" href="" role="button">{{ include.button }}
                        </button>
                    </div>

                    <a class="" href="">Privacy policy</a>
                </div>

            </div>


        </div>

    </div>
</div>