<div class="bga-component-wrapper pb-5">
    <div tabindex="0" class="bga-component table {{ include.classes }} m-0">

        {% if include.responsive == "true wide" %}
        <table class="table responsive">
            <thead>
                <tr>
                    <th>Recipient Organisation</th>
                    <th>Project Description</th>
                    <th>Grant (Exc GST)</th>
                    <th>Expected Total Investment (Exc GST)</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="Recipient Organisation" class="toggle-row" id="toggle-row-0">District Council Of
                        Endor</td>
                    <td data-title="Project Description">Materials Development and Design for Electrification and
                        Automation</td>
                    <td data-title="Grant (Exc GST)">$417,000</td>
                    <td data-title="Expected Total Investment (Exc GST)">$417,000</td>
                    <td data-title="State">Victoria</td>
                </tr>

                <tr>
                    <td data-title="Recipient Organisation" class="toggle-row" id="toggle-row-1">Tattoine plantation
                    </td>
                    <td data-title="Project Description">Cyber-Safe Connected Vehicles: Ensuring Secure, Trusted, and
                        Robust Cooperative Automotive Systems</td>
                    <td data-title="Grant (Exc GST)">$494,900</td>
                    <td data-title="Expected Total Investment (Exc GST)">$494,900</td>
                    <td data-title="State">Victoria</td>

                </tr>

            </tbody>
        </table>
        {% endif %}

        {% if include.responsive == "true narrow" %}
        <table class="table responsive">
            <thead>
                <tr>
                    <th>Recipient Organisation</th>
                    <th>Project Description</th>
                    <th>Grant (Exc GST)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="Recipient Organisation" class="toggle-row" id="toggle-row-0">District Council Of
                        Endor</td>
                    <td data-title="Project Description">Materials Development and Design for Electrification and
                        Automation</td>
                    <td data-title="Grant (Exc GST)">$417,000</td>
                </tr>

                <tr>
                    <td data-title="Recipient Organisation" class="toggle-row" id="toggle-row-1">Tattoine plantation
                    </td>
                    <td data-title="Project Description">Cyber-Safe Connected Vehicles: Ensuring Secure, Trusted, and
                        Robust Cooperative Automotive Systems</td>
                    <td data-title="Grant (Exc GST)">$494,900</td>
                </tr>




            </tbody>
        </table>
        {% endif %}


        {% if include.responsive == "false" %}
        <table class="table unresponsive">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Address</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark Otto</td>
                  <td>88 Eighth St, Numbersville, Australia</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob Thornton</td>
                  <td>66 Citizen St, New Zealand</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry the Bird</td>
                  <td>123 Sesame St, U.S.A</td>
                </tr>
              </tbody>
        </table>
        {% endif %}

    </div>
</div>