---

layout: ecb-8-step
title: Employment Contract Tool
stepped-nav-step: Finalise
step-number: 8

---

<div class="container page-content prototype-default-state my-5">

    <div class="row ">

        <div class="col-12">
            <h2>Your contract is ready to be finalised</h2>
            
            <h3>Get your contract now or save your progress in this tool so you can come back and review it later.</h3>

            {% include prototypes/ecb-finalise.html %}
            
        </div>


        <div class="col-12 col-md-11 col-lg-9 col-xl-8">



            <!-- NEXT STEPS -->
            <h2 id="next-steps">Steps to make an offer of employment</h2>


            <div id="checklist-example" class="checklist-wrapper lightweight ">

                <div class="toggle-wrapper pe-4">
                    <button class="checklist-toggle p-0 mb-4">
                        <span>Open all</span>
                        <svg class="ms-2" data-name="Icon / chevron / down" xmlns="http://www.w3.org/2000/svg"
                            width="16" height="10" viewBox="0 0 16 10">
                            <path data-name="Chevron / Down" d="M6.028,8,0,14.018,1.986,16,10,8,1.986,0,0,1.982Z"
                                transform="translate(16) rotate(90)" fill="#333"></path>
                        </svg>
                    </button>
                </div>


                <!-- ITEM 1 -->
                <div class="checklist-item">


                    <div tabindex="0" class="checklist-item-title">
                        <h2><span>1</span> Complete your documents</h2>
                        <div class="icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                                <path data-name="Chevron / Down"
                                    d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z"
                                    transform="translate(20) rotate(90)" fill="#2e3e5a" />
                            </svg>
                        </div>

                    </div>

                    <div class="checklist-sub-item-wrapper step-minimised">

                        <div class="checklist-sub-item">

                            <div class="content-wrapper">
                                <div class="checklist-item-content remove-element-padding">

                                    <p>To complete your contract and letter of offer, you'll need to add some personal
                                        details.</p>
                                    <ul>
                                        <li>Complete the details for you and your employee in the letter of offer.</li>
                                        <li>Consider adding your business logo to the contract to give it a professional
                                            look that is tailored to your business.</li>
                                    </ul>

                                </div>

                                <div class="checklist-item-checkbox">
                                    <div class="close-item" tabindex="0">

                                        <btn><svg xmlns="http://www.w3.org/2000/svg" width="20.001" height="20.001"
                                                viewBox="0 0 20.001 20.001">
                                                <g data-name="Group 15175" transform="translate(-2162.001 -4561.399)">
                                                    <rect width="25.457" height="2.829"
                                                        transform="translate(2164.001 4561.399) rotate(45)"
                                                        fill="#333" />
                                                    <rect data-name="Rectangle" width="25.457" height="2.829"
                                                        transform="translate(2162.001 4579.4) rotate(-45)"
                                                        fill="#333" />
                                                </g>
                                            </svg>
                                            <p>Close</p>
                                        </btn>

                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <hr class="checklist-item-divider" />


                <!-- ITEM 2 -->
                <div class="checklist-item">

                    <div tabindex="0" class="checklist-item-title">
                        <h2><span>2</span> Prepare an employment pack</h2>
                        <div class="icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                                <path data-name="Chevron / Down"
                                    d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z"
                                    transform="translate(20) rotate(90)" fill="#2e3e5a" />
                            </svg>
                        </div>
                    </div>

                    <div class="checklist-sub-item-wrapper step-minimised">

                        <div class="checklist-sub-item">

                            <div class="content-wrapper">
                                <div class="checklist-item-content remove-element-padding">

                                    <p>Once you're happy you've got the right details in both documents, prepare an
                                        employment offer pack with:</p>
                                    <ul>
                                        <li>2 identical copies (one for your employee's records) of the letter of offer
                                            and attached employment contract</li>
                                        <li>the position description, if you have chosen to attach it separately</li>
                                        <li>the <a href="https://www.fairwork.gov.au/employment-conditions/national-employment-standards/fair-work-information-statement" target="blank" class="external">Fair Work Information Statement</a> (you must give this to all employees,
                                            including casuals).</li>
                                        <li>the <a href="https://www.fairwork.gov.au/employment-conditions/national-employment-standards/casual-employment-information-statement" target="blank" class="external">Casual Employment Information Statement</a> (you must give this to casuals).
                                        </li>
                                    </ul>
                                    <p>If you don't have a position description yet, consider using the job description
                                        template on the <a href="https://www.fairwork.gov.au/tools-and-resources/templates#employ" target="blank" class="external">Fair Work Ombudsman website</a>.</p>
                                    <p>You could also add the following to your employment pack (if you don't, make sure
                                        you provide them when your employee starts):</p>
                                    <ul>
                                        <li><a href="https://www.ato.gov.au/forms/tfn-declaration/" target="blank" class="external">a tax file number(TFN) declaration form</a></li>
                                        <li><a href="https://www.ato.gov.au/Forms/Superannuation-(super)-standard-choice-form/" target="blank" class="external">superannuation choice form</a></li>
                                        <li>digital or hard copy of the <a href="https://services.fairwork.gov.au/find-my-award" target="blank" class="external">relevant award</a></li>
                                        <li>your business policies and procedures.</li>
                                    </ul>
                                    <p>Use our <a href="https://business.gov.au/people/employees/hiring-employees">Hiring employees checklist</a> to understand what else you need to do when
                                        you hire someone.</p>

                                </div>

                                <div class="checklist-item-checkbox">
                                    <div class="close-item" tabindex="0">

                                        <btn><svg xmlns="http://www.w3.org/2000/svg" width="20.001" height="20.001"
                                                viewBox="0 0 20.001 20.001">
                                                <g data-name="Group 15175" transform="translate(-2162.001 -4561.399)">
                                                    <rect width="25.457" height="2.829"
                                                        transform="translate(2164.001 4561.399) rotate(45)"
                                                        fill="#333" />
                                                    <rect data-name="Rectangle" width="25.457" height="2.829"
                                                        transform="translate(2162.001 4579.4) rotate(-45)"
                                                        fill="#333" />
                                                </g>
                                            </svg>

                                            <p>Close</p>
                                        </btn>

                                    </div>


                                </div>
                            </div>


                        </div>


                    </div>


                </div>
                <hr class="checklist-item-divider" />


                <!-- ITEM 3 -->
                <div class="checklist-item">


                    <div tabindex="0" class="checklist-item-title">
                        <h2><span>3</span> Consider including other benefits</h2>
                        <div class="icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                                <path data-name="Chevron / Down"
                                    d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z"
                                    transform="translate(20) rotate(90)" fill="#2e3e5a" />
                            </svg>
                        </div>

                    </div>

                    <div class="checklist-sub-item-wrapper step-minimised">

                        <div class="checklist-sub-item">

                            <div class="content-wrapper">
                                <div class="checklist-item-content remove-element-padding">

                                    <p>You may want to provide other benefits that aren't covered in our employment contract, such as:</p>
                                    <ul>
                                    <li><a href="https://www.ato.gov.au/Business/Fringe-benefits-tax/?=Redirected_URL" target="blank" class="external">fringe benefits</a> e.g. a car, phone or car parking</li>
                                    <li><a href="https://www.ato.gov.au/General/Fringe-benefits-tax-(FBT)/Salary-sacrifice-arrangements/" class="external" target="blank">salary sacrificing</a></li>
                                    <li><a href="https://business.gov.au/people/employees/staff-development-and-training">training and development</a>.</li>
                                    </ul>
                                    <p>We suggest you get independent legal or financial advice to set up these arrangements.</p>

                                </div>

                                <div class="checklist-item-checkbox">
                                    <div class="close-item" tabindex="0">

                                        <btn><svg xmlns="http://www.w3.org/2000/svg" width="20.001" height="20.001"
                                                viewBox="0 0 20.001 20.001">
                                                <g data-name="Group 15175" transform="translate(-2162.001 -4561.399)">
                                                    <rect width="25.457" height="2.829"
                                                        transform="translate(2164.001 4561.399) rotate(45)"
                                                        fill="#333" />
                                                    <rect data-name="Rectangle" width="25.457" height="2.829"
                                                        transform="translate(2162.001 4579.4) rotate(-45)"
                                                        fill="#333" />
                                                </g>
                                            </svg>
                                            <p>Close</p>
                                        </btn>

                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <hr class="checklist-item-divider" />


                <!-- ITEM 4 -->
                <div class="checklist-item">


                    <div tabindex="0" class="checklist-item-title">
                        <h2><span>4</span> Provide the paperwork</h2>
                        <div class="icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                                <path data-name="Chevron / Down"
                                    d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z"
                                    transform="translate(20) rotate(90)" fill="#2e3e5a" />
                            </svg>
                        </div>

                    </div>

                    <div class="checklist-sub-item-wrapper step-minimised">

                        <div class="checklist-sub-item">

                            <div class="content-wrapper">
                                <div class="checklist-item-content remove-element-padding">

                                    <p>Provide your potential employee with the employment pack.</p>
                                    <p>Some employers find that doing this in person helps to:</p>
                                    <ul>
                                    <li>establish a good employment relationship</li>
                                    <li>give you both a chance to discuss the conditions</li>
                                    <li>raise any questions.</li>
                                    </ul>

                                </div>

                                <div class="checklist-item-checkbox">
                                    <div class="close-item" tabindex="0">

                                        <btn><svg xmlns="http://www.w3.org/2000/svg" width="20.001" height="20.001"
                                                viewBox="0 0 20.001 20.001">
                                                <g data-name="Group 15175" transform="translate(-2162.001 -4561.399)">
                                                    <rect width="25.457" height="2.829"
                                                        transform="translate(2164.001 4561.399) rotate(45)"
                                                        fill="#333" />
                                                    <rect data-name="Rectangle" width="25.457" height="2.829"
                                                        transform="translate(2162.001 4579.4) rotate(-45)"
                                                        fill="#333" />
                                                </g>
                                            </svg>
                                            <p>Close</p>
                                        </btn>

                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <hr class="checklist-item-divider" />


                <!-- ITEM 5 -->
                <div class="checklist-item">


                    <div tabindex="0" class="checklist-item-title">
                        <h2><span>5</span> Give them time to consider your offer</h2>
                        <div class="icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                                <path data-name="Chevron / Down"
                                    d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z"
                                    transform="translate(20) rotate(90)" fill="#2e3e5a" />
                            </svg>
                        </div>

                    </div>

                    <div class="checklist-sub-item-wrapper step-minimised">

                        <div class="checklist-sub-item">

                            <div class="content-wrapper">
                                <div class="checklist-item-content remove-element-padding">

                                    <p>Give your potential employee a few days to consider your offer. They may want to negotiate some of the terms. Expect this and compromise where possible. You cannot agree to anything that doesn't meet their award or the National Employment Standards.</p>
                                    <p>For help with terms and conditions of employment, you or your employee can contact the <a href="https://www.fairwork.gov.au/" target="blank" class="external">Fair Work Ombudsman</a>.</p>
                                    <p>Make sure they're happy with the employment contract before signing.</p>
                                    <p>If you need to make a few changes, it's probably best to <a href="https://employ.business.gov.au/">start a new contract</a>.</p>

                                </div>

                                <div class="checklist-item-checkbox">
                                    <div class="close-item" tabindex="0">

                                        <btn><svg xmlns="http://www.w3.org/2000/svg" width="20.001" height="20.001"
                                                viewBox="0 0 20.001 20.001">
                                                <g data-name="Group 15175" transform="translate(-2162.001 -4561.399)">
                                                    <rect width="25.457" height="2.829"
                                                        transform="translate(2164.001 4561.399) rotate(45)"
                                                        fill="#333" />
                                                    <rect data-name="Rectangle" width="25.457" height="2.829"
                                                        transform="translate(2162.001 4579.4) rotate(-45)"
                                                        fill="#333" />
                                                </g>
                                            </svg>
                                            <p>Close</p>
                                        </btn>

                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <hr class="checklist-item-divider" />


                <!-- ITEM 6 -->
                <div class="checklist-item">


                    <div tabindex="0" class="checklist-item-title">
                        <h2><span>6</span> Sign the letter of offer</h2>
                        <div class="icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                                <path data-name="Chevron / Down"
                                    d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z"
                                    transform="translate(20) rotate(90)" fill="#2e3e5a" />
                            </svg>
                        </div>

                    </div>

                    <div class="checklist-sub-item-wrapper step-minimised">

                        <div class="checklist-sub-item">

                            <div class="content-wrapper">
                                <div class="checklist-item-content remove-element-padding">

                                    <p>Once they've agreed to the contract terms, ask them to sign the letter of offer and contract to accept the offer and conditions of employment. You should sign the letter and the contract before you give it to your employee, after you have filled out the details.</p>
                                    <p>You should both keep a copy of the contract and letter of offer for your records.</p>
                                    <p>Now that you've both signed, find out how to <a href="https://business.gov.au/people/employees/onboard-new-employees" target="blank" class="external">onboard your new employee</a>.</p>

                                </div>

                                <div class="checklist-item-checkbox">
                                    <div class="close-item" tabindex="0">

                                        <btn><svg xmlns="http://www.w3.org/2000/svg" width="20.001" height="20.001"
                                                viewBox="0 0 20.001 20.001">
                                                <g data-name="Group 15175" transform="translate(-2162.001 -4561.399)">
                                                    <rect width="25.457" height="2.829"
                                                        transform="translate(2164.001 4561.399) rotate(45)"
                                                        fill="#333" />
                                                    <rect data-name="Rectangle" width="25.457" height="2.829"
                                                        transform="translate(2162.001 4579.4) rotate(-45)"
                                                        fill="#333" />
                                                </g>
                                            </svg>
                                            <p>Close</p>
                                        </btn>

                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <hr class="checklist-item-divider" />


                <!-- ITEM 7 -->
                <div class="checklist-item">


                    <div tabindex="0" class="checklist-item-title">
                        <h2><span>7</span> Don’t reuse your contract</h2>
                        <div class="icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                                <path data-name="Chevron / Down"
                                    d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z"
                                    transform="translate(20) rotate(90)" fill="#2e3e5a" />
                            </svg>
                        </div>

                    </div>

                    <div class="checklist-sub-item-wrapper step-minimised">

                        <div class="checklist-sub-item">

                            <div class="content-wrapper">
                                <div class="checklist-item-content remove-element-padding">

                                   <p>If you need a new contract in the future, make sure to come back and use this tool from the beginning. Reusing a contract runs the risk of missing important legal changes and tool updates that help you meet the law.</p>

                                </div>

                                <div class="checklist-item-checkbox">
                                    <div class="close-item" tabindex="0">

                                        <btn><svg xmlns="http://www.w3.org/2000/svg" width="20.001" height="20.001"
                                                viewBox="0 0 20.001 20.001">
                                                <g data-name="Group 15175" transform="translate(-2162.001 -4561.399)">
                                                    <rect width="25.457" height="2.829"
                                                        transform="translate(2164.001 4561.399) rotate(45)"
                                                        fill="#333" />
                                                    <rect data-name="Rectangle" width="25.457" height="2.829"
                                                        transform="translate(2162.001 4579.4) rotate(-45)"
                                                        fill="#333" />
                                                </g>
                                            </svg>
                                            <p>Close</p>
                                        </btn>

                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <hr class="checklist-item-divider" />




            </div>





            <!-- KEEP UP TO DATE -->
            <h2>Keep up to date</h2>

            <p>Make sure you stay on top of any changes to your employee's minimum conditions under the award. Get updates on employment regulations and business news by subscribing to the business.gov.au newsletter.</p>

            {% include component-examples/callout-link-example.html
            link="Subscribe to the business.gov.au newsletter."
            icon="'../../assets/icon-email-white.svg' | relative_url "
            classes="mb-5"
            %}

            <p>You can also <a href="https://www.fairwork.gov.au/about-us/contact-us/subscribe-to-email-updates" target="blank" class="external">subscribe to email updates from the Fair Work Ombudsman</a> to keep up to date with workplace issues in your industry, including changes to pay rates and entitlements under the award.</p>

        </div>


    </div>



    <hr class="section-divider my-5" />


    <!-- BUTTON GROUP -->
    <div class="ecb-button-group final-actions">

        <a class="bga-link  bga-inline-link bkg-light" tabindex="0" href={{ 'prototypes/ecb/review.html' |
            relative_url }} role="button">Previous</a>

        <div class="two-button-group">
        <a data-modal="modal-new-contract" class="bga-btn bga-primary-btn bkg-light modal-trigger" tabindex="0" href="" role="button">Create new contract</a>

        <a data-modal="modal-close-tool" class="bga-btn bga-primary-btn bkg-light modal-trigger" tabindex="0" href="" role="button">Close tool</a>

        </div>

    </div>



</div>


<!-- MODALS -->

<!-- DOWNLOAD MODAL -->
<div id="ecb-modal-download" class="bga-component get-contract-modal modal-example px-4 pb-4 pt-5">

    <button class="close hide m-0 p-0">Close</button>

    <div class="component-content mt-2">

        <div class="component-text p-0 remove-element-padding">

            <div id="step-download-generate" data-id="ecb" class="step remove-element-padding show">

                <div class="animation-wrapper loading-animation d-flex align-items-center mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true" viewBox="0 0 512 512"
                        focusable="false">
                        <path class="" fill="#333333"
                            d="M 288 39.056 v 16.659 c 0 10.804 7.281 20.159 17.686 23.066 C 383.204 100.434 440 171.518 440 256 c 0 101.689 -82.295 184 -184 184 c -101.689 0 -184 -82.295 -184 -184 c 0 -84.47 56.786 -155.564 134.312 -177.219 C 216.719 75.874 224 66.517 224 55.712 V 39.064 c 0 -15.709 -14.834 -27.153 -30.046 -23.234 C 86.603 43.482 7.394 141.206 8.003 257.332 c 0.72 137.052 111.477 246.956 248.531 246.667 C 393.255 503.711 504 392.788 504 256 c 0 -115.633 -79.14 -212.779 -186.211 -240.236 C 302.678 11.889 288 23.456 288 39.056 Z">
                        </path>
                    </svg>
                    <h4 class="m-0 p-0">Generating your contract</h4>
                </div>

            </div>


            <div id="step-success-animation" data-id="ecb" class="step remove-element-padding">
               
                <div class="animation-wrapper d-flex align-items-center mb-3">
                    <div class="bga-animation success-animation show ">
                        <div class="success-icon">

                            <svg class="tick" xmlns="http://www.w3.org/2000/svg" width="18.857" height="14.918"
                                viewBox="0 0 18.857 14.918">
                                <path d="M0,8.737,2.236,6.461l3.945,3.954L16.6,0l2.256,2.241L6.181,14.918Z" fill="#ffffff">
                                </path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
                                <circle cx="22" cy="22" r="20"></circle>
                            </svg>

                        </div>
                    </div>

                <h4 class="m-0 p-0">Download successful</h4>
                </div>

                <div class="download-msg hide">
                    <p>Congratulations on creating and downloading your employment contract. If you can't see the file,
                        check
                        your downloads folder.</p>
                    <p>Follow the next steps to complete your contract and make an offer of employment.</p>

                    <div class="button-example">
                        <button class="bga-btn bga-primary-btn bkg-light success-scroll" tabindex="0" href=""
                            role="button">Next
                            steps</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>



<!-- EMAIL MODAL -->
<div id="ecb-modal-email" class="bga-component modal-example px-4 pb-4 pt-5">

    <button class="close m-0 p-0">Close</button>

    <div class="component-content mt-2">

        <div class="component-text p-0 remove-element-padding">

                <div id="step-email-address" data-id="ecb" class="step remove-element-padding show">
                    <h4>Email your contract</h4>

                    <p>Enter your email to receive a copy of your employment contract and letter of offer in a word document.</p>
                    <p>We will first send a code to your email to verify that it's you.</p>

                    <form id="email-form" class="d-flex mb-4">
                        <input type="text" class="form-control mb-0 me-3" value="">
                        <div class="button-example">
                            <button class="bga-btn bga-primary-btn bkg-light progress-step" tabindex="0" href="" role="button">Email <svg
                                    id="Icon:_Send" data-name="Icon: Send" xmlns="http://www.w3.org/2000/svg" width="18"
                                    height="15.429" viewBox="0 0 18 15.429">
                                    <path id="Path" d="M.009,15.429,18,7.714.009,0,0,6,12.857,7.714,0,9.429Z" fill="#333" />
                                </svg></button>
                        </div>
                    </form>

                    <p class="mini">This site is protected by reCAPTCHA and the <a href="https://policies.google.com/privacy" target="blank" class="external">Google Privacy Policy</a> and <a href="https://policies.google.com/terms" target="blank" class="external">Terms of Service</a> apply</p>

                </div>

                <div id="step-verify-email" data-id="ecb" class="step remove-element-padding">
                    <h4>Verify your email address</h4>

                    <p>We’ve sent a 4 digit code to <strong><span class="user-email">user@emailaddress.com.au</span></strong>.</p>
                    <p>Enter the code below to verify your email address.
                    </p>

                    <form id="verify-form" data-id="ecb" >
                    <fieldset class='number-code'>
                        <div class="d-inline-flex code-inputs">
                            <input name='code' class='code-input py-2 me-2' required/>
                            <input name='code' class='code-input py-2 me-2' required/>
                            <input name='code' class='code-input py-2 me-2' required/>
                            <input name='code' class='code-input py-2' required/>   
                            
                        <div class="success-icon ms-4">
                       
                        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
                            <circle cx="22" cy="22" r="20" />
                          </svg>

                          <svg class="tick" xmlns="http://www.w3.org/2000/svg" width="18.857" height="14.918" viewBox="0 0 18.857 14.918">
                            <path d="M0,8.737,2.236,6.461l3.945,3.954L16.6,0l2.256,2.241L6.181,14.918Z" fill="#ffffff"/>
                          </svg>
                          
                          
                        </div>


                        </div> 
                        <div class="error-msg mt-3 mb-0">
                            <p>Incorrect code. Please enter the code sent to your email address.</p>
                        </div> 
                       
                        <div class="resend remove-element-padding mt-3 mb-5">
                            <p class="mini me-2 mb-0">Didn’t receive the code?</p>
                            <a href="" class="mini">Resend code</a> 
                        </div>


                        </fieldset>
                        
                        <div class="button-example">
                            <button class="bga-btn bga-primary-btn bkg-light progress-step" id="verify-btn" tabindex="0" href="" role="button">Email my contract <svg
                                    id="Icon:_Send" data-name="Icon: Send" xmlns="http://www.w3.org/2000/svg" width="18"
                                    height="15.429" viewBox="0 0 18 15.429">
                                    <path id="Path" d="M.009,15.429,18,7.714.009,0,0,6,12.857,7.714,0,9.429Z" fill="#333" />
                                </svg></button>
                        </div>

                    </form>

                </div>


                <div id="step-email-success" data-id="ecb" class="step remove-element-padding">
                    <h4 class="d-flex align-items-center">Success – we’ve emailed your employment contract</h4>

                    <p>You will need to add in personal details such as your ABN, names and signatures to finalise your contract.</p>
                    <p>Check your inbox and follow the steps on this page to complete your offer.</p>

                    <div class="button-example">
                        <button class="bga-btn bga-primary-btn bkg-light success-scroll" tabindex="0" href="" role="button">Next steps</button>
                    </div>
                </div>

        </div>
    </div>
</div>



<!-- SAVE AND EXIT MODAL -->
{% include prototypes/ecb-save-modal.html %}


<!-- CLOSE TOOL MODAL -->
<div id="modal-close-tool" class="bga-component modal-example px-4 pb-4 pt-5">

    <button class="close m-0 p-0">Close</button>

    <div class="component-content mt-2">

        <div class="component-text p-0 remove-element-padding">

            <h4>Remove your data and close the tool?</h4>

            <p>To protect your privacy, closing the tool will remove any information you have entered.</p>
            <p>To keep your information, make sure you have downloaded or emailed a copy of your contract.</p>
            <p>If you want to make changes to your current contract, click cancel to go back into the tool.</p>

            <div class="ecb-button-group">
              
                <div class="button-example">
                    <a class="bga-btn bga-primary-btn bkg-light clear-tool" tabindex="0" href={{ "prototypes/ecb/redirect.html" | relative_url }} role="button">Yes, close this tool</a>
                </div>
                
                <a class="bga-link me-4 bga-inline-link bkg-light cancel" tabindex="0" href="" role="button">Cancel</a>
            </div>

        </div>
    </div>
</div>



<!-- CREATE NEW CONTRACT MODAL -->
<div id="modal-new-contract" class="bga-component modal-example px-4 pb-4 pt-5">

    <button class="close m-0 p-0">Close</button>

    <div class="component-content mt-2">

        <div class="component-text p-0 remove-element-padding">

            <div class="not-saved">

            <div class="save-contract"> 
                
                <h4>Save this contract before starting again?</h4>
              
                <div class="radios" id="save-contract-radios">
                    <div class="" role="radiogroup">

                        <div class="radio-button alternate pb-1">
                            <input class="form-check-input m-0" value="yes" type="radio" name="save-contract-radios" id="save-yes">
                            <label class="form-check-label" for="save-yes">Yes, save this contract</label>
                        </div>

                        <div class="radio-button alternate pb-1">
                            <input class="form-check-input m-0" value="no" id="save-no" type="radio" name="save-contract-radios">
                            <label class="form-check-label" for="save-no">No, don't save</label>
                        </div>

                    </div>

                </div>
              

            </div>

            <div class="save-no d-none">
              
                <p class="mt-4">Any information you have already entered will be removed.</p>
                
                <div class="ecb-button-group">
                    
                    <div class="button-example">
                    <a class="bga-btn bga-primary-btn bkg-light ecb_new_contract" tabindex="0" href={{ "prototypes/ecb/landing.html" | relative_url }} role="button">Create new contract</a>
                    </div> 

                    <a class="bga-link me-4 bga-inline-link bkg-light cancel" tabindex="0" href="" role="button">Cancel</a>
                        
                </div>
            </div> 
            
            </div>

            <div class="already-saved d-none">
                <h4>You are starting a new contract</h4>
                <p>You have already saved your current contract. You can return to it for another <span class="days-left">X</span> days using the link we emailed you.</p>

                <div class="ecb-button-group">
                    
                    <div class="button-example">
                    <a class="bga-btn bga-primary-btn bkg-light ecb_new_contract" tabindex="0" href={{ "prototypes/ecb/landing.html" | relative_url }} role="button">Create new contract</a>
                    </div> 

                    <a class="bga-link me-4 bga-inline-link bkg-light cancel" tabindex="0" href="" role="button">Cancel</a>
                        
                </div>

            </div>

        </div>
    </div>
</div>







