---

layout: ecb-8-step
title: Employment Contract Tool
stepped-nav-step: Hours
step-number: 2

---

<div class="container page-content prototype-default-state hours-page my-5">


    <!-- HOURS WORKED -->
    <div id="section-hours-of-work" class="row remove-element-padding">

        <h2 >Hours of work</h2>

        <div class="col-12 col-md-8 col-xl-7">
            <div class="question-section remove-element-padding">
            
                    <div class="mb-5 p-0 form-example tool-output-box-include">
                        <label for="hours-worked" class="form-label mb-3"><strong>How many ordinary hours per week will the employee work?</strong></label>
                        <p>The maximum ordinary hours can vary between awards. Check the maximum ordinary hours allowed per week by selecting the award on the hours of work page. If your award isn't listed, choose 'Other' then find it in the linked list of awards.</p>
                        <p>Full-time employees usually work an average of 38 ordinary hours per week, part-time employees work less.</p>
   
                        <div class="textbox-units form-element-wrapper mb-3">
                            <input type="text" class="form-control tool-output-box-input m-0 sm-width" id="hours-worked" value="" required >
                            <p class="m-0">hour(s) per week</p>
                        </div>
    
                  
                    </div>
            
                <div class="bga-component-wrapper">

                    {% include component-examples/tool-output-box-example.html
                        title="Hours of work clause"
                        tag="Included"
                        tag-type="mandatory"
                        content="<p>You are expected to work <span data-answer='hours-worked'>[number]</span> <strong>ordinary hour(s) per week</strong>. We may also request or require you to work additional hours if the additional hours are reasonable.</p>"
                        id="hours-worked"
                    %}
                   
                </div>
            </div>
        </div>

        <div class="h-100 col-12 col-md-4 offset-xl-1">

            {% include component-examples/info-sidebar-example.html
                title="Check the award for hours"
                text="<p>The award sets out the:</p><ul><li>maximum ordinary hours your employee can work in a period (e.g. in a day, week or month)</li><li>minimum hours per shift</li><li>times ordinary hours can be worked (e.g. between 7am to 7pm) – the spread of hours.</li></ul><p>There are also state and territory work health and safety (WHS) rules around work hours to protect employee safety (e.g. to manage fatigue). You can check these with yourlocal WHS regulator.</p><p>If your employee works outside ordinary hours, you may have to pay them extra, e.g. overtime or penalty rates.</p><p>Ordinary hours can be averaged over a roster cycle and don’t need to be the same number of hours each week, for example a 2 week or 4 week roster cycle.</p>"
                classes="inpage teal"
            %}

        </div>

    </div>

    <hr class="section-divider my-5" />


    <!-- FLEXIBLE HOURS -->
    <div id="section-flexible-hours" class="row remove-element-padding">

        <h2>Flexible hours</h2>

        <div class="col-12 col-md-8 col-xl-7">

            <div class="question-section remove-element-padding">
               
                <p>Include this clause to provide for employee requests to work flexible hours.</p>

                {% include component-examples/tool-output-box-example.html
                    title="Flexible hours clause"
                    tag="Optional to include"
                    tag-type="optional"
                    input-label="Include Flexible hours clause (optional)"
                    content="<p>You may have a right to make a written request for flexible working arrangements under the National Employment Standards, including for when to start and end work each day or your location of work. We may refuse your request in writing, but only if we have reasonable business grounds</p>"
                    id="flexible-hours"
                %}

            </div>


        </div>

        <div class="h-100 col-12 col-md-4  offset-xl-1">
            {% include component-examples/info-sidebar-example.html
            title="Why provide flexible hours?"
            text="<p>Flexible hours can help support a positive employment relationship. For example, you might allow your employee to start and finish work earlier on some days to pick their child up from school.</p><p>Some employees are legally entitled to request flexible working arrangements (including flexible hours and patterns of work). You can only refuse these requests if you have a good business reason.</p>"
            classes="inpage teal"
            %}
        </div>

    </div>

    <hr class="section-divider my-5" />


     <!-- AVERAGING HOURS -->
     <div id="section-averaging-hours" class="row remove-element-padding">

        <h2>Averaging hours over more than a week</h2>

        <div class="col-12 col-md-8 col-xl-7">

            <div class="question-section remove-element-padding">
               
                <p>This allows averaging of the employee's ordinary hours over more than one week. This means they can work more one week and less in another. Check the award for specific rules around averaging hours before you select this clause. If your award isn't listed, choose 'Other' then find it in the linked list of awards.</p>

                {% include component-examples/tool-output-box-example.html
                    title="Averaging hours clause"
                    tag="Optional to include"
                    tag-type="optional"
                    input-label="Include Averaging hours clause (optional)"
                    content="<p>Your hours per week may be averaged over more than one week in accordance with the award.</p>"
                    id="averaging-hours"
                %}

            </div>


        </div>

        <div class="h-100 col-12 col-md-4  offset-xl-1">
            {% include component-examples/info-sidebar-example.html
            title="Example"
            text="<p>Cindy works in a café so is under the Restaurant Industry Award. She averages her 38 hours a week by working 76 hours over 2 weeks. She works 42 hours the first week, and 34 hours the second week. 42 + 34 = 76 hours. So over 2 weeks she works an average of 38 hours per week.</p>
            <p>This arrangement is also consistent with other rules in the Restaurant Industry Award about ordinary hours of work.</p>"
            classes="inpage teal"
            %}
        </div>

    </div>

    <hr class="section-divider my-5" />


    <!-- ON CALL OR STAND BY -->
    <div id="section-stand-by" class="row remove-element-padding">

        <h2>On call or stand-by</h2>

        <div class="col-12 col-md-8 col-xl-7">

            <div class="question-section remove-element-padding">
               
                <p>This allows averaging of the employee's ordinary hours over more than one week. This means they can work more one week and less in another. Check the award for specific rules around averaging hours before you select this clause. If your award isn't listed, choose 'Other' then find it in the linked list of awards.</p>

                {% include component-examples/tool-output-box-example.html
                    title="On call or stand-by clause"
                    tag="Optional to include"
                    tag-type="optional"
                    input-label="On call or stand-by clause (optional)"
                    content="<p>We may require you to be on call (on stand-by) for work outside your normal hours.</p>
                    <p>Your on call or stand-by conditions will be in accordance with the award, including:</p>
                    <ul>
                    <li>rostering to be on call</li>
                    <li>pay rates or allowances when on call</li>
                    <li>pay rates if you are called out to work while on call.</li>
                    </ul>"
                    id="stand-by"
                %}

            </div>


        </div>

        <div class="h-100 col-12 col-md-4  offset-xl-1">
            {% include component-examples/info-sidebar-example.html
            title="On call rules"
            text="<p>On call means your employee is ready and available to work if you need them outside their normal work hours. For example, plumbers, medical and technical staff are sometimes needed at short notice to work.</p>
            <p>If you want your employee to be on call (on stand-by), be aware that there may be rules in the award for:</p>
            <ul>
            <li>if and when you're allowed to roster your employee to be on call</li>
            <li>pay rates or allowances when on call</li>
            <li>pay rates if called out to work while on call.</li>
            </ul>
            <p>So, make sure to check the award, regardless of your type of employee.</p>"
            classes="inpage teal"
            %}
        </div>

    </div>

    <hr class="section-divider my-5" />



    <!-- BREAKS -->
    <div id="section-breaks" class="row remove-element-padding">

        <h2 >Breaks</h2>

        <div class="remove-top-spaces col-12 col-md-8 col-xl-7">

            <div class="question-section remove-element-padding">

                <p class="mb-5">This provides a general clause in your employment contract about your employee's entitlement to breaks. Entitlements to breaks vary between awards, so check the award for details.</p>

                {% include component-examples/tool-output-box-example.html
                    title="Breaks clause"
                    tag="Included"
                    tag-type="mandatory"
                    content="<p>Depending on the number of hours you work, you may be entitled to meal breaks. The award sets out:</p><ul><li>the length of the breaks</li><li>when they need to be taken</li><li>the rules about payment.</li></ul><p>You may also be entitled to rest breaks.</p>"
                    id="breaks"
                    classes="pre-included"
                %}
            </div>

        </div>

        <div class="h-100 col-12 col-md-4  offset-xl-1">
            {% include component-examples/info-sidebar-example.html
            title="Breaks vary between awards"
            text="<p>Awards have different rules for rest breaks and meal breaks, including:</p><ul><li>the length of the breaks</li><li>when they need to be taken</li><li>the rules about payment.</li><li>what happens if you don't provide a break.</li></ul><p>Find out more about breaks in your industry on the Fair Work Ombudsman website. If your award isn't listed, choose 'Other' then find it in the linked list of awards.</p>"
            classes="inpage teal"
            %}
        </div>

    </div>

    <hr class="section-divider my-5" />







    <!-- BUTTON GROUP -->
    <div class="ecb-button-group">

        <a class="bga-link bga-inline-link bkg-light" tabindex="0" href={{ 'prototypes/ecb/position.html' | relative_url }} role="button">Previous</a>


        <a class="bga-btn bga-primary-btn bkg-light" tabindex="0" href={{ 'prototypes/ecb/pay.html' | relative_url }} role="button">Next</a>

        <a class="bga-btn bga-primary-btn bkg-light return-to-review d-none" tabindex="0" href={{ 'prototypes/ecb/review.html' | relative_url }} role="button">Return to review</a>

    </div>



</div>

{% include prototypes/ecb-save-footer.html
    title="Don't have time to finish your contract now?"
    content="You can save you progress in this tool and return within the next seven days. We’ll email you a link that you can use to return and finish your contract."
    button="Save and exit"
    button-id="ecb-save-exit"
    %}

<!-- SAVE AND EXIT MODAL -->
{% include prototypes/ecb-save-modal.html %}

