---

layout: ecb-8-step
title: Employment Contract Tool
stepped-nav-step: Obligations
step-number: 5

---

<div class="container page-content prototype-default-state obligations-page my-5">


    <!-- EMPLOYEE OBLIGATIONS -->
    <div id="section-employee-obligations" class="row remove-element-padding">

        <h2>Employee obligations</h2>

        <div class="col-12 col-md-8 col-xl-7">

            <div class="question-section remove-element-padding">
               
                <p>Include this to set expectations of your employee to act in the interests of your business and to follow your policies and procedures.</p>

                {% include component-examples/tool-output-box-example.html
                    title="Employee obligations clause"
                    tag="Optional to include"
                    tag-type="optional"
                    input-label="Include Employee obligations clause (optional)"
                    content="<p>As an employee of our business we expect you to:</p>
                    <ul>
                    <li>carry out your duties to the best of your ability</li>
                    <li>act honestly and in the best interests of the business</li>
                    <li>comply with our business policies and procedures, which we will make available to you (but do not form part of this contract)</li>
                    <li>comply with any other lawful and reasonable directions we provide.</li>
                    </ul>"
                    id="employee-obligations"
                %}

            </div>


        </div>

        <div class="h-100 col-12 col-md-4  offset-xl-1">
            {% include component-examples/info-sidebar-example.html
            title="Examples of policies and procedures"
            text="<p>Depending on your business, your policies and procedures might cover:</p>
            <ul>
            <li>record keeping and privacy</li>
            <li>use of computers, internet and social media</li>
            <li>work health and safety, including emergency procedures</li>
            <li>selling goods and services (e.g. refund policies)</li>
            <li>customer service.</li>
            </ul>"
            classes="inpage teal"
            %}
        </div>

    </div>

    <hr class="section-divider my-5" />



    <!-- CONFLICT OF INTEREST -->
    <div id="section-conflict-of-interest" class="row remove-element-padding">

        <h2>Conflict of interest</h2>

        <div class="col-12 col-md-8 col-xl-7">

            <div class="question-section remove-element-padding">
               
                <p>Include this to ensure your employee gets your permission before:</p>
                <ul>
                <li>working for a competing business</li>
                <li>doing activities that could conflict with your business interests.</li>
                </ul>
                <p>It's important to note that this clause will only apply while your employee is employed with you.</p>

                {% include component-examples/tool-output-box-example.html
                    title="Conflict of interest clause"
                    tag="Optional to include"
                    tag-type="optional"
                    input-label="Include Conflict of interest clause (optional)"
                    content="<p>While employed with us, you must get our written agreement before working for other employers or doing activities that may conflict with the interests of our business.</p>"
                    id="conflict-of-interest"
                %}

            </div>


        </div>

        <div class="h-100 col-12 col-md-4  offset-xl-1">
            {% include component-examples/info-sidebar-example.html
            title="What conflict of interest is"
            text="<p>This is when your employee's personal activities could put your business at a disadvantage while they are working for you. For example, there might be a conflict of interest if your employee:</p>
            <ul>
            <li>starts a business that sells similar products to your business</li>
            <li>accepts a gift from a supplier and gives them preference over other suppliers to your business</li>
            <li>accepts a role on the board of directors for a competing business.</li>
            </ul>
            <p>If you are including this clause in your contract, it’s important to have a process in place for how your employees can report potential conflicts of interests to you and seek your written agreement for them to engage in these activities.</p>
            <p>A conflict of interest clause is not meant to restrict your employee from working elsewhere when it doesn’t conflict with your business interests.</p>
            <p>It also doesn’t mean your employee can’t work for a competing business once they are no longer employed by you.</p>"
            classes="inpage teal"
            %}
        </div>

    </div>

    <hr class="section-divider my-5" />


     <!-- CONFIDENTIALITY -->
     <div id="section-confidentiality" class="row remove-element-padding">

        <h2>Confidentiality</h2>

        <div class="col-12 col-md-8 col-xl-7">

            <div class="question-section remove-element-padding">
               
                <p>This sets out the requirement for your employee to keep confidential information private.</p>

                {% include component-examples/tool-output-box-example.html
                    title="Confidentiality clause"
                    tag="Optional to include"
                    tag-type="optional"
                    input-label="Include Confidentiality clause (optional)"
                    content="<p>You agree not to use or disclose confidential information relating to the business. This includes while you are employed by us and after your employment ends.</p>
                    <p>Confidential information – including trade secrets, pricing structures, documents you create while employed with us, and information on our clients and suppliers – is our property.</p>
                    <p>There are exceptions if:</p>
                    <ul>
                    <li>we have given you our consent</li>
                    <li>you are using the information appropriately to do your work for us</li>
                    <li>the information is already publicly available</li>
                    <li>the information is required by law.</li>
                    </ul>"
                    id="confidentiality"
                %}

            </div>


        </div>

        <div class="h-100 col-12 col-md-4  offset-xl-1">
            {% include component-examples/info-sidebar-example.html
            title="When to use this"
            text="<p>This clause is particularly important if your employee is likely to have access to information such as:</p>
            <ul>
            <li>client and supplier details</li>
            <li>trade secrets</li>
            <li>financial information</li>
            <li>pricing structures.</li>
            </ul>
            <p>Make sure your employee understands what confidential information is, and how to handle it.</p>
            <h3>Prohibition on pay secrecy terms</h3>
            <p>Confidential business information is different to pay secrecy.</p>
            <p>From 7 June 2023, employers are prohibited from entering into a contract of employment or other written agreement that includes a pay secrecy term and will be liable for civil penalties.</p>
            <p>Find out more on pay secrecy in employment contracts, awards and agreements on the Fair Work Ombudsman website.</p>"
            classes="inpage teal"
            %}
        </div>

    </div>

    <hr class="section-divider my-5" />


    <!-- INTELLECTUAL PROPERTY -->
    <div id="section-intellectual-property" class="row remove-element-padding">

        <h2>Intellectual property</h2>

        <div class="col-12 col-md-8 col-xl-7">

            <div class="question-section remove-element-padding">
               
                <p>Include this to protect your business's intellectual property (IP).</p>
                <ul>
                <li>Prevent employees from being able to share or use your IP – while working for you and if they leave your business.</li>
                <li>Make sure that anything an employee creates while working for you is owned by your business.</li>
                </ul>

                {% include component-examples/tool-output-box-example.html
                    title="Intellectual property clause"
                    tag="Optional to include"
                    tag-type="optional"
                    input-label="Include Intellectual property clause (optional)"
                    content="<p>Anything you invent, develop or create in the course of your work with us remains our intellectual property. You must tell us about these works immediately.</p>
                    <p>This includes:</p>
                    <ul>
                    <li>designs</li>
                    <li>logos</li>
                    <li>business and domain names</li>
                    <li>copyright</li>
                    <li>trade marks</li>
                    <li>patents.</li>
                    </ul>
                    <p>You must not use or reproduce any intellectual property owned by us without our consent. This includes after your employment with us ends.</p>"
                    id="intellectual-property"
                %}

            </div>


        </div>

        <div class="h-100 col-12 col-md-4  offset-xl-1">
            {% include component-examples/info-sidebar-example.html
            title="IP examples"
            text="<ul>
                <li>Designs for your products</li>
                <li>Your business logos</li>
                <li>Business and domain names</li>
                <li>Copyright for product design drawings or computer programs</li>
                <li>Trade marks for your logo or brand</li>
                <li>Patents for inventions or processes</li>
                </ul>"
            classes="inpage teal"
            %}
        </div>

    </div>
    

    <hr class="section-divider my-5" />




    <!-- CONSULTATION FOR WORKPLACE CHANGES -->
    <div id="section-workplace-changes" class="row remove-element-padding">

        <h2>Consultation for workplace changes</h2>

        <div class="col-12 col-md-8 col-xl-7">

            <div class="question-section remove-element-padding">
                
                <p>You must consult with your employees about major changes to the workplace, their regular roster or ordinary hours of work.</p>
                <p>For example, you'd need to consult with them before:</p>
                <ul>
                <li>introducing manufacturing equipment that would change their duties</li>
                <li>moving your workplace to a new location</li>
                <li>changing your staffing structure and who staff report to.</li>
                </ul>

                {% include component-examples/tool-output-box-example.html
                    title="Consultation for workplace changes clause"
                    tag="Optional to include"
                    tag-type="optional"
                    input-label="Include Consultation for workplace changes clause (optional)"
                    content="<p>If we intend to make significant changes in the workplace, we will consult with you and your representatives in accordance with the award. This includes major changes to:</p>
                    <ul>
                    <li>our business operations, structure or technology that are likely to significantly affect you</li>
                    <li>your regular roster or ordinary hours of work – if you work regular hours.</li>
                    </ul>"
                    id="workplace-changes"
                %}

            </div>


        </div>

        <div class="h-100 col-12 col-md-4  offset-xl-1">
            {% include component-examples/info-sidebar-example.html
            title="Why consult?"
            text="<p>Consultation is required by law – you'll find consultation requirements in all modern awards. When you consult, you must consider issues that your employees raise, but you don't have to get their agreement to make the changes. There are also requirements under work health and safety legislation to consult on health and safety matters.</p>
            <p>Consultation is also good for your business – it helps you to engage with your employees and minimise disputes.</p>"
            classes="inpage teal"
            %}
        </div>

    </div>
    

    <hr class="section-divider my-5" />


    <!-- DISPUTES -->
    <div id="section-disputes" class="row remove-element-padding">

        <h2>Disputes</h2>

        <div class="col-12 col-md-8 col-xl-7">

            <div class="question-section remove-element-padding">
                
                <p>Include this to get an overview of the process for resolving disputes in your employment contract. Your award sets out this process.</p>

                {% include component-examples/tool-output-box-example.html
                    title="Disputes clause"
                    tag="Optional to include"
                    tag-type="optional"
                    input-label="Include Disputes clause (optional)"
                    content="<p>If you have any concerns about your employment, talk to us first so we can try to solve the issues together. Your award has a dispute resolution term that sets out this process.</p>
                    <p>If the dispute remains unresolved, you or we may refer it to the Fair Work Commission. If this happens, you can be represented by another person or organisation.</p>
                    <p>While the dispute is being resolved, you must continue to work as usual as long as the work complies with any applicable work health and safety legislative requirements.</p>"
                    id="disputes"
                %}

            </div>


        </div>

        <div class="h-100 col-12 col-md-4  offset-xl-1">
            {% include component-examples/info-sidebar-example.html
            title="Managing disputes"
            text="<p>A dispute is when you and your employee disagree about employment conditions and the issues remain.</p>
            <p>A fair process to manage disputes and bring them to an end is good for your business and for your relationship with your employee. Your award has a dispute resolution term that sets out the process for resolving disputes.</p>
            <p>If you can't resolve a dispute yourselves, you or your employee can refer it to the Fair Work Commission. If you both agree, the Commission can then make a ruling about the dispute.</p>
            <p>Find more information, including a best practice guide, on the Fair Work Ombudsman's dispute resolution page.</p>"
            classes="inpage teal"
            %}
        </div>

    </div>
    

    <hr class="section-divider my-5" />










    <!-- BUTTON GROUP -->
    <div class="ecb-button-group">

        <a class="bga-link bga-inline-link bkg-light" tabindex="0" href={{ 'prototypes/ecb/leave.html' | relative_url }} role="button">Previous</a>


        <a class="bga-btn bga-primary-btn bkg-light" tabindex="0" href={{ 'prototypes/ecb/ending-employment.html' | relative_url }} role="button">Next</a>

        <a class="bga-btn bga-primary-btn bkg-light return-to-review d-none" tabindex="0" href={{ 'prototypes/ecb/review.html' | relative_url }} role="button">Return to review</a>

    </div>



</div>


{% include prototypes/ecb-save-footer.html
    title="Don't have time to finish your contract now?"
    content="You can save you progress in this tool and return within the next seven days. We’ll email you a link that you can use to return and finish your contract."
    button="Save and exit"
    button-id="ecb-save-exit"
    %}

<!-- SAVE AND EXIT MODAL -->
{% include prototypes/ecb-save-modal.html %}

