---

layout: ecb-8-step
title: Employment Contract Tool
stepped-nav-step: Position
step-number: 1

---

<div class="container page-content position-page prototype-default-state my-5">


    <!-- POSITION TITLE -->
    <div id="section-position-title" class="row remove-element-padding">

        <h2>Position title</h2>

        <div class="col-12 col-md-8 col-xl-7">
            <div class="question-section remove-element-padding">

                <div class="mb-5 p-0 form-example tool-output-box-include">
                    <label for="position-title" class="form-label mb-3"><strong>What is the employee's position
                            title?</strong></label>
                    <p class="mb-3">e.g. Accounts manager, Sales assistant</p>
                    <input type="text" class="form-control tool-output-box-input mb-4" id="position-title" value="" required>

                    <p>Click anywhere outside the input field to update the clause preview box below.</p>

                </div>


                <div class="bga-component-wrapper mb-5">

                    {% include component-examples/tool-output-box-example.html
                    title="Position clause"
                    tag="Included"
                    tag-type="mandatory"
                    content="You are being employed in the position of <span data-answer='position-title'>[position
                        title]</span>."
                    id="position-title"
                    %}

                </div>

                <p>Clauses marked as "Included" will be added to your employment contract.</p>
            </div>
        </div>

        <div class="h-100 col-12 col-md-4 offset-xl-1">

            {% include component-examples/info-sidebar-example.html
            title="Tip"
            text="<p>If you've already recruited someone, use the position title (or job title) you provided during your
                recruitment process.</p>
            <p>The position title should reflect the work your employee will do. You may also find examples of job
                titles under the applicable award in the classifications section.</p>"
            classes="inpage teal"
            %}

        </div>

    </div>

    <hr class="section-divider my-5" />

    <!-- DUTIES -->
    <div id="section-duties" class="row remove-element-padding">

        <h2>Duties</h2>

        <div class="remove-top-spaces col-12 col-md-8 col-xl-7">

            <div class="question-section remove-element-padding">
                <p>You should provide your new employee with a description or outline of their duties and
                    responsibilities so they understand what they're being employed to do.</p>
                <p class="mb-3">You may attach your employee's duties and responsibilities in a separate position
                    description, or outline them here within the contract.</p>

                <div class="mb-4 p-0 ">
                    <div class="form-element-wrapper no-flex mb-3">
                        <div class="tool-output-box-radios radios mb-4" id="duties" role="radiogroup">

                            <div class="radio-button alternate pb-1">
                                <input class="dynamic-hide form-check-input m-0" type="radio" name="duties"
                                    id="duties-later"
                                    data-value="duties described in the attached position description as required.">
                                <label class="form-check-label" for="duties-later">
                                    <strong>I will attach the position description later</strong>
                                </label>
                            </div>

                            <div class="radio-button alternate pb-1">
                                <input class="dynamic-show form-check-input m-0" type="radio" name="duties"
                                    id="duties-now" data-value="following duties as required:">
                                <label class="form-check-label" for="duties-now">
                                    <strong>I will outline the duties and responsibilities now</strong>
                                </label>
                            </div>

                        </div>

                        <div class="dynamic-display duties-textarea d-none">
                            <label for="duties-text" class="form-label mb-3"><strong>Outline the duties and
                                    responsibilities of your employee’s role</strong></label>

                            <textarea class="form-control tool-output-box-input mb-4" id="duties-textarea" value=""
                                required></textarea>
                        </div>

                    </div>

                </div>

                <div class="bga-component-wrapper">

                    {% include component-examples/tool-output-box-example.html
                    title="Duties clause"
                    tag="Included"
                    tag-type="mandatory"
                    content="<p>You will perform the <span class='no-highlight' data-answer='duties'>[duties description]</span></p>
                    <div class='duties-textarea textarea-input'></div>
                    <p>We may also assign you other duties, where reasonable for your position, training and experience.
                    </p>"
                    id="duties"
                    %}

                </div>

            </div>

        </div>

        <div class="h-100 col-12 col-md-4  offset-xl-1">
            {% include component-examples/info-sidebar-example.html
            title="Duties / Position description"
            text="<p>If you provided a position (or job) description during your recruitment process, you can use this.
                If you don't have a position description yet, you can download the job description template from the
                Fair Work Ombudsman website and fill it in later.</p>"
            classes="inpage teal"
            %}
        </div>

    </div>

    <hr class="section-divider my-5" />


    <!-- AWARD -->
    <div id="section-award" class="row remove-element-padding">

        <h2>Award for your employee</h2>

        <div class="col-12 col-md-8 col-xl-7">

            <div class="question-section remove-element-padding">

                <div class="p-0 mb-4 form-example tool-output-box-include">
                    <label for="award-input" class="form-label mb-3"><strong>
                            What is the name of the award that applies to your employee?
                        </strong></label>
                    <p class="mb-3">If you're not sure which one applies, use the Fair Work Ombudsman's <a href="">Find my award tool</a>.</p>

                    <div class="dynamic-list tool-output-box-dynamic-list inpage">

                        <div class="dynamic-list remove-element-padding">
                            <div class="list-wrapper">
                                <input tabindex="0" type="text" placeholder="Start typing an award" name="award"
                                    data-list="award" class="dynamic-list-input" id="award-input" />

                                <a tabindex="0" href="" class="p-3" id="list-close"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                        <path data-name="Path 11996"
                                            d="M3013.83,457.1l-6.4,6.4-1.6-1.6,6.4-6.4-6.4-6.4,1.6-1.6,6.4,6.4,6.4-6.4,1.6,1.6-6.4,6.4,6.4,6.4-1.6,1.6Z"
                                            transform="translate(-3005.83 -447.5)" fill="#333" />
                                    </svg></a>

                                <a tabindex="0" id="list-toggle" tabindex="-1" title="Show All Items" class="p-3"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="20" height="12.5"
                                        viewBox="0 0 20 12.5">
                                        <path data-name="Path 11954"
                                            d="M495.83,467.285l-7.522-7.535-2.478,2.482,10,10.018,10-10.018-2.477-2.482Z"
                                            transform="translate(-485.83 -459.75)" fill="#fff" />
                                    </svg>

                                </a>

                                <ul id="award">
                                    <li>Aboriginal and Torres Strait Islander Health Workers and Practitioners and
                                        Aboriginal Community Controlled Health Services Award 2020 (MA000115)</li>
                                    <li>Aged Care Award 2010 (MA000018)</li>
                                    <li>Air Pilots Award 2020 (MA000046)</li>
                                    <li>Aircraft Cabin Crew Award 2020 (MA000047)</li>
                                    <li>Airline Operations - Ground Staff Award 2020 (MA000048)</li>
                                    <li>Airport Employees Award 2020 (MA000049)</li>
                                    <li>Alpine Resorts Award 2020 (MA000092)</li>
                                    <li>Aluminium Industry Award 2020 (MA000060)</li>
                                    <li>Ambulance and Patient Transport Industry Award 2020 (MA000098)</li>
                                    <li>Amusement, Events and Recreation Award 2020 (MA000080)</li>
                                    <li>Animal Care and Veterinary Services Award 2020 (MA000118)</li>
                                    <li>Aquaculture Industry Award 2020 (MA000114)</li>
                                    <li>Architects Award 2020 (MA000079)</li>
                                    <li>Asphalt Industry Award 2020 (MA000054)</li>
                                    <li>Australian Government Industry Award 2016 (MA000153)</li>
                                    <li>Banking, Finance and Insurance Award 2020 (MA000019)</li>
                                    <li>Black Coal Mining Industry Award 2020 (MA000001)</li>
                                    <li>Book Industry Award 2020 (MA000078)</li>
                                    <li>Broadcasting, Recorded Entertainment and Cinemas Award 2020 (MA000091)</li>
                                    <li>Building and Construction General On-site Award 2020 (MA000020)</li>
                                    <li>Business Equipment Award 2020 (MA000021)</li>
                                    <li>Car Parking Award 2020 (MA000095)</li>
                                    <li>Cement, Lime and Quarrying Award 2020 (MA000055)</li>
                                    <li>Cemetery Industry Award 2020 (MA000070)</li>
                                    <li>Children's Services Award 2010 (MA000120)</li>
                                    <li>Cleaning Services Award 2020 (MA000022)</li>
                                    <li>Clerks - Private Sector Award 2020 (MA000002)</li>
                                    <li>Coal Export Terminals Award 2020 (MA000045)</li>
                                    <li>Commercial Sales Award 2020 (MA000083)</li>
                                    <li>Concrete Products Award 2020 (MA000056)</li>
                                    <li>Contract Call Centres Award 2020 (MA000023)</li>
                                    <li>Corrections and Detention (Private Sector) Award 2020 (MA000110)</li>
                                    <li>Cotton Ginning Award 2020 (MA000024)</li>
                                    <li>Dredging Industry Award 2020 (MA000085)</li>
                                    <li>Dry Cleaning and Laundry Industry Award 2020 (MA000096)</li>
                                    <li>Educational Services (Post-Secondary Education) Award 2020 (MA000075)</li>
                                    <li>Educational Services (Schools) General Staff Award 2020 (MA-000076)</li>
                                    <li>Educational Services (Teachers) Award 2020 (MA000077)</li>
                                    <li>Electrical, Electronic and Communications Contracting Award 2020 (MA000025)</li>
                                    <li>Electrical Power Industry Award 2020 (MA000088)</li>
                                    <li>Fast Food Industry Award 2020 (MA000003)</li>
                                    <li>Fire Fighting Industry Award 2020 (MA000111)</li>
                                    <li>Fitness Industry Award 2020 (MA000094)</li>
                                    <li>Food, Beverage and Tobacco Manufacturing Award 2020 (MA000073)</li>
                                    <li>Funeral Industry Award 2020 (MA000105)</li>
                                    <li>Gardening and Landscaping Services Award 2020 (MA000101)</li>
                                    <li>Gas Industry Award 2020 (MA000061)</li>
                                    <li>General Retail Industry Award 2020 (MA000004)</li>
                                    <li>Graphic Arts, Printing and Publishing Award 2020 (MA000026)</li>
                                    <li>Hair and Beauty Industry Award 2020 (MA000005)</li>
                                    <li>Health Professionals and Support Services Award 2020 (MA000027)</li>
                                    <li>Higher Education Industry - Academic Staff - Award 2020 (MA000006)</li>
                                    <li>Higher Education Industry - General Staff - Award 2020 (MA000007)</li>
                                    <li>Horse and Greyhound Training Award 2020 (MA000008)</li>
                                    <li>Horticulture Award 2020 (MA000028)</li>
                                    <li>Hospitality Industry General Award</li>
                                    <li>Hydrocarbons Field Geologists Award 2020 (MA000064)</li>
                                    <li>Hydrocarbons Industry (Upstream) Award 2020 (MA000062)</li>
                                    <li>Joinery and Building Trades Award 2020 (MA000029)</li>
                                    <li>Journalists Published Media Award 2020 (MA000067)</li>
                                    <li>Labour Market Assistance Industry Award 2020 (MA000099)</li>
                                    <li>Legal Services Award 2020 (MA000116)</li>
                                    <li>Live Performance Award 2020 (MA000081)</li>
                                    <li>Local Government Industry Award 2020 (MA000112)</li>
                                    <li>Mannequins and Models Award 2020 (MA000117)</li>
                                    <li>Manufacturing and Associated Industries and Occupations Award 2020 (MA000010)
                                    </li>
                                    <li>Marine Tourism and Charter Vessels Award 2020 (MA000093)</li>
                                    <li>Marine Towage Award 2020 (MA000050)</li>
                                    <li>Maritime Offshore Oil and Gas Award 2020 (MA000086)</li>
                                    <li>Market and Social Research Award 2020 (MA000030)</li>
                                    <li>Meat Industry Award 2020 (MA000059)</li>
                                    <li>Medical Practitioners Award 2020 (MA000031)</li>
                                    <li>Mining Industry Award 2020 (MA000011)</li>
                                    <li>Miscellaneous Award 2020 (MA000104)</li>
                                    <li>Mobile Crane Hiring Award 2020 (MA000032)</li>
                                    <li>Nursery Award 2020 (MA000033)</li>
                                    <li>Nurses Award 2020 (MA000034)</li>
                                    <li>Oil Refining and Manufacturing Award 2020 (MA000072)</li>
                                    <li>Passenger Vehicle Transportation Award 2020 (MA000063)</li>
                                    <li>Pastoral Award 2020 (MA000035)</li>
                                    <li>Pest Control Industry Award 2020 (MA000097)</li>
                                    <li>Pharmaceutical Industry Award 2020 (MA000069)</li>
                                    <li>Pharmacy Industry Award 2020 (MA000012)</li>
                                    <li>Plumbing and Fire Sprinklers Award 2020 (MA000036)</li>
                                    <li>Port Authorities Award 2020 (MA000051)</li>
                                    <li>Ports, Harbours and Enclosed Water Vessels Award 2020 (MA000052)</li>
                                    <li>Poultry Processing Award 2020 (MA000074)</li>
                                    <li>Premixed Concrete Award 2020 (MA000057)</li>
                                    <li>Professional Diving Industry (Industrial) Award 2020 (MA000108)</li>
                                    <li>Professional Diving Industry (Recreational) Award 2020 (MA000109)</li>
                                    <li>Professional Employees Award 2020 (MA000065)</li>
                                    <li>Racing Clubs Events Award 2020 (MA000013)</li>
                                    <li>Racing Industry Ground Maintenance Award 2020 (MA000014)</li>
                                    <li>Rail Industry Award 2020 (MA000015)</li>
                                    <li>Real Estate Industry Award 2020 (MA000106)</li>
                                    <li>Registered and Licensed Clubs Award 2020 (MA000058)</li>
                                    <li>Restaurant Industry Award 2020 (MA000119)</li>
                                    <li>Road Transport and Distribution Award 2020 (MA000038)</li>
                                    <li>Road Transport (Long Distance Operations) Award 2020 (MA000039)</li>
                                    <li>Salt Industry Award 2020 (MA000107)</li>
                                    <li>Seafood Processing Award 2020 (MA000068)</li>
                                    <li>Seagoing Industry Award 2020 (MA000122)</li>
                                    <li>Security Services Industry Award 2020 (MA000016)</li>
                                    <li>Silviculture Award 2020 (MA000040)</li>
                                    <li>Social, Community, Home Care and Disability Services Industry Award 2010
                                        (MA000100)</li>
                                    <li>Sporting Organisations Award 2020 (MA000082)</li>
                                    <li>State Government Agencies Award 2020 (MA000121)</li>
                                    <li>Stevedoring Industry Award 2020 (MA000053)</li>
                                    <li>Storage Services and Wholesale Award 2020 (MA000084)</li>
                                    <li>Sugar Industry Award 2020 (MA000087)</li>
                                    <li>Supported Employment Services Award 2020 (MA000103)</li>
                                    <li>Surveying Award 2020 (MA000103)</li>
                                    <li>Telecommunications Services Award 2020 (MA000041)</li>
                                    <li>Textile, Clothing, Footwear and Associated Industries Award 2020 (MA000017)</li>
                                    <li>Timber Industry Award 2020 (MA000071)</li>
                                    <li>Transport (Cash in Transit) Award 2020 (MA000042)</li>
                                    <li>Travelling Shows Award 2020 (MA000102)</li>
                                    <li>Vehicle Repair, Services and Retail Award 2020 (MA000089)</li>
                                    <li>Waste Management Award 2020 (MA000043)</li>
                                    <li>Water Industry Award 2020 (MA000113)</li>
                                    <li>Wine Industry Award 2020 (MA000090)</li>
                                    <li>Wool Storage, Sampling and Testing Award 2020 (MA000044)</li>
                                </ul>

                            </div>

                            <div class="no-result error m-0 remove-element-padding">
                                <p>No award with this name.</p>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="bga-component-wrapper">
                    {% include component-examples/tool-output-box-example.html
                    title="Employment terms and conditions clause"
                    tag="Included"
                    tag-type="dynamic"
                    content="Your employment terms and conditions are those set out in this contract, the <span
                    data-answer='award'><strong>[award]</strong></span> and applicable legislation. This includes the
                    National Employment Standard in the <em>Fair Work Act 2009</em>."
                    id="award"
                    %}

                </div>


            </div>


        </div>

        <div class="h-100 col-12 col-md-4  offset-xl-1">
            {% include component-examples/info-sidebar-example.html
            title="What's an award?"
            text=" <p>The award sets the minimum terms and conditions for your employee. Keep in mind that you can
                always provide more generous conditions.</p>
            <p>Your employee's pay and other entitlements will depend on their classification level in the award and
                their employment type. Awards are regularly updated, so make sure you keep up to date with your
                employee's entitlements.</p>
            <p><a href=''>Subscribe to email updates</a> from the Fair Work Ombudsman to stay
                up to date with any changes to your award.</p>
            <p>If you're not sure which one applies, use the Fair Work Ombudsman's <a
                    href=''>Find my award tool</a>.</p>"
            classes="inpage teal"
            %}
        </div>

    </div>

    <hr class="section-divider my-5" />


    <!-- BUSINESS STRUCTURE -->
    <div id="section-business-structure" class="row remove-element-padding">

        <h2>Business structure</h2>

        <div class="col-12 col-md-8 col-xl-7">

            <div class="question-section remove-element-padding">

                <div class="p-0 form-example tool-output-box-include">
                    <label for="business-structure" class="form-label mb-3"><strong>What is your business structure?</strong></label>
                    <p class="mb-3">
                        We need to know your business structure to determine the signature fields to include in your
                        contract. This information is not shared with any other agency, for more information see our
                        privacy page.
                    </p>

                    <select class="form-select" id="business-structure" aria-label="Default select example">
                        <option class="default-option" value="">Select your business structure</option>
                        <option value="individual sole trader">Individual sole trader</option>
                        <option value="company with sole director">Company with sole director</option>
                        <option value="company with more than one director">Company with more than one director
                        </option>
                        <option value="partnership or association">Partnership or association</option>
                        <option value="authorised representative">Authorised representative</option>
                        <option value="other">Other</option>
                    </select>

                </div>

            </div>


        </div>

        <div class="h-100 col-12 col-md-4  offset-xl-1">
            {% include component-examples/info-sidebar-example.html
            title="Unsure of your business structure?"
            text=" <p>If you're unsure of what your business structure is, search for your business on ABN Lookup. Your
                business structure is displayed against the 'Entity type' field.</p>
            <p>If none of the business structure options apply to your business, select 'other'.</p>"
            classes="inpage teal"
            %}
        </div>

    </div>

    <hr class="section-divider my-5" />


    <!-- WORKPLACE -->
    <div id="section-workplace" class="row remove-element-padding">

        <h2>Workplace</h2>

        <div class="remove-top-spaces col-12 col-md-8 col-xl-7">

            <div class="question-section remove-element-padding">
                <h3 class="mb-3"><strong>Where is the employee’s main place of work?</strong></h3>
                <p class="mb-3">You may fill in the employee's workplace address here and it will appear in the
                    contract. Or, insert the workplace address later by editing the contract.</p>

                <div class="mb-4 p-0 ">
                    <div class="form-element-wrapper no-flex mb-3">

                        <div class="tool-output-box-radios radios mb-4" id="workplace" role="radiogroup">

                            <div class="radio-button alternate pb-1">
                                <input class="dynamic-hide form-check-input m-0" type="radio" name="workplace"
                                    id="workplace-later" data-value="[workplace address]">
                                <label class="form-check-label" for="workplace-later">
                                    <strong>I will insert the workplace address later</strong>
                                </label>
                            </div>

                            <div class="radio-button alternate pb-1">
                                <input class="dynamic-show form-check-input m-0" type="radio" name="workplace"
                                    id="workplace-now" data-value="workplace-now">
                                <label class="form-check-label" for="workplace-now">
                                    <strong>I will enter the workplace address here</strong>
                                </label>
                            </div>

                        </div>


                        <div class="dynamic-display workplace d-none">
                            <h3>Where is the employee’s main place of work?</h3>

                            <fieldset class="border border-secondary remove-element-padding p-4 mb-4" id="address1">
                                <h3>Workplace address</h3>

                                <div class="address-fields">

                                    <div class="d-flex flex-wrap mb-5">
                                        <label for="street" class="h4 w-100 p-0 mb-3">Address</label>
                                        <input type="text" name="street" class="form-control address-input"
                                            id="street1">
                                    </div>

                                    <div class="d-flex flex-wrap mb-5">
                                        <label for="city" class="h4 w-100 p-0 mb-2">City/Suburb</label>
                                        <input type="text" name="city" class="form-control address-input" id="city1">
                                    </div>

                                    <div class="d-flex flex-wrap mb-5">
                                        <label for="state" class="h4 w-100 p-0 mb-2">State/Territory</label>
                                        <select class="form-select address-input" id="state1" name="state">
                                            <option class="default-option" value="">Select a state or
                                                territory</option>
                                            <option value="Australian Capital Territory">Australian Capital
                                                Territory</option>
                                            <option value="New South Wales">New South Wales</option>
                                            <option value="Northern Territory">Northern Territory</option>
                                            <option value="Queensland">Queensland</option>
                                            <option value="South Australia">South Australia</option>
                                            <option value="Tasmania">Tasmania</option>
                                            <option value="Victoria">Victoria</option>
                                            <option value="Western Australia">Western Australia</option>
                                        </select>
                                    </div>

                                    <div class="d-flex flex-wrap mb-5">
                                        <label for="postcode" class="h4 w-100 p-0 mb-2">Postcode</label>
                                        <input type="text" name="postcode" id="postcode1"
                                            class="form-control address-input w-50">
                                    </div>
                                </div>

                                <button id="include-address1" class="bga-btn bga-secondary-btn bkg-light py-2 workplace"
                                    tabindex="0" role="button">Include address</button>

                            </fieldset>
                        </div>

                    </div>

                </div>

                <div class="bga-component-wrapper">

                    {% include component-examples/tool-output-box-example.html
                    title="Workplace clause"
                    tag="Included"
                    tag-type="mandatory"
                    content="<p>You will be required to work at</p>
                    <p class='workplace'>[Workplace address]</p>
                    <div class='address1'></div>
                    <p>You may also be required to work at other locations where reasonable.</p>"
                    id="workplace"
                    %}

                </div>

            </div>

        </div>

        

    </div>

    <hr class="section-divider my-5" />


    <!-- EMPLOYMENT TYPE -->
    <div id="section-employment-type" class="row remove-element-padding">

        <h2>Employment type</h2>

        <div class="remove-top-spaces col-12 col-md-8 col-xl-7">

            <div class="question-section remove-element-padding">
                <h3 class="mb-3"><strong>Select the type of employee you're hiring</strong></h3>

                <p class="mb-3">It's important you get this right. The pay rates, leave and other entitlements for each
                    type can differ, so it will change what you need to include in your contract.</p>

                <div class="mb-4 p-0 ">
                    <div class="form-element-wrapper no-flex mb-3">
                        <div class="tool-output-box-radios radios" id="employment-type" role="radiogroup">

                            <div class="radio-button alternate pb-1">
                                <input class="form-check-input m-0" type="radio" name="employment-type" id="fulltime"
                                    data-value="full time">
                                <label class="form-check-label" for="fulltime">
                                    <strong>Full-time</strong> – usually 38 hours of work per week
                                </label>
                            </div>

                            <div class="radio-button alternate pb-1">
                                <input class="form-check-input m-0" type="radio" name="employment-type" id="parttime"
                                    data-value="part time">
                                <label class="form-check-label" for="parttime">
                                    <strong>Part-time</strong> – usually less than 38 hours of work per week
                                </label>
                            </div>

                            <div class="radio-button alternate pb-1">
                                <input class="form-check-input m-0" type="radio" name="employment-type" id="casual"
                                    data-value="casual">
                                <label class="form-check-label" for="casual">
                                    <strong>Casual</strong> – no firm advance commitment to continuing and indefinite
                                    work according to an agreed pattern of work
                                </label>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="bga-component-wrapper">

                    {% include component-examples/tool-output-box-example.html
                    title="Employment type clause"
                    tag="Included"
                    tag-type="mandatory"
                    content="You are being employed on a <span data-answer='employment-type'>[employment type]</span> basis."
                    id="employment-type"
                    %}

                </div>

            </div>

        </div>

        <div class="h-100 col-12 col-md-4  offset-xl-1">
            {% include component-examples/info-sidebar-example.html
            title="Types of employees"
            text="<ul>
            <li><strong>Full-time employees</strong> usually work 38 hours per week on average. They may work slightly less or more some weeks. They can be permanent (ongoing) or employed for a fixed term (for example, a 6 month contract).</li>
            <li><strong>Part-time employees</strong> usually work less than 38 hours per week on average. They usually work regular hours each week and can be permanent or employed for a fixed term.</li>
            <li><strong>Casual employees</strong> accepted an offer of employment on the basis that there was no firm advance commitment that the work will continue indefinitely with an agreed pattern of work. They are usually described as a casual employee in their employment contract, work as required to your needs and can refuse any hours of work you offer them. They are paid a casual loading because they don't get some paid entitlements like personal and annual leave.</li>
            </ul>
            <p>Learn more about the different <a href='https://www.fairwork.gov.au/starting-employment/types-of-employees' target='blank'>types of employees- external site</a> on the Fair Work Ombudsman website. You should also check the award – some define employment types differently.</p>"
            classes="inpage teal"
            %}
        </div>

    </div>

    <hr class="section-divider my-5" />



     <!-- PROBATION PERIOD -->
     <div id="section-probation-period" class="row remove-element-padding">

        <h2>Probation period</h2>

        <div class="col-12 col-md-8 col-xl-7">

            <div class="question-section remove-element-padding">
               
                <p>You can put your employee on probation to assess whether they're suitable for the position.</p>

                <div class="dynamic-display d-none">
                    
                    <div class="mb-5 p-0 form-example tool-output-box-include">
                        <label for="probation-period" class="form-label mb-3"><strong>How long will your new employee be on probation?</strong></label>
                        <p class="mb-3">The length of the probation period is up to you, but it must be reasonable. It's often between 3 to 6 months.</p>

                        <div class="textbox-units form-element-wrapper mb-4">
                            <input type="text" class="form-control tool-output-box-input optional-clause m-0 sm-width" id="probation-period" value="" required="" data-value="[number]" data-np-intersection-state="visible">
                            <p class="m-0">month(s)</p>
                        </div>
    
                    </div>

                </div>

                {% include component-examples/tool-output-box-example.html
                    title="Probation period clause"
                    tag="Optional to include"
                    tag-type="optional"
                    input-label="Include Probation period clause (optional)"
                    content="<p>You will need to complete a <strong><span data-answer='probation-period'>[number]</span>-month</strong> probation period. During this time, we will assess your performance.</p>
                    <p>If we end your employment during the probation period, we will provide written notice according to the notice clause in this contract.</p>"
                    id="probation-period-clause"
                    dynamic-toggle=true
                %}

            </div>


        </div>

        <div class="h-100 col-12 col-md-4  offset-xl-1">
            {% include component-examples/info-sidebar-example.html
            title="Provide the same entitlements"
            text="<p>While on probation, your employee still gets the same entitlements as someone who isn't on probation, including leave.</p>
            <p>If your employee doesn't pass their probation, you'll still need to give them:</p>
            <ul>
            <li>notice when their employment ends</li>
            <li>payment for any unused annual leave.</li>
            </ul>
            <p>Find out more about employee <a href='https://www.fairwork.gov.au/employee-entitlements/types-of-employees/probation' target='_blank'>probation periods</a> on the Fair Work Ombudsman website.</p>
            <h4>Unfair dismissal and probation</h4>
            <p>If you end their employment, the employee can challenge the dismissal with the Fair Work Commission if they think it was 'unfair' (harsh, unjust or unreasonable).</p>
            <p>Employers usually set a probation period of no more than the minimum employment period for unfair dismissal claims. These are:</p>
            <ul>
            <li>12 months if you have a small business with fewer than 15 employees</li>
            <li>6 months if you have a business with 15 or more employees.</li>
            </ul>"
            classes="inpage teal"
            %}
        </div>

    </div>

    <hr class="section-divider my-5" />




    <!-- BUTTON GROUP -->
    <div class="ecb-button-group">

        <a class="bga-link bga-inline-link bkg-light" tabindex="0" href={{ 'prototypes/ecb/landing.html' | relative_url }} role="button">Previous</a>


        <a class="bga-btn bga-primary-btn bkg-light" tabindex="0" href={{ 'prototypes/ecb/hours.html' | relative_url }} role="button">Next</a>

        <a class="bga-btn bga-primary-btn bkg-light return-to-review d-none" tabindex="0" href={{ 'prototypes/ecb/review.html' | relative_url }} role="button">Return to review</a>

    </div>



</div>


{% include prototypes/ecb-save-footer.html
title="Don't have time to finish your contract now?"
content="You can save you progress in this tool and return within the next seven days. We’ll email you a link that you
can use to return and finish your contract."
button="Save and exit"
button-id="ecb-save-exit"
%}

<!-- SAVE AND EXIT MODAL -->
{% include prototypes/ecb-save-modal.html %}

