---

layout: ecb
title: Employment Contract Tool
description: Build your own employment contract, for an employee under Australia's Fair Work System, that is tailored to your business needs.

---

<div class="container page-content page-redirect my-5">

    <div class="row">

        <div class="remove-top-spaces col-12 col-md-11 col-lg-9 col-xl-8">
            <div class="remove-top-spaces content-wrapper">

           <h2>You have closed the Employment Contract Tool.</h2>

           <h3>Step back into the Employment Contract Tool</h3>

           {% include component-examples/inline-pathway-example.html
                link1="Start a new contract"
                page1="Employment contract tool"
                icon1="'../../assets/icon-arrow-right-blue.svg' | relative_url "
                
                link2="See the next steps to create an offer of employment"
                page2="Employment contract tool"
                icon2="'../../assets/icon-arrow-right-blue.svg' | relative_url "
            %}

            {% include component-examples/call-to-action-example.html
                title="Explore other business resources on business.gov.au"
                text="<p>business.gov.au is a whole-of-government website for the Australian business community. It provides information, grants, services and support from 3 levels of government to make it easier for business owners to find everything in one place.</p>"
                button="Visit business.gov.au"
            %}
            
            </div>

        </div>

    </div>

</div>