---

layout: ecb-8-step
title: Employment Contract Tool
stepped-nav-step: Review
step-number: 7

---

<div class="container page-content review-page prototype-default-state my-5">


    <div class="row ">

        <div class="col-12 col-md-11 col-lg-9 col-xl-8 remove-element-padding">

            <h2>Review your employment contract</h2>
            <p>Check the clauses you've added to your contract.</p>

            <!-- POSITION -->
            <h2>Position</h2>

            {% include component-examples/results-and-edit-example.html
            title="Position title"
            href="'position.html#section-position-title' | relative_url "
            content="<p>You are being employed in the position of <strong><span class='answer' id='position-title'>[position title]</span></strong>.</p>"
            classes="dynamic"
            id="position-title"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Duties"
            href="'position.html#section-duties' | relative_url "
            content="<p>You will perform the <span class='answer' id='duties'></span></p>
            <div class='duties-textarea textarea'></div>
            <p>We may also assign you other duties, where reasonable for your position, training and experience.</p>"
            classes="dynamic"
            id="duties-text"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Award for your employee"
            href="'position.html#section-award' | relative_url "
            content="<p>Your employment terms and conditions are those set out in this contract, the <strong><span class='answer' id='award'>[award]</span></strong> and applicable legislation. This includes the National Employment Standards-
            external site in the <em>Fair Work Act 2009</em>.</p>"
            classes="dynamic"
            id="award"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Business structure"
            href="'position.html#section-business-structure' | relative_url "
            content="<p>Your business structure is <strong><span class='answer' id='business-structure'>[business structure]</span></strong>.</p>"
            classes="dynamic"
            id="business-structure"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Workplace"
            href="'position.html#section-workplace' | relative_url "
            content="<p>You will be required to work at</p>
            <div class='address1'></div>
            <p>You may also be required to work at other locations where reasonable.</p>"
            classes="dynamic"
            id="workplace"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Employment type"
            href="'position.html#section-employment-type' | relative_url "
            content="<p>You are being employed on a <strong><span class='answer' id='employment-type'>[employment type]</span></strong> basis.</p> "
            classes="dynamic"
            id="employment-type-text"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Probation period"
            href="'position.html#section-probation-period' | relative_url "
            content="<p>You will need to complete a <strong><span class='answer' id='probation-period'>[number]</span>-month</strong> probation period. During this time, we will assess your performance.</p>
            <p>If we end your employment during the probation period, we will provide written notice according to the notice clause in this contract.</p>"
            classes="optional d-none"
            id="probation-period"
            %}



            <!-- HOURS -->

            <h2>Hours</h2>
            {% include component-examples/results-and-edit-example.html
            title="Hours of work"
            href="'hours.html#section-hours-of-work' | relative_url "
            content="<p>You are expected to work <strong><span class='answer' id='hours-worked'>[number]</span> ordinary hour(s) per week</strong>. We may also request or require you to work additional hours if the additional hours are reasonable.</p>"
            classes="dynamic"
            id="hours-worked"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Flexible hours"
            href="'hours.html#section-flexible-hours' | relative_url "
            content="<p>You may have a right to make a written request for flexible working arrangements under the National Employment Standards, including for when to start and end work each day or your location of work. We may refuse your request in writing, but only if we have reasonable business grounds.</p>"
            classes="optional d-none"
            id="flexible-hours"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Averaging hours over more than a week"
            href="'hours.html#section-averaging-hours' | relative_url "
            content="<p>Your hours per week may be averaged over more than one week in accordance with the award.</p>"
            classes="optional d-none"
            id="averaging-hours"
            %}

            {% include component-examples/results-and-edit-example.html
            title="On call or stand-by"
            href="'hours.html#section-stand-by' | relative_url "
            content="<p>We may require you to be on call (on stand-by) for work outside your normal hours.</p>
            <p>Your on call or stand-by conditions will be in accordance with the award, including:</p>
            <ul>
            <li>rostering to be on call</li>
            <li>pay rates or allowances when on call</li>
            <li>pay rates if you are called out to work while on call.</li>
            </ul>"
            classes="optional d-none"
            id="stand-by"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Breaks"
            content="<p>Depending on the number of hours you work, you may be entitled to meal breaks. The award sets out:</p><ul><li>the length of the breaks</li><li>when they need to be taken</li><li>the rules about payment.</li></ul><p>You may also be entitled to rest breaks.</p>"
            classes="no-btn mandatory"
            id="breaks"
            %}


            <!-- PAY -->

            <h2>Pay</h2>
            {% include component-examples/results-and-edit-example.html
            title="Pay rate"
            href="'pay.html#section-pay-rate' | relative_url "
            content="<p>You will be paid <strong>$<span class='answer' id='pay-amount'>[amount]</span> <span class='answer' id='pay-rate-units'>[units]</span></strong>. This pay rate does not include superannuation, we'll pay this separately.</p>"
            classes="dynamic"
            id="pay-rate"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Payment method"
            href="'pay.html#section-payment-method' | relative_url "
            content="<p>We will pay you <strong><span class='answer' id='pay-frequency'>[frequency]</span> <span class='answer' id='pay-method'>[pay-method]</span></strong>.</p>"
            classes="dynamic"
            id="pay-frequency-text"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Superannuation"
            content="<p>If you are eligible for the super guarantee (SG), we will pay the contributions on your behalf in accordance with legislation and your award. We will pay contributions into a super fund of your choice.</p>
            <p>If you do not tell us your choice of fund, we may need to contact the ATO to find out if you have a 'stapled' super fund to make your SG contributions into.</p>
            <p>If you do not tell us your choice of fund and the ATO confirms you don't have a stapled super fund, we will pay your SG contributions to our default fund or another fund that meets the choice of fund rules.</p>"
            classes="no-btn mandatory"
            id="superannuation"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Additional Superannuation"
            href="'pay.html#section-additional-superannuation' | relative_url "
            content="<p>In addition to the SG, we will contribute <strong><span class='answer' id='additional-superannuation'>[number]</span> percent</strong> of your base salary into super.</p>"
            classes="optional d-none"
            id="additional-superannuation"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Penalty rates and overtime"
            href="'pay.html#section-penalty-rates' | relative_url "
            content="<p>You may be entitled to overtime rates under your award if you work:</p>
            <ul>
            <li>more than your ordinary hours of work</li>
            <li>outside the spread of ordinary hours.</li>
            </ul>
            <p>You may be entitled to penalty rates or shift loadings according to your award if you work:</p>
            <ul>
            <li>on a weekend</li>
            <li>on a public holiday</li>
            <li>late night or early morning shifts.</li>
            </ul>"
            classes="optional d-none"
            id="penalty-rates"
            %}



            <!-- LEAVE -->

            <h2>Leave</h2>

            {% include component-examples/results-and-edit-example.html
            title="Annual leave"
            content="<p>You are entitled to 4 weeks of paid annual leave each year, based on your ordinary hours of work per week.</p>
            <p>We will provide any applicable annual leave loading entitlements in accordance with your award.</p>
            <p>Annual leave accumulates during the year. Any unused annual leave will roll over from year to year.</p>"
            classes="no-btn mandatory"
            id="annual-leave"
            %}


            {% include component-examples/results-and-edit-example.html
            title="Parental leave"
            content="<p>After you have been working for us for 12 months or more, you are entitled to take unpaid parental leave from your position for 12 months.</p>
            <p>You may also:</p>
            <ul>
            <li>request up to an extra 12 months of unpaid leave</li>
            <li>be entitled to Parental Leave Pay from the Australian Government, administered by Services Australia.</li>
            </ul>"
            classes="no-btn mandatory"
            id="parental-leave"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Additional parental leave"
            href="'leavey.html#section-additional-parental-leave' | relative_url "
            content="<p>In addition to the above parental leave, we will provide you with <strong><span class='answer' id='additional-parental-leave'>[number]</span> week(s)</strong> paid parental leave.</p>"
            classes="optional d-none"
            id="additional-parental-leave"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Personal/carer's leave"
            content="<p>You are entitled to 10 days paid personal/carer's leave (pro-rata for part-time employees) per year based on your ordinary hours of work. This is calculated as 1/26 of your ordinary hours of work in a year.</p>
            <p>You can take personal/carer's leave when you can't work because you are sick or injured. You can also use it to care for a member of your immediate family or household who requires care or support because of:</p>
            <ul>
            <li>personal injury</li>
            <li>personal illness</li>
            <li>an unexpected emergency.</li>
            </ul>
            <p>Your personal/carer's leave accrues throughout the year and from year to year. You must give us notice as soon as possible to take personal/carer's leave. We may also require evidence (such as a medical certificate).</p>
            <p>You are also entitled to 2 days unpaid carer's leave (in accordance with the National Employment Standards). This is available each time an immediate family member or household member needs your care or support. You can only take unpaid carer's leave if you do not have any paid carer's leave left.</p>"
            classes="no-btn mandatory"
            id="personal-leave"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Compassionate leave"
            content="<p>You are entitled to 2 days paid compassionate leave (in accordance with the National Employment Standards) each time:</p>
            <ul>
            <li>a member of your immediate family or household dies, or has a life threatening illness or injury</li>
            <li>a child is stillborn, that would have been a member of your immediate family or household if born alive</li>
            <li>you or your current spouse or de facto partner has a miscarriage.</li>
            </ul>"
            classes="no-btn mandatory"
            id="compassionate-leave"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Public holidays"
            content="<p>You have a right to be absent from work on a public holiday.</p>
            <p>We may ask you to work on a public holiday. You may refuse our request to work if:</p>
            <ul>
            <li>your refusal is reasonable, or</li>
            <li>our request is unreasonable according to the <em>Fair Work Act 2009</em>.</li>
            </ul>
            <p>If you work on a public holiday, you are entitled to any additional entitlements under your award, such as public holiday penalty rates.</p>
            <p>If you do not work on a public holiday, and it falls on a day you would normally work, you are entitled to be paid your base rate of pay.</p>"
            classes="no-btn mandatory"
            id="public-holidays"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Long service leave"
            content="<p>This provides an overview of long service leave in your employment contract.</p><p>Long service leave rules differ between states and territories, as well as between industries, so specific details are not provided here.</p>"
            classes="no-btn mandatory"
            id="long-service-leave"
            %}


            <h2 class="obligation-heading">Obligations</h2>

            {% include component-examples/results-and-edit-example.html
            title="Employee obligations"
            href="'obligations.html#section-employee-obligations' | relative_url "
            content="<p>As an employee of our business we expect you to:</p>
            <ul>
            <li>carry out your duties to the best of your ability</li>
            <li>act honestly and in the best interests of the business</li>
            <li>comply with our business policies and procedures, which we will make available to you (but do not form part of this contract)</li>
            <li>comply with any other lawful and reasonable directions we provide.</li>
            </ul>"
            classes="optional obligation-review d-none"
            id="employee-obligations"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Conflict of interest"
            href="'obligations.html#section-conflict-of-interest' | relative_url "
            content="<p>While employed with us, you must get our written agreement before working for other employers or doing activities that may conflict with the interests of our business.</p>"
            classes="optional obligation-review d-none"
            id="conflict-of-interest"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Confidentiality"
            href="'obligations.html#section-confidentiality' | relative_url "
            content="<p>You agree not to use or disclose confidential information relating to the business. This includes while you are employed by us and after your employment ends.</p>
            <p>Confidential information – including trade secrets, pricing structures, documents you create while employed with us, and information on our clients and suppliers – is our property.</p>
            <p>There are exceptions if:</p>
            <ul>
            <li>we have given you our consent</li>
            <li>you are using the information appropriately to do your work for us</li>
            <li>the information is already publicly available</li>
            <li>the information is required by law.</li>
            </ul>"
            classes="optional obligation-review d-none"
            id="confidentiality"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Intellectual property"
            href="'obligations.html#section-intellectual-property' | relative_url "
            content="<p>Anything you invent, develop or create in the course of your work with us remains our intellectual property. You must tell us about these works immediately.</p>
            <p>This includes:</p>
            <ul>
            <li>designs</li>
            <li>logos</li>
            <li>business and domain names</li>
            <li>copyright</li>
            <li>trade marks</li>
            <li>patents.</li>
            </ul>
            <p>You must not use or reproduce any intellectual property owned by us without our consent. This includes after your employment with us ends.</p>"
            classes="optional obligation-review d-none"
            id="intellectual-property"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Consultation for workplace changes"
            href="'obligations.html#section-workplace-changes' | relative_url "
            content="<p>If we intend to make significant changes in the workplace, we will consult with you and your representatives in accordance with the award. This includes major changes to:</p>
            <ul>
            <li>our business operations, structure or technology that are likely to significantly affect you</li>
            <li>your regular roster or ordinary hours of work – if you work regular hours.</li>
            </ul>"
            classes="optional obligation-review d-none"
            id="workplace-changes"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Disputes"
            href="'obligations.html#section-disputes' | relative_url "
            content="<p>If you have any concerns about your employment, talk to us first so we can try to solve the issues together. Your award has a dispute resolution term that sets out this process.</p>
            <p>If the dispute remains unresolved, you or we may refer it to the Fair Work Commission. If this happens, you can be represented by another person or organisation.</p>
            <p>While the dispute is being resolved, you must continue to work as usual as long as the work complies with any applicable work health and safety legislative requirements.</p>"
            classes="optional obligation-review d-none"
            id="disputes"
            %}

            <h2>Ending employment</h2>

            {% include component-examples/results-and-edit-example.html
            title="Dismissal notice"
            content="<p>You are entitled to the following minimum notice periods (or payment in lieu of notice) if we end your employment. This does not apply if we end your employment for serious misconduct.</p>
            <table class='table'>
            <thead>
            <tr>
            <th>Continuous employment with us</th>
            <th>Minimum notice period</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>1 year or less</td>
            <td><strong>1 week</strong></td>
            </tr>
            <tr>
            <td>More than 1 year to 3 years</td>
            <td><strong>2 weeks</strong></td>
            </tr>
            <tr>
            <td>More than 3 years to 5 years</td>
            <td><strong>3 weeks</strong></td>
            </tr>
            <tr>
            <td>More than 5 years</td>
            <td><strong>4 weeks</strong></td>
            </tr>
            </tbody>
            </table>
            
            <p>You may be entitled to a longer minimum notice period under your award.</p>
            <p>You will get an extra week of notice if you're older than 45 years and have worked for us for at least 2 years.</p>"
            classes="no-btn mandatory"
            id="dismissal-notice"
            %}


            {% include component-examples/results-and-edit-example.html
                title="Redundancy"
                content="<p>If your position is terminated due to redundancy, any notice and redundancy pay entitlements will be in accordance with the National Employment Standards and your award.</p>"
                classes="no-btn mandatory"
                id="redundancy"
                %}


            {% include component-examples/results-and-edit-example.html
            title="Misconduct"
            href="'ending-employment.html#section-misconduct' | relative_url "
            content="<p>We may terminate your employment without notice, or payment in lieu of notice, if you engage in serious misconduct.</p>
            <p>Serious misconduct is when an employee:</p>
            <ul>
            <li>causes serious and imminent risk to the health and safety of another person or to the reputation, viability or profits of their employer's business, or</li>
            <li>wilfully or deliberately behaves in a way that's inconsistent with continuing their employment.</li>
            </ul>
            <p>Examples of serious misconduct include:</p>
            <ul>
            <li>theft</li>
            <li>fraud</li>
            <li>violence/assault</li>
            <li>sexual harassment</li>
            <li>serious breaches of health and safety requirements</li>
            <li>being drunk or affected by drugs at work</li>
            <li>refusing to carry out work duties.</li>
            </ul>"
            classes="optional d-none"
            id="misconduct"
            %}


        </div>


    </div>

    <hr class="section-divider my-5" />



    <!-- BUTTON GROUP -->
    <div class="ecb-button-group">

        <a class="bga-link bga-inline-link bkg-light" tabindex="0" href={{ 'prototypes/ecb/ending-employment.html' |
            relative_url }} role="button">Previous</a>


        <a class="bga-btn bga-primary-btn bkg-light" tabindex="0" href={{ 'prototypes/ecb/finalise.html' | relative_url }}
            role="button">Next</a>

    </div>



</div>

{% include prototypes/ecb-save-footer.html
    title="Don't have time to finish your contract now?"
    content="You can save you progress in this tool and return within the next seven days. We’ll email you a link that you can use to return and finish your contract."
    button="Save and exit"
    button-id="ecb-save-exit"
    %}

<!-- SAVE AND EXIT MODAL -->
{% include prototypes/ecb-save-modal.html %}
