<div class="layouts m-0 p-4">
    
    {% if include.singlelayout == "true" %}
    <p class="pe-3 m-0 all-layouts">Layout: <strong>{{include.layout-name}}</strong></p>
    
    {% else %}
    
    
    <p class="pe-3 m-0">Layout:</p>
    
    <select class="form-select layouts-select ps-3" aria-label="Layout examples">
        
        {% if include.single-col-navpage-visibility == "true" %}
            <option value="single-col-navpage" class="{{include.single-col-navpage-visibility}}" selected>Single column - navigation page</option>
        {% endif %}
        
        {% if include.single-col-infopage-visibility == "true" %}
            <option value="single-col-infopage" class="{{include.single-col-infopage-visibility}}">Single column - information page</option>
        {% endif %}

        {% if include.single-col-toolpage-visibility == "true" %}
            <option value="single-col-toolpage" class="{{include.single-col-toolpage-visibility}}">Single column - tool page</option>
        {% endif %}
        
        {% if include.two-col-infopage-visibility == "true" %}
            <option value="two-col-infopage" class="{{include.two-col-infopage-visibility}}">Two column - information page</option>
        {% endif %}
        
        {% if include.two-col-filterpage-visibility == "true" %}
            <option value="two-col-filterpage" class="{{include.two-col-filterpage-visibility}}">Two column - filter page</option>
        {% endif %}

        {% if include.two-col-toolpage-visibility == "true" %}
        <option value="two-col-toolpage" class="{{include.two-col-toolpage-visibility}}">Two column - tool page</option>
        {% endif %}

        {% if include.two-col-toolpage-alt-visibility == "true" %}
        <option value="two-col-toolpage-alt" class="{{include.two-col-toolpage-alt-visibility}}">Two column - tool page alternate</option>
        {% endif %}
        
    </select>
    
    {% endif %}


    
</div>