<div class="example page-pattern {{ include.classes}}">

    <img class="responsive-img" src={{ include.img }} />
    <div class="spots">

        {% if include.spot1 %}
        <div class="spot" id="spot-01">
            <div class="spot-subwrapper">
                <a>1</a>
                <p>{{ include.spot1 }}</p>
            </div>
        </div>
        {% endif %}

        {% if include.spot2 %}
        <div class="spot" id="spot-02">
            <div class="spot-subwrapper">
                <a>2</a>
                <p>{{ include.spot2 }}</p>
            </div>
        </div>
        {% endif %}

        {% if include.spot3 %}
        <div class="spot" id="spot-03">
            <div class="spot-subwrapper">
                <a>3</a>
                <p>{{ include.spot3 }}</p>
            </div>
        </div>
        {% endif %}

        {% if include.spot4 %}
        <div class="spot" id="spot-04">
            <div class="spot-subwrapper">
                <a>4</a>
                <p>{{ include.spot4 }}</p>
            </div>
        </div>
        {% endif %}

        {% if include.spot5 %}
        <div class="spot" id="spot-05">
            <div class="spot-subwrapper">
                <a>5</a>
                <p>{{ include.spot5 }}</p>
            </div>
        </div>
        {% endif %}

        {% if include.spot6 %}
        <div class="spot" id="spot-06">
            <div class="spot-subwrapper">
                <a>6</a>
                <p>{{ include.spot6 }}</p>
            </div>
        </div>
        {% endif %}

        {% if include.spot7 %}
        <div class="spot" id="spot-07">
            <div class="spot-subwrapper">
                <a>7</a>
                <p>{{ include.spot7 }}</p>
            </div>
        </div>
        {% endif %}

        {% if include.spot8 %}
        <div class="spot" id="spot-08">
            <div class="spot-subwrapper">
                <a>8</a>
                <p>{{ include.spot8 }}</p>
            </div>
        </div>
        {% endif %}

        {% if include.spot9 %}
        <div class="spot" id="spot-09">
            <div class="spot-subwrapper">
                <a>9</a>
                <p>{{ include.spot9 }}</p>
            </div>
        </div>
        {% endif %}

        {% if include.spot10 %}
        <div class="spot" id="spot-10">
            <div class="spot-subwrapper">
                <a>10</a>
                <p>{{ include.spot10 }}</p>
            </div>
        </div>
        {% endif %}

        {% if include.spot11 %}
        <div class="spot" id="spot-11">
            <div class="spot-subwrapper">
                <a>11</a>
                <p>{{ include.spot11 }}</p>
            </div>
        </div>
        {% endif %}

        {% if include.spot12 %}
        <div class="spot" id="spot-12">
            <div class="spot-subwrapper">
                <a>12</a>
                <p>{{ include.spot12 }}</p>
            </div>
        </div>
        {% endif %}



        {% if include.spot13 %}
        <div class="spot" id="spot-13">
            <div class="spot-subwrapper">
                <a>13</a>
                <p>{{ include.spot13 }}</p>
            </div>
        </div>
        {% endif %}

        {% if include.spot14 %}
        <div class="spot" id="spot-14">
            <div class="spot-subwrapper">
                <a>14</a>
                <p>{{ include.spot14 }}</p>
            </div>
        </div>
        {% endif %}


        {% if include.spot15 %}
        <div class="spot" id="spot-15">
            <div class="spot-subwrapper">
                <a>15</a>
                <p>{{ include.spot15 }}</p>
            </div>
        </div>
        {% endif %}


        {% if include.spot16 %}
        <div class="spot" id="spot-16">
            <div class="spot-subwrapper">
                <a>16</a>
                <p>{{ include.spot16 }}</p>
            </div>
        </div>
        {% endif %}


        {% if include.spot17 %}
        <div class="spot" id="spot-17">
            <div class="spot-subwrapper">
                <a>17</a>
                <p>{{ include.spot17 }}</p>
            </div>
        </div>
        {% endif %}


        {% if include.spot18 %}
        <div class="spot" id="spot-18">
            <div class="spot-subwrapper">
                <a>18</a>
                <p>{{ include.spot18 }}</p>
            </div>
        </div>
        {% endif %}


        {% if include.spot19 %}
        <div class="spot" id="spot-19">
            <div class="spot-subwrapper">
                <a>19</a>
                <p>{{ include.spot19 }}</p>
            </div>
        </div>
        {% endif %}


        {% if include.spot20 %}
        <div class="spot" id="spot-20">
            <div class="spot-subwrapper">
                <a>20</a>
                <p>{{ include.spot20 }}</p>
            </div>
        </div>
        {% endif %}


        {% if include.spot21 %}
        <div class="spot" id="spot-21">
            <div class="spot-subwrapper">
                <a>21</a>
                <p>{{ include.spot21 }}</p>
            </div>
        </div>
        {% endif %}


        {% if include.spot22 %}
        <div class="spot" id="spot-22">
            <div class="spot-subwrapper">
                <a>22</a>
                <p>{{ include.spot22 }}</p>
            </div>
        </div>
        {% endif %}


        {% if include.spot23 %}
        <div class="spot" id="spot-23">
            <div class="spot-subwrapper">
                <a>23</a>
                <p>{{ include.spot23 }}</p>
            </div>
        </div>
        {% endif %}
        

        {% if include.spot24 %}
        <div class="spot" id="spot-24">
            <div class="spot-subwrapper">
                <a>24</a>
                <p>{{ include.spot24 }}</p>
            </div>
        </div>
        {% endif %}

        {% if include.spot25 %}
        <div class="spot" id="spot-25">
            <div class="spot-subwrapper">
                <a>25</a>
                <p>{{ include.spot25 }}</p>
            </div>
        </div>
        {% endif %}

        {% if include.spot26 %}
        <div class="spot" id="spot-26">
            <div class="spot-subwrapper">
                <a>26</a>
                <p>{{ include.spot26 }}</p>
            </div>
        </div>
        {% endif %}

        {% if include.spot27 %}
        <div class="spot" id="spot-27">
            <div class="spot-subwrapper">
                <a>27</a>
                <p>{{ include.spot27 }}</p>
            </div>
        </div>
        {% endif %}

        {% if include.spot28 %}
        <div class="spot" id="spot-28">
            <div class="spot-subwrapper">
                <a>28</a>
                <p>{{ include.spot28 }}</p>
            </div>
        </div>
        {% endif %}

        {% if include.spot29 %}
        <div class="spot" id="spot-29">
            <div class="spot-subwrapper">
                <a>29</a>
                <p>{{ include.spot29 }}</p>
            </div>
        </div>
        {% endif %}

        {% if include.spot30 %}
        <div class="spot" id="spot-30">
            <div class="spot-subwrapper">
                <a>30</a>
                <p>{{ include.spot30 }}</p>
            </div>
        </div>
        {% endif %}


    </div>

</div>