<div class="page-pattern-rules">

    <button class="accordion-toggle pb-0 px-0 mb-2">
        <span>Open all</span>
    </button>

    <div class="accordion page-rules-accordion">

        <!-- ITEM 1 -->
        {% if include.item1 %}
        <div class="accordion-item" id="rule-1" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-1">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseOne"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseOne">
                    <span>1</span>{{ include.item1 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseOne" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-1">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content1 }}

                </div>
            </div>
        </div>
        {% endif %}


        <!-- ITEM 2 -->
        {% if include.item2 %}
        <div class="accordion-item" id="rule-2" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-2">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseTwo"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseTwo">
                    <span>2</span>{{ include.item2 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-2">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content2 }}

                </div>
            </div>
        </div>
        {% endif %}


        <!-- ITEM 3 -->
        {% if include.item3 %}
        <div class="accordion-item" id="rule-3" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-3">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseThree"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseThree">
                    <span>3</span>{{ include.item3 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseThree" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-3    ">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content3 }}

                </div>
            </div>
        </div>
        {% endif %}


        <!-- ITEM 4 -->
        {% if include.item4 %}
        <div class="accordion-item" id="rule-4" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-4">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseFour"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseFour">
                    <span>4</span>{{ include.item4 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseFour" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-4    ">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content4 }}

                </div>
            </div>
        </div>
        {% endif %}



        <!-- ITEM 5 -->
        {% if include.item5 %}
        <div class="accordion-item" id="rule-5" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-5">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseFive"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseFive">
                    <span>5</span>{{ include.item5 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseFive" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-5    ">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content5 }}

                </div>
            </div>
        </div>
        {% endif %}



        <!-- ITEM 6 -->
        {% if include.item6 %}
        <div class="accordion-item" id="rule-6" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-6">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseSix"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseSix">
                    <span>6</span>{{ include.item6 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseSix" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-6    ">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content6 }}

                </div>
            </div>
        </div>
        {% endif %}



        <!-- ITEM 7 -->
        {% if include.item7 %}
        <div class="accordion-item" id="rule-7" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-7">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseSeven"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseSeven">
                    <span>7</span>{{ include.item7 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseSeven" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-7">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content7 }}

                </div>
            </div>
        </div>
        {% endif %}



        <!-- ITEM 8 -->
        {% if include.item8 %}
        <div class="accordion-item" id="rule-8" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-8">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseEight"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseEight">
                    <span>8</span>{{ include.item8 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseEight" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-8">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content8 }}

                </div>
            </div>
        </div>
        {% endif %}



        <!-- ITEM 9 -->
        {% if include.item9 %}
        <div class="accordion-item" id="rule-9" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-9">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseNine"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseNine">
                    <span>9</span>{{ include.item9 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseNine" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-9">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content9 }}

                </div>
            </div>
        </div>
        {% endif %}



        <!-- ITEM 10 -->
        {% if include.item10 %}
        <div class="accordion-item" id="rule-10" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-10">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseTen"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseTen">
                    <span>10</span>{{ include.item10 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseTen" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-10">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content10 }}

                </div>
            </div>
        </div>
        {% endif %}



        <!-- ITEM 11 -->
        {% if include.item11 %}
        <div class="accordion-item" id="rule-11" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-11">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseEleven"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseEleven">
                    <span>11</span>{{ include.item11 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseEleven" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-11">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content11 }}

                </div>
            </div>
        </div>
        {% endif %}



        <!-- ITEM 12 -->
        {% if include.item12 %}
        <div class="accordion-item" id="rule-12" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-12">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseTwelve"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseTwelve">
                    <span>12</span>{{ include.item12 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseTwelve" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-12">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content12 }}

                </div>
            </div>
        </div>
        {% endif %}


        <!-- ITEM 13 -->
        {% if include.item13 %}
        <div class="accordion-item" id="rule-13" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-13">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseThirteen"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseThirteen">
                    <span>13</span>{{ include.item13 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseThirteen" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-13">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content13 }}

                </div>
            </div>
        </div>
        {% endif %}



        <!-- ITEM 14 -->
        {% if include.item14 %}
        <div class="accordion-item" id="rule-14" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-14">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseFourteen"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseFourteen">
                    <span>14</span>{{ include.item14 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseFourteen" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-14">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content14 }}

                </div>
            </div>
        </div>
        {% endif %}



        <!-- ITEM 15 -->
        {% if include.item15 %}
        <div class="accordion-item" id="rule-15" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-15">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseFifteen"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseFifteen">
                    <span>15</span>{{ include.item15 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseFifteen" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-15">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content15 }}

                </div>
            </div>
        </div>
        {% endif %}

        <!-- ITEM 16 -->
        {% if include.item16 %}
        <div class="accordion-item" id="rule-16" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-16">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseSixteen"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseSixteen">
                    <span>16</span>{{ include.item16 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseSixteen" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-16">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content16 }}

                </div>
            </div>
        </div>
        {% endif %}


        <!-- ITEM 17 -->
        {% if include.item17 %}
        <div class="accordion-item" id="rule-17" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-17">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseSeventeen"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseSeventeen">
                    <span>17</span>{{ include.item17 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseSeventeen" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-17">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content17 }}

                </div>
            </div>
        </div>
        {% endif %}


        <!-- ITEM 18 -->
        {% if include.item18 %}
        <div class="accordion-item" id="rule-18" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-18">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseEighteen"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseEighteen">
                    <span>18</span>{{ include.item18 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseEighteen" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-18">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content18 }}

                </div>
            </div>
        </div>
        {% endif %}


        <!-- ITEM 19 -->
        {% if include.item19 %}
        <div class="accordion-item" id="rule-19" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-19">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseNineteen"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseNineteen">
                    <span>19</span>{{ include.item19 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseNineteen" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-19">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content19 }}

                </div>
            </div>
        </div>

        {% endif %}



        <!-- ITEM 20 -->
        {% if include.item20 %}
        <div class="accordion-item" id="rule-20" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-20">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseTwenty"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseTwenty">
                    <span>20</span>{{ include.item20 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseTwenty" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-20">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content20 }}

                </div>
            </div>
        </div>
        {% endif %}


        <!-- ITEM 21 -->
        {% if include.item21 %}
        <div class="accordion-item" id="rule-21" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-21">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseTwentyone"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseTwentyone">
                    <span>21</span>{{ include.item21 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseTwentyone" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-21">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content21 }}

                </div>
            </div>
        </div>
        {% endif %}



        <!-- ITEM 22 -->
        {% if include.item22 %}
        <div class="accordion-item" id="rule-22" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-22">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseTwentytwo"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseTwentytwo">
                    <span>22</span>{{ include.item22 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseTwentytwo" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-22">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content22 }}

                </div>
            </div>
        </div>
        {% endif %}


        <!-- ITEM 23 -->
        {% if include.item23 %}
        <div class="accordion-item" id="rule-23" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-23">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseTwentythree"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseTwentythree">
                    <span>23</span>{{ include.item23 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseTwentythree" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-23">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content23 }}

                </div>
            </div>
        </div>
        {% endif %}


        <!-- ITEM 24 -->
        {% if include.item24 %}
        <div class="accordion-item" id="rule-24" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-24">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseTwentyfour"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseTwentyfour">
                    <span>24</span>{{ include.item24 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseTwentyfour" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-24">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content24 }}

                </div>
            </div>
        </div>
        {% endif %}


        <!-- ITEM 25 -->
        {% if include.item25 %}
        <div class="accordion-item" id="rule-25" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-25">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseTwentyfive"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseTwentyfive">
                    <span>25</span>{{ include.item25 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseTwentyfive" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-25">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content25 }}

                </div>
            </div>
        </div>
        {% endif %}


        <!-- ITEM 26 -->
        {% if include.item26 %}
        <div class="accordion-item" id="rule-26" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-26">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseTwentysix"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseTwentysix">
                    <span>26</span>{{ include.item26 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseTwentysix" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-26">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content26 }}

                </div>
            </div>
        </div>
        {% endif %}


        <!-- ITEM 27 -->
        {% if include.item27 %}
        <div class="accordion-item" id="rule-27" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-27">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseTwentyseven"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseTwentyseven">
                    <span>27</span>{{ include.item27 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseTwentyseven" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-27">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content27 }}

                </div>
            </div>
        </div>
        {% endif %}


        <!-- ITEM 28 -->
        {% if include.item28 %}
        <div class="accordion-item" id="rule-28" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-28">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseTwentyeight"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseTwentyeight">
                    <span>28</span>{{ include.item28 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseTwentyeight" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-28">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content28 }}

                </div>
            </div>
        </div>
        {% endif %}


        <!-- ITEM 29 -->
        {% if include.item29 %}
        <div class="accordion-item" id="rule-29" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-29">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseTwentynine"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseTwentynine">
                    <span>29</span>{{ include.item29 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseTwentynine" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-29">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content29 }}

                </div>
            </div>
        </div>
        {% endif %}


        <!-- ITEM 30 -->
        {% if include.item30 %}
        <div class="accordion-item" id="rule-30" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-30">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseThirty"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseThirty">
                    <span>30</span>{{ include.item30 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseThirty" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-30">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content30 }}

                </div>
            </div>
        </div>
        {% endif %}



    </div>

</div>