<div class="filters checkboxes-primary">

    <div class="filter-item" id="cfck">

        <form> 
            <div tabindex="0" class="checkbox-item py-3" data-label="get-started" filter-type="cfck">
                <label id="cfck-get-started" data-option="get-started"
                    data-label="get-started" filter-type="cfck">Get started</label>
                <input tabindex="-1" type="checkbox" id="get-started">
            </div>

           
            <div tabindex="0" class="checkbox-item py-3" data-label="do-a-health-check" filter-type="cfck">
                <label id="cfck-do-a-health-check" data-option="do-a-health-check"
                    data-label="do-a-health-check" filter-type="cfck">Do a health check</label>
                <input tabindex="-1" type="checkbox" id="do-a-health-check">
            </div>
        
            <div tabindex="0" class="checkbox-item py-3" data-label="learn-the-basics" filter-type="cfck">
                <label id="cfck-learn-the-basics" data-option="learn-the-basics" data-label="learn-the-basics"
                    filter-type="cfck">Learn the basics</label>
                <input tabindex="-1" type="checkbox" id="learn-the-basics">
            </div>

            <div tabindex="0" class="checkbox-item py-3" data-label="explore-changes" filter-type="cfck">
                <label id="cfck-explore-changes" data-option="explore-changes" data-label="explore-changes"
                    filter-type="cfck">Explore changes</label>
                <input tabindex="-1" type="checkbox" id="explore-changes">
            </div>

            <div tabindex="0" class="checkbox-item py-3" data-label="increase-cash-in" filter-type="cfck">
                <label id="do-the-numbers" data-option="do-the-numbers" data-label="do-the-numbers"
                    filter-type="cfck">Do the numbers</label>
                <input tabindex="-1" type="checkbox" id="increase-cash-in">
            </div>

           




        </form>

        <div class="btn-clear d-inline-flex align-items-center mt-4 mb-5" title="Clear All Filters" role="button" aria-label="Clear All Filters" tabindex="0">
            <span class="text-decoration-underline text-nowrap">Clear all filters</span>
            <svg class="ms-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16.01" viewBox="0 0 16 16.01">
                <path data-name="Path 7719" d="M4.01,4v7h7L7.792,7.782A5.919,5.919,0,0,1,12.015,6a6,6,0,1,1-5.654,8.005H4.28A8,8,0,1,0,6.361,6.351Z" transform="translate(-4.01 -4)" fill="#333"/>
              </svg>
              
        </div>

    </div>

</div>