<div class="bga-component-wrapper pb-5">
<div class="bga-component easy-read {{include.classes}} m-0">

    <div class="p-0 component-content">

        <div class="component-image p-5">

            {% if include.image %}
                <img src={{ include.image }} alt="" />
            {% endif %}

        </div>

        <div class="component-text p-4 remove-element-padding">
           
            {% if include.text %}
                {{ include.text }}
            {% endif %}
            
        </div>
    

    </div>

</div>
</div>