<div class="save-footer py-4 mt-5 mb-0">

    <div class="container">

        <div class="row">
            <div class="col-12 ccol-lg-8 col-xl-9">
                <div class="save-footer-content save-content remove-element-padding">
                    <h3>Don't have time to finish your contract now?</h3>
                    <p>You can save you progress in this tool and return within the next seven days. We’ll email you a link that you can use to return and finish your contract.</p> 
                </div>

                <div class="save-footer-content manage-contracts-content d-none remove-element-padding">
                    <h3>We are saving this contract for another <span class='remaining-days'>seven</span> days.
                    </h3>
                    <p>If you need more time you can <a href={{ 'prototypes/ecb/manage-contracts.html'' | relative_url }}> extend your deadline by a further seven days</a> on the saved contracts page.</p> 
                </div>
            </div>
       
            <div class="col-12 col-lg-4 col-xl-3 d-flex align-items-center justify-content-center button-wrapper flex-wrap">  
                <button data-modal="ecb-modal-save" id="ecb-save-exit" class="bga-btn bga-secondary-btn bkg-light flex-shrink-0 modal-trigger-verify" tabindex="0" role="button">Save and exit</button>

                <a id="ecb-manage-contracts" href="" class="d-none bga-btn bga-secondary-btn bkg-light flex-shrink-0" tabindex="0" role="button">Manage saved contracts</a>
                <a id="ecb-new-contract" href="" class="ecb_new_contract d-none bga-link bga-inline-link bkg-light flex-shrink-0" tabindex="0" role="button">Create new contract</a>
            </div>
        </div>


    </div>

</div>
