<div class="callout-box call-to-action finalise teal d-flex p-4 mb-5">
            
    <div class="cta-container">
        
        <div class="cta-title remove-element-padding p-3">
            
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="24" cy="24" r="24" fill="white"/>
                <path d="M13 34V24.375H15.75V31.25H32.25V24.375H35V34H13ZM17.6104 21.7075L19.556 19.7646L22.625 22.8336V12H25.375V23L28.6104 19.7646L30.5546 21.7075L24.0825 28.1796L17.6104 21.7075Z" fill="#333333"/>
                </svg>
                
        <h3>Download</h3>
        </div>
        
        <div class="cta-content d-flex remove-element-padding p-3">
            <p>Download your employment contract and a letter of offer in a word document.</p>
        
            <div class="button-example">
                    <button data-modal="ecb-modal-download" class="bga-btn bga-primary-btn bkg-light modal-trigger" tabindex="0" href="" role="button">Download contract</button>
            </div>
        </div>

    </div>

    <div class="cta-container">
        
        <div class="cta-title remove-element-padding p-3">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="24" cy="24" r="24" fill="white"/>
                <path d="M15.012 34.572L39 24.2853L15.012 14L15 22L32.1427 24.2853L15 26.572L15.012 34.572Z" fill="#333333"/>
                </svg>
                
            <h3>Email</h3>
        </div>
        
        <div class="cta-content d-flex remove-element-padding p-3">
            <p>Email your employment contract and a letter of offer in a word document.</p>
        
            <div class="button-example">
                    <button data-modal="ecb-modal-email" class="bga-btn bga-primary-btn bkg-light modal-trigger" tabindex="0" href="" role="button">Email contract</button>
            </div>
        </div>

    </div>

    <!-- Save and return -->
    <div class="cta-container">
        
        <div class="save-content">
        <div class="cta-title remove-element-padding p-3">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="24" cy="24" r="24" fill="white"/>
                <path d="M30.179 13H16.3113C15.0285 13 14 14.0401 14 15.3113V31.4903C14 32.7615 15.0285 33.8016 16.3113 33.8016H32.4903C33.7615 33.8016 34.8016 32.7615 34.8016 31.4903V17.6226L30.179 13ZM24.4008 31.4903C22.4824 31.4903 20.9339 29.9417 20.9339 28.0234C20.9339 26.105 22.4824 24.5564 24.4008 24.5564C26.3192 24.5564 27.8677 26.105 27.8677 28.0234C27.8677 29.9417 26.3192 31.4903 24.4008 31.4903ZM27.8677 19.9339H16.3113V15.3113H27.8677V19.9339Z" fill="#333333"/>
                </svg>
                
            <h3>Save for later</h3>
        </div>
        
        <div class="cta-content d-flex remove-element-padding p-3">
            <p>Save your progress in this tool. We will email you a link so you can return and make changes.</p>
        
            <div class="button-example">
                    <button data-modal="ecb-modal-save" class="bga-btn bga-primary-btn bkg-light modal-trigger-verify" tabindex="0" href="" role="button">Save and exit</button>
            </div>
        </div>
        </div>

        <div class="manage-contracts-content d-none">
            <div class="cta-title remove-element-padding p-3">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="24" fill="white"/>
                    <path d="M30.179 13H16.3113C15.0285 13 14 14.0401 14 15.3113V31.4903C14 32.7615 15.0285 33.8016 16.3113 33.8016H32.4903C33.7615 33.8016 34.8016 32.7615 34.8016 31.4903V17.6226L30.179 13ZM24.4008 31.4903C22.4824 31.4903 20.9339 29.9417 20.9339 28.0234C20.9339 26.105 22.4824 24.5564 24.4008 24.5564C26.3192 24.5564 27.8677 26.105 27.8677 28.0234C27.8677 29.9417 26.3192 31.4903 24.4008 31.4903ZM27.8677 19.9339H16.3113V15.3113H27.8677V19.9339Z" fill="#333333"/>
                    </svg>
                    
                <h3>Save for later</h3>
            </div>
            
            <div class="cta-content d-flex remove-element-padding p-3">
                <p class="mb-3">We are saving this contract for another <span class="remaining-days">seven</span> days.</p> 
                <p>You can extend this deadline by a further seven days on the saved contracts page.</p> 
            
                <div class="button-example">
                    <a id="ecb-manage-contracts" href="" class="d-none bga-btn bga-primary-btn bkg-light flex-shrink-0" tabindex="0" role="button">Manage saved contracts</a>
                </div>
            </div>
            </div>
    

    </div>
  
</div>

