<div class="bga-component-wrapper">
    <div class="bga-component modal-example px-4 pb-4 pt-5 {{include.classes}}">

        <button class="close m-0 p-0">Close</button>

        <div class="component-content mt-2">

            <div class="component-text p-0 remove-element-padding">
                <h4>Inactive feature</h4>
                <p>This link or feature is not available for testing purposes.</p>

            </div>

        </div>

    </div>
</div>

<div class="modal-overlay"></div>