<div class="filters single-select-dynamic {{ include.classes }}">

    <div class="filter-item pb-2" id="research-field">
       
        <label id="research-field-dropdown" class="mb-3" data-option="research-field" data-label="research-field" filter-type="research-field">Research field 
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
            <g transform="translate(20 12.5) rotate(180)">
                <path data-name="Chevron / Up" d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z" fill="#333">
                </path>
            </g>
        </svg></label>
            
                <form>
                    <select class="form-select" id="filter_stage" select-filter-type="research-field" filter-value="27">
                        <option value="select-option">Select research area</option>
                        <option class="select-option" value="agricultural-veterinary-and-food-sciences">Agricultural, veterinary and food sciences</option>
                        <option class="select-option" value="biological-sciences">Biological sciences</option>
                        <option class="select-option" value="biomedical-and-clinical-sciences">Biomedical and clinical sciences</option>
                        <option class="select-option" value="built-environment-and-design">Built environment and design</option>
                        <option class="select-option" value="chemical-sciences">Chemical sciences</option>
                        <option class="select-option" value="commerce-management-tourism-and-services">Commerce, management, tourism and services</option>
                        <option class="select-option" value="creative-arts-and-writing">Creative arts and writing</option>
                        <option class="select-option" value="earth-sciences">Earth sciences</option>
                        <option class="select-option" value="economics">Economics</option>
                        <option class="select-option" value="education">Education</option>
                        <option class="select-option" value="engineering">Engineering</option>
                        <option class="select-option" value="environmental-sciences">Environmental sciences</option>
                        <option class="select-option" value="health-sciences">Health sciences</option>
                        <option class="select-option" value="history-heritage-and-archaeology">History, heritage and archaeology</option>
                        <option class="select-option" value="human-society">Human society</option>
                        <option class="select-option" value="indigenous-studies">Indigenous studies</option>
                        <option class="select-option" value="information-and-computing-sciences">Information and computing sciences</option>
                        <option class="select-option" value="language-communication-and-culture">Language, communication and culture</option>
                        <option class="select-option" value="law-and-legal-studies">Law and legal studies</option>
                        <option class="select-option" value="mathematical-sciences">Mathematical sciences</option>
                        <option class="select-option" value="philosophy-and-religious-studies">Philosophy and religious studies</option>
                        <option class="select-option" value="physical-sciences">Physical sciences</option>
                        <option class="select-option" value="psychology">Psychology</option>

                    </select>
                </form>

    </div>

</div>


<div class="filters checkboxes-dynamic">

    <div class="active-filters dynamic-groups multi-select">

        <div class="visible-filters"></div>
    
        <div class="filter-group agricultural-veterinary-and-food-sciences" >
        
            <p class="filter-group-title agricultural-veterinary-and-food-sciences mb-2" data-filter-group="agricultural-veterinary-and-food-sciences">Agricultural, veterinary and food sciences <span class="mobile-counter"></span></p>

            <ul class="m-0 p-0 agricultural-veterinary-and-food-sciences" data-filter-group="agricultural-veterinary-and-food-sciences" >
                <li filter-type="research-field" filter-value="10" data-value="ag-3001">3001 Agricultural biotechnology</li>
                <li filter-type="research-field" filter-value="15" data-value="ag-3002">3002 Agriculture, land and farm management</li>
                <li filter-type="research-field" filter-value="15" data-value="ag-3003">3003 Animal production</li>
                <li filter-type="research-field" filter-value="15" data-value="ag-3004">3004 Crop and pasture production</li>
                <li filter-type="research-field" filter-value="15" data-value="ag-3005">3005 Fisheries sciences</li>
                <li filter-type="research-field" filter-value="15" data-value="ag-3006">3006 Food sciences</li>
                <li filter-type="research-field" filter-value="15" data-value="ag-3007">3007 Forestry sciences</li>
                <li filter-type="research-field" filter-value="15" data-value="ag-3008">3008 Horticultural production</li>
                <li filter-type="research-field" filter-value="15"  data-value="ag-3009">3009 Veterinary sciences</li>
                <li filter-type="research-field" filter-value="15" data-value="ag-3099">3099 Other agricultural, veterinary and food sciences</li>
            </ul>

        </div>

        <div class="filter-group biological-sciences">
        
            <p class="filter-group-title biological-sciences mb-2" data-filter-group="biological-sciences">Biological sciences <span class="mobile-counter"></span></p>

            <ul class="m-0 p-0 biological-sciences" data-filter-group="biological-sciences">
                <li filter-type="research-field" filter-value="10" data-value="bio-3101">3101 Biochemistry and cell biology</li>
                <li filter-type="research-field" filter-value="15" data-value="bio-3102">3102 Bioinformatics and computational biology</li>
                <li filter-type="research-field" filter-value="15" data-value="bio-3103">3103 Ecology</li>
                <li filter-type="research-field" filter-value="15" data-value="bio-3104">3104 Evolutionary biology</li>
                <li filter-type="research-field" filter-value="15" data-value="bio-3105">3105 Genetics</li>
                <li filter-type="research-field" filter-value="15" data-value="bio-3106">3106 Industrial biotechnology</li>
                <li filter-type="research-field" filter-value="15" data-value="bio-3107">3107 Microbiology</li>
                <li filter-type="research-field" filter-value="15" data-value="bio-3108">3108 Plant biology</li>
                <li filter-type="research-field" filter-value="15"  data-value="bio-3109">3109 Zoology</li>
                <li filter-type="research-field" filter-value="15" data-value="bio-3199">3199 Other biological sciences</li>
            </ul>

        </div>


        <div class="filter-group biomedical-and-clinical-sciences">
        
            <p class="filter-group-title biomedical-and-clinical-sciences mb-2"  data-filter-group="biomedical-and-clinical-sciences">Biomedical and clinical sciences <span class="mobile-counter"></span></p>

            <ul class="m-0 p-0 biomedical-and-clinical-sciences" data-filter-group="biomedical-and-clinical-sciences">
                <li filter-type="research-field" filter-value="10" data-value="bio-3201">3201 Cardiovascular medicine and haematology</li>
                <li filter-type="research-field" filter-value="15" data-value="bio-3202">3202 Clinical sciences</li>
                <li filter-type="research-field" filter-value="15" data-value="bio-3203">3203 Dentistry</li>
                <li filter-type="research-field" filter-value="15" data-value="bio-3204">3204 Immunology</li>
                <li filter-type="research-field" filter-value="15" data-value="bio-3205">3205 Medical biochemistry and metabolomics</li>
                <li filter-type="research-field" filter-value="15" data-value="bio-3206">3206 Medical biotechnology</li>
                <li filter-type="research-field" filter-value="15" data-value="bio-3207">3207 Medical microbiology</li>
               
            </ul>

        </div>
    
    
    
</div>

    <div class="filter-item-content research-field" id="agricultural-veterinary-and-food-sciences">

            <form>
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="ag-3001">
                    <label>3001 Agricultural biotechnology</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="ag-3002">
                    <label>3002 Agriculture, land and farm management</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="ag-3003">
                    <label>3003 Animal production</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="ag-3004">
                    <label>3004 Crop and pasture production</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="ag-3005">
                    <label>3005 Fisheries sciences</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="ag-3006">
                    <label>3006 Food sciences</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="ag-3007">
                    <label>3007 Forestry sciences</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="ag-3008">
                    <label>3008 Horticultural production</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="ag-3009">
                    <label>3009 Veterinary sciences</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="ag-3099">
                    <label>3099 Other agricultural, veterinary and food sciences</label>
                </div>

                            

                </form>
            
        </div>


    <div class="filter-item-content research-field" id="biological-sciences">

            <form>
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="bio-3101">
                    <label>3101 Biochemistry and cell biology</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="bio-3102">
                    <label>3102 Bioinformatics and computational biology</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="bio-3103">
                    <label>3103 Ecology</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="bio-3104">
                    <label>3104 Evolutionary biology</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="bio-3105">
                    <label>3105 Genetics</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="bio-3106">
                    <label>3106 Industrial biotechnology</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="bio-3107">
                    <label>3107 Microbiology</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="bio-3108">
                    <label>3108 Plant biology</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="bio-3109">
                    <label>3109 Zoology</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="bio-3199">
                    <label>3199 Other biological sciences</label>
                </div>
            
                            
            
                </form>
            
        </div>

    <div class="filter-item-content research-field" id="biomedical-and-clinical-sciences">

        <form>
            <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                <input type="checkbox" tabindex="-1" id="bio-3201">
                <label>3201 Cardiovascular medicine and haematology</label>
            </div>
    
            <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                <input type="checkbox" tabindex="-1" id="bio-3202">
                <label>3202 Clinical sciences</label>
            </div>
    
            <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                <input type="checkbox" tabindex="-1" id="bio-3203">
                <label>3203 Dentistry</label>
            </div>
    
            <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                <input type="checkbox" tabindex="-1" id="bio-3204">
                <label>3204 Immunology</label>
            </div>
    
            <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                <input type="checkbox" tabindex="-1" id="bio-3205">
                <label>3205 Medical biochemistry and metabolomics</label>
            </div>
    
            <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                <input type="checkbox" tabindex="-1" id="bio-3206">
                <label>3206 Medical biotechnology</label>
            </div>
    
            <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                <input type="checkbox" tabindex="-1" id="bio-3207">
                <label>3207 Medical microbiology</label>
            </div>
    
    
            </form>
        
    </div>

</div>


<div class="filters checkboxes-secondary">

    <div tabindex="0" class="filter-item pt-3 pb-2" id="location">
        <div class="filter-item-title remove-element-padding">
            <p class="mb-0">Provider location <span class="mobile-counter"></span></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                <g transform="translate(20 12.5) rotate(180)">
                    <path data-name="Chevron / Up" d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z"
                        fill="#333">
                    </path>
                </g>
            </svg>

        </div>
        <div class="active-filters pt-2 multi-select">
            <ul class="m-0 p-0">
                <li filter-type="location" filter-value="10" data-value="australian-capital-territory">
                    Australian Capital Territory</li>
                <li filter-type="location" filter-value="15" data-value="new-south-wales">New South
                    Wales</li>
                <li filter-type="location" filter-value="15" data-value="northern-territory">
                    Northern Territory</li>
                <li filter-type="location" filter-value="15" data-value="queensland">Queensland</li>
                <li filter-type="location" filter-value="15" data-value="south-australia">South
                    Australia</li>
                <li filter-type="location" filter-value="15" data-value="tasmania">Tasmania</li>
                <li filter-type="location" filter-value="15" data-value="victoria">Victoria</li>
                <li filter-type="location" filter-value="15" data-value="western-australia">Western
                    Australia</li>
                <li filter-type="location" filter-value="15" data-value="other-australian-territory">
                    Other Australian territory</li>
            </ul>
        </div>
        <div class="filter-item-content">

            <form>
                <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="australian-capital-territory">
                    <label>Australian Capital Territory</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="new-south-wales">
                    <label>New South Wales</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="northern-territory">
                    <label>Northern Territory</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="queensland">
                    <label>Queensland</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="south-australia">
                    <label>South Australia</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="tasmania">
                    <label>Tasmania</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="victoria">
                    <label>Victoria</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="western-australia">
                    <label>Western Australia</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="other-australian-territory">
                    <label>Other Australian territory</label>
                </div>

            </form>

        </div>
    </div>

</div>
