---

layout: blank
title: Close tool

---

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description"
        content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <meta name="robots" content="noarchive, nofollow, noindex, nosnippet, notranslate, noydir">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700, 700i&display=swap"
        rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href={{"favicon.ico?" | relative_url }}>

    <!-- Style guide specific CSS -->
    <link rel="stylesheet" href={{ "css/main.css" | relative_url }}>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    <script src={{"/js/bootstrap-datepicker.js" | relative_url }}></script>


    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml" | prepend:
        site.baseurl | prepend: site.url }}">

</head>




<body class="grey-bkg">
    <div class="container">

        <div class="row">

            <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">

            <!-- CLOSE TOOL MODAL -->
            <div id="dummy-modal" class="bga-component mt-6 p-4 remove-element-padding">

                <div class="component-content">

                    <div class="component-text">

                        <h4>Remove your data and close the tool?</h4>

                        <p>To protect your privacy, closing the tool will remove any information you have entered.</p>
                        <p>To keep your information, make sure you have downloaded or emailed a copy of your contract.
                        </p>
                        <p>If you want to make changes to your current contract, click cancel to go back into the tool.
                        </p>

                        <div class="ecb-button-group d-flex align-items-center">
                            <p class="pretend-bga-link me-4 cancel" tabindex="-1" >Cancel</p>
                            <div class="button-example">
                                <p class="pretend-bga-btn clear-tool" tabindex="-1">Yes, close this tool</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            </div>

        </div>

    </div>




</body>