---

layout: ecb-5-step
title: Employment Contract Tool
stepped-nav-step: Position
step-number: 1

---

<div class="container page-content position-page prototype-default-state my-5">


    <!-- POSITION TITLE -->
    <div id="section-position-title"class="row remove-element-padding">

        <h2>Position title</h2>

        <div class="col-12 col-md-8 col-xl-7">
            <div class="question-section remove-element-padding">
               
                    <div class="mb-5 p-0 form-example tool-output-box-include">
                        <label for="position-title" class="form-label mb-3"><strong>What is the employee's position title?</strong></label>
                        <p class="">e.g. Accounts manager, Sales assistant</p>
                        <input type="text" class="form-control tool-output-box-input mb-0" id="position-title" value=""
                            required>

                    </div>
          

                <div class="bga-component-wrapper">
                    
                    {% include component-examples/tool-output-box-example.html
                        title="Position clause"
                        tag="Included"
                        tag-type="mandatory"
                        content="You are being employed in the position of <span>[position title]</span>."
                        id="position-title"
                    %}
                   
                </div>
            </div>
        </div>

        <div class="h-100 col-12 col-md-4 offset-xl-1">

            {% include component-examples/info-sidebar-example.html
            title="Tip"
            text="<p>If you've already recruited someone, use the position title (or job title) you provided during your
                recruitment process.</p>
            <p>The position title should reflect the work your employee will do. You may also find examples of job
                titles under the applicable award in the classifications section.</p>"
            classes="inpage teal"
            %}

        </div>

    </div>

    <hr class="section-divider my-5" />


    <!-- BUSINESS STRUCTURE -->
    <div id="section-business-structure" class="row remove-element-padding">

        <h2>Business structure</h2>

        <div class="col-12 col-md-8 col-xl-7">

            <div class="question-section remove-element-padding">
               
                    <div class="p-0 form-example tool-output-box-include">
                        <label for="business-structure" class="form-label mb-3"><strong>What is your business
                                structure?</strong></label>
                        <p class="mb-3">
                            We need to know your business structure to determine the signature fields to include in your
                            contract. This information is not shared with any other agency, for more information see our privacy page.
                        </p>

                        <select class="form-select" id="business-structure" aria-label="Default select example">
                            <option class="default-option" value="">Select your business structure</option>
                            <option value="individual sole trader">Individual sole trader</option>
                            <option value="company with sole director">Company with sole director</option>
                            <option value="company with more than one director">Company with more than one director
                            </option>
                            <option value="partnership or association">Partnership or association</option>
                            <option value="authorised representative">Authorised representative</option>
                            <option value="other">Other</option>
                        </select>

                    </div>
            
            </div>


        </div>

        <div class="h-100 col-12 col-md-4  offset-xl-1">
            {% include component-examples/info-sidebar-example.html
            title="Unsure of your business structure?"
            text=" <p>If you're unsure of what your business structure is, search for your business on ABN Lookup. Your
                business structure is displayed against the 'Entity type' field.</p>
            <p>If none of the business structure options apply to your business, select 'other'.</p>"
            classes="inpage teal"
            %}
        </div>

    </div>

    <hr class="section-divider my-5" />


    <!-- EMPLOYMENT TYPE -->
    <div id="section-employment-type" class="row remove-element-padding">

        <h2>Employment type</h2>

        <div class="remove-top-spaces col-12 col-md-8 col-xl-7">

            <div class="question-section remove-element-padding">
                <p class="mb-3"><strong>Select the type of employee you're hiring</strong></p>

                <p class="mb-3">It's important you get this right. The pay rates, leave and other entitlements for each type can differ, so it will change what you need to include in your contract.</p>

                <div class="mb-4 p-0 ">
                    <div class="form-element-wrapper no-flex mb-3">
                        <div class="tool-output-box-radios radios" id="employment-type" role="radiogroup">
                            
                            <div class="radio-button alternate pb-1">
                                <input class="form-check-input m-0" type="radio" name="employment-type" id="fulltime" data-value="full time">
                                <label class="form-check-label" for="fulltime">
                                    <strong>Full-time</strong> – usually 38 hours of work per week
                                </label>
                            </div>

                            <div class="radio-button alternate pb-1">
                                <input class="form-check-input m-0" type="radio" name="employment-type" id="parttime" data-value="part time">
                                <label class="form-check-label" for="parttime">
                                    <strong>Part-time</strong> – usually less than 38 hours of work per week
                                </label>
                            </div>

                            <div class="radio-button alternate pb-1">
                                <input class="form-check-input m-0" type="radio" name="employment-type" id="casual" data-value="casual">
                                <label class="form-check-label" for="casual">
                                    <strong>Casual</strong> – no firm advance commitment to continuing and indefinite work according to an agreed pattern of work
                                </label>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="bga-component-wrapper">
                    
                    {% include component-examples/tool-output-box-example.html
                        title="Employment type clause"
                        tag="Included"
                        tag-type="mandatory"
                        content="You are being employed on a <span>[employment type]</span> basis."
                        id="employment-type"
                    %}
                    
                </div>

            </div>

        </div>

        <div class="h-100 col-12 col-md-4  offset-xl-1">
            {% include component-examples/info-sidebar-example.html
            title="Duties / Position description"
            text="<p>If you provided a position (or job) description during your recruitment process, you can use this. If you don't have a position description yet, you can download the job description  template from the Fair Work Ombudsman website and fill it in later.</p>"
            classes="inpage teal"
            %}
        </div>

    </div>

    <hr class="section-divider my-5" />







    <!-- BUTTON GROUP -->
    <div class="ecb-button-group">

        <a class="bga-link bga-inline-link bkg-light prev" tabindex="0" href={{ 'prototypes/ecb/tasks/landing.html' | relative_url }} role="button">Previous</a>


        <a class="bga-btn bga-primary-btn bkg-light next" tabindex="0" href={{ 'prototypes/ecb/tasks/hours.html' | relative_url }} role="button">Next</a>

    </div>



</div>