---

layout: ecb-5-step
title: Employment Contract Tool
stepped-nav-step: Review
step-number: 4

---

<div class="container page-content review-page prototype-default-state my-5">


    <!-- PAY RATE -->
    <div class="row ">

        <div class="col-12 col-md-11 col-lg-9 col-xl-8 remove-element-padding">

            <h2>Review your employment contract</h2>
            <p>Check the clauses you've added to your contract.</p>

            <h2>Position</h2>

            {% include component-examples/results-and-edit-example.html
            title="Position title"
            href="'position.html' | relative_url "
            content="<p>You are being employed in the position of <strong><span data-value='position-title'>[position title]</span></strong>.</p>"
            classes="position-title"
            field-name="position-title"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Business structure"
            href="'position.html' | relative_url "
            content="<p>Your business structure is <strong><span data-value='business-structure'>[business structure]</span></strong>.</p>"
            classes="business-structure"
            field-name="business-structure"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Employment type"
            href="'position.html' | relative_url "
            content="<p>You are being employed on a <strong><span data-value='employment-type'>[employment type]</span></strong> basis.</p> "
            classes="employment-type"
            field-name="employment-type-text"
            %}


            <h2>Hours</h2>
            {% include component-examples/results-and-edit-example.html
            title="Hours of work"
            href="'hours.html' | relative_url "
            content="<p>You are expected to work <strong><span data-value='hours-worked'>[number]</span> ordinary hour(s) per week</strong>. We may also request or require you to work additional hours if the additional hours are reasonable.</p>"
            classes="hours-worked"
            field-name="hours-worked"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Flexible hours"
            href="'hours.html' | relative_url "
            content="<p>You may have a right to make a written request for flexible working arrangements under the National Employment Standards, including for when to start and end work each day or your location of work. We may refuse your request in writing, but only if we have reasonable business grounds.</p>"
            classes="flexible-hours"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Breaks"
            content="<p>Depending on the number of hours you work, you may be entitled to meal breaks. The award sets out:</p><ul><li>the length of the breaks</li><li>when they need to be taken</li><li>the rules about payment.</li></ul><p>You may also be entitled to rest breaks.</p>"
            classes="no-btn breaks"
            %}


            <h2>Pay</h2>
            {% include component-examples/results-and-edit-example.html
            title="Pay rate"
            href="'pay.html' | relative_url "
            content="<p>You will be paid <strong>$<span data-value='pay-rate'>[amount]</span></strong> <strong class='pay-units'>per hour</strong>. This pay rate does not include superannuation, we'll pay this separately.</p>"
            classes="pay-rate"
            field-name="pay-rate"
            %}

            {% include component-examples/results-and-edit-example.html
            title="Payment method"
            href="'pay.html' | relative_url "
            content="<p>We will pay you <strong><span data-value='pay-frequency'>[frequency]</span> into your nominated bank account</strong>.</p>"
            classes="pay-frequency"
            field-name="pay-frequency-text"
            %}


        </div>


    </div>

    <hr class="section-divider my-5" />



    <!-- BUTTON GROUP -->
    <div class="ecb-button-group">

        <a class="bga-link bga-inline-link bkg-light prev" tabindex="0" href={{ 'prototypes/ecb/tasks/pay.html' |
            relative_url }} role="button">Previous</a>


        <a class="bga-btn bga-primary-btn bkg-light next" tabindex="0" href={{ 'prototypes/ecb/tasks/finalise.html' | relative_url }}
            role="button">Next</a>

    </div>



</div>