.bga-component.bga-default-accordion {
    background: none;
    text-align: right;

    .accordion-toggle {
        border: none;
        background: transparent !important;
        text-decoration: underline;
        cursor: pointer;
        font-weight: 600;
        box-shadow: none;
        color: $bga-black;

        &.close {
            svg {
                transform: scaleY(-1);
            }
        }
    }
    .accordion {
        text-align: left;
        border-top: $bga-blue-black-lightest solid 2px;
    }
    .accordion-item {
        border: none;
        background: $bga-blue-black-lightest;
        border-bottom: $bga-blue-black-lightest solid 2px;
        
        &:last-of-type {
            .accordion-button {
                border-radius: 0;
            }
        }
        &:first-of-type {
            .accordion-button {
                border-radius: 0;
            }
        }
        &:focus-visible {
            outline: none; 
        }
        &:hover {
            border-bottom: $bga-yellow-links-background solid 4px;
        }
        &.show {
            border-bottom: $bga-yellow-links-background solid 4px;
        }

        .accordion-button {
            background: $bga-white;
            font-weight: 600;
            color: $bga-blue-black-dark;
            justify-content: space-between;
            
            &::after {
                background-color: $bga-yellow-highlight-dark;
                background-image: url(../assets/Chevron-down-black.svg);
                background-position: center center;
                background-size: 16px 10px;
                height: 48px;
                width: 48px;
                border-radius: 100px;
                box-shadow: $bga-btn-boxshadow;
                margin: auto 0;
                
            }
            &:focus {
                box-shadow: none;
            }
            &:focus-visible {
                border: $bga-component-focus-border;
                border-radius: $bga-focus-radius;
            }
            &:hover {
                background: $bga-white;
                text-decoration: underline;
                
                &::after {
                    background-color: $bga-yellow-links-background;
                }
            }
            &:not(.collapsed) {
                background-color: $bga-blue-black-lightest;
                box-shadow: none;
                
                &:hover {
                    border-bottom: none;
                    background: $bga-blue-black-lightest;
                }
                &::after {
                    box-shadow: 2px -2px 3px 0px rgba(51, 51, 51, 0.2);
                    background-color: $bga-yellow-links-background;
                    transform: scaleY(-1);
                }
            }
    
            p {
                display: block;
                width: 100%;
            }
        }
        .accordion-body {
            display: flex;
            flex-wrap: wrap;

            a {
                cursor: pointer;
                color: $bga-blue-links;
                text-decoration: underline;

                &:focus-visible {
                    border: $bga-text-focus-border;
                    border-radius: $bga-focus-radius;
                    outline: none;
                    color: $bga-blue-footer;
                }
                &:hover {
                    color: $bga-blue-footer;
                }
            }
        }
    } 
    &.colour-bkg {
        .accordion {
            border-top: $bga-blue-black-light solid 2px;
        }
        .accordion-item {
            background: $bga-blue-background-light;
            border-bottom: $bga-blue-black-light solid 2px;

            &:hover {
                border-bottom: $bga-yellow-highlight-shadow solid 4px;
            }
            &.show {
                border-bottom: $bga-yellow-highlight-shadow solid 4px;
            }            

            .accordion-button {
                background: $bga-blue-background-light;

                &:hover {
                    background: $bga-blue-background-light;
                }
                &:not(.collapsed) {
                    background-color: $bga-blue-background-extralight;
                    
                    &:hover {
                        background: $bga-blue-background-extralight;
                    }
                }
            }
            .accordion-body {
                background: $bga-blue-background-extralight;
            }
        }
    }

    &.grant-rounds {
        .accordion-toggle {
            display: none;
        }
        .accordion-item {
            background: $bga-white;

            .accordion-body {
                padding: 0 !important;
                font-size: .875rem;
                line-height: 1.75;
            }
            .round-row {
                display: flex;
                padding: 16px 24px;
                border-bottom: 2px solid $bga-blue-black-lightest;
                width: 100%;

                &:last-of-type {
                    border-bottom: none;
                }
                .round-info {
                    display: flex;
                }
                .round {
                    white-space: nowrap;
                    padding-right: 16px;
                }
                .tag {
                    font-size: .75rem;
                    padding-right: 16px;

                    span {
                        background: $bga-red-fail-light;
                        border-radius: 4px;
                        padding: 2px 8px;
                        display: block;
                        white-space: nowrap;
                    }
                }
                &.open {
                    background: $bga-green-highlight-light;

                    .tag {
                        span {
                            background: $bga-white;
                            border: 1px solid $bga-green-success-dark; 
                            padding: 1px 7px;   
                        }
                    }
                }
                &.coming-soon {
                    .tag {
                        span {
                            background: $bga-yellow-highlight-light;
                        }
                    }
                }

            }
            

        }
    }

    &.non-branded {
        .accordion {
            border-top: $bga-black solid 1px;
        }
        .accordion-item {
            background: $nb-grey-light;
            border-bottom: $bga-black solid 1px;

            &:hover {
                border-bottom: $bga-black solid 2px;
            }
            &.show {
                border-bottom: $bga-black solid 2px;
            }

            .accordion-button {
                color: $bga-black;
                
                &::after {
                    background-color: transparent;
                    border-radius: none;
                    box-shadow: none;
                }
                
                &:focus-visible {
                   border-color: $nb-blue-links;
                }
                &:hover {
                    &::after {
                        background-color: transparent;
                    }
                }
                &:not(.collapsed) {
                    background-color: $nb-grey-light;
                    
                    &:hover {
                        background: $nb-grey-light;
                    }
                    &::after {
                        box-shadow: none;
                        background-color: transparent;
                    }
                }
            }

            .accordion-body {
                a {
                    color: $nb-blue-links;
                }
            }
        }

        &.grant-rounds {
            .accordion-item {
                .round-row {
                    border-bottom: 2px solid $bga-black;
                    
                    .tag {
                        font-size: .875rem;
                        line-height: 1.75;
    
                        span {
                            background: transparent !important;
                            border: none; 
                            padding: 0 !important;
                        }
                    }
                    &.open {
                        background: $nb-grey-lightest; 
                    }
                }
                
    
            }
        }
    }
}


// Mixins for smaller screen sizes
@mixin grants-accordion-bp-576 {
    .bga-default-accordion.grant-rounds {
         .accordion-body {
                padding: 0 !important;
            }
            .round-row {
                padding: 16px !important;
                display: block !important;

                .round-info {
                    padding-bottom: 16px;
                }
            }
    }
}

@mixin accordion-below576 () {
    .bga-default-accordion {
        .accordion-item {
            .accordion-button {
                font-size: 1rem;
                padding: 16px !important;

                p {
                    padding-right: 16px !important;
                }
                &::after {
                    height: 32px;
                    width: 32px;
                }
            }
            .accordion-body {
                padding: 0 16px 16px 16px !important;
            }
        }
    }
}

// SMALLER SCREENS display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-576 {
    @include grants-accordion-bp-576();
}

.component-example.bp-below576 {
    @include accordion-below576();
    @include grants-accordion-bp-576();
}

// Media queries for HTML example pages
@media (max-width: 768px) {
    @include grants-accordion-bp-576();
}

@media (max-width: 576px) {
    @include accordion-below576();
    @include grants-accordion-bp-576();
}