.anchor-menu {
    position: relative;
    
    &.fixed {
        position: fixed;
        top: 32px;
    }
    
    li {
        text-decoration: none;
        font-size: .88rem;
        list-style-type: none;
        text-indent: 0;
        
        &::before {
            content: none;
        }
        
        a {
            text-decoration: none;
            font-weight: 400;
            
            &:focus, &:hover {
                font-weight: 600;
                text-decoration: underline; 
                background: none;
                color: $bga-blue-links;
            }
            
            &.current {
                border-left: 4px solid $bga-blue-links;
                padding-left: 8px;
            }
        }
    }
    &.non-branded {
        li {
            a {
                &:focus, &:hover {
                    color: $nb-blue-links;
                }
                
                &.current {
                    color: $nb-blue-links;
                }
            }
        }
    }
}
