.bga-site-header {

    #header-strap {
        justify-content: space-between;
        margin-bottom: 32px;

        .bga-logo {
            a {
                display: inline-block;
            }

            .mobile-logo {
                display: none;
            }

            svg {
                &:focus {
                    border: solid 3px $bga-blue-focus;
                    border-radius: 4px;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .mobile-buttons-wrapper {
            display: none;
        }

        .search-container {
            display: flex;
            justify-content: flex-end;

            input {
                height: 48px;
                border: solid $bga-black 1px;
                border-right: 0px;
                width: 220px;
                padding: 12px 16px;
                transition: width 0.6s;
                line-height: 1.75;

                &::placeholder {
                    color: $bga-black;
                }

                &.in-focus {
                    width: calc(100% - 56px);
                }

                &:focus-visible {
                    border: $bga-component-focus-border;
                    border-radius: 4px;
                    border-top-right-radius: 0 !important;
                    border-bottom-right-radius: 0 !important;
                }
            }

            button {
                text-indent: -9999px;
                height: 48px;
                width: 56px;
                border: $bga-blue-links solid 1px;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                background: url(../assets/icon-search-white.svg) $bga-blue-background-dark no-repeat;
                background-position: center center;

                &:focus-visible {
                    border: $bga-component-focus-border;
                    background: url(../assets/icon-search-blue.svg) $bga-blue-background-light no-repeat;
                    background-position: center center;
                }

                &:hover {
                    background: url(../assets/icon-search-white.svg) $bga-blue-links no-repeat;
                    background-position: center center;
                }
            }
        }

        .mobile-nav {
            display: none;
        }

    }

    #mobile-search {
        display: none;
    }

    .navbar { 
        padding-left: 8px;
        position: relative;
    }

    .nav {
        margin: 0 0 0 -8px;
        padding: 0;
        display: flex;
        width: calc(100% + 16px);


        .submenu-wrapper {
            display: inline-block;
        }

        .menu-feature-links {
            column-span: all;
            background: $bga-blue-highlight-dark;
            padding: 24px;
            margin: -24px -24px 24px -24px;
            column-gap: 24px;
            row-gap: 24px;
            display: flex;

            .menu-feature {
                margin: 0 !important;

                li {
                    padding: 0;
                    margin: 0;
                    border-radius: 0;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    &.level-2 a {
                        background: $bga-white url(../assets/icon-search-bluelinks.svg) no-repeat;
                        background-position: left 24px center;
                        height: 100%;
                        display: flex;
                        align-items: center;

                        padding: 24px 24px 24px 64px;
                        width: 100%;

                        &:focus-visible,
                        &:hover,
                        &:active {
                            background: $bga-blue-background-dark url(../assets/icon-search-white.svg) no-repeat;
                            background-position: left 24px center;
                            background-size: 32px;

                        }
                    }
                }
            }
        }

        /* LEVEL 1 */
        li {
            display: block;
            padding: 6px 8px;
            background: $bga-white;
            color: $bga-blue-links;
            font-weight: 600;
            font-size: 16px;
            margin: 0;
            letter-spacing: 0;
            text-decoration: none;
            cursor: pointer;
            margin-right: 8px;

            span {
                white-space: nowrap;
            }

            &:hover {
                background-color: $bga-blue-background-light;
                border: none;
            }

            &:focus {
                background-color: $bga-blue-background-light;
                border: 2px solid $bga-blue-focus;
            }

            &:active {
                border: none;
            }

            a {
                display: inline-block;
                color: $bga-blue-links;
                font-weight: 600;
                font-size: 16px;
                margin: 0;
                padding: 0 4px 0 0;
                letter-spacing: 0;
                text-decoration: none;

                &:focus {
                    background: none !important;
                    text-decoration: underline;
                }

            }
            &.level-1 {
                border-radius: 4px !important;
            }

            &.level-1.nav-dropdown {
                padding: 6px 28px 6px 8px;
                background-image: url(../assets/Chevron-down-blue.svg);
                background-repeat: no-repeat;
                background-position: right 8px center;
                position: relative;
                

                &.open {
                    background-color: $bga-blue-background-light;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    border: none;

                    &.nav-dropdown.level-1 {
                        background-image: url(../assets/Chevron-up-blue.svg);
                    }
                }
            }
        }

        /* LEVEL 2 * 3 */
        .submenu {
            display: none;
            position: absolute;
            background: $bga-blue-background-extralight;
            box-shadow: 2px 2px 3px 0px rgba(51, 51, 51, 0.4);
            border-top: 4px solid $bga-blue-background-light;
            width: 100%;
            left: 0;
            top: 38px;
            z-index: 8000;
            padding: 24px;
            margin: 0;
            columns: 4 250px;
            column-gap: 24px;
            column-fill: balance;

            .menu-group {
                margin: 0 0 24px 0;
                display: flex;
                flex-direction: column;
                break-inside: avoid;
                width: 100%;
            }

            ul {
                margin: 0;
                padding: 0;
                text-indent: 0;
            }

            li {
                background: none;
                text-indent: 0;
                list-style-type: none;
                padding: 0;
                margin: 0 0 4px 0;
                width: 100%;

                &:last-of-type {
                    margin: 0;
                }

                &::before {
                    display: none;
                }

                a {
                    text-decoration: underline;
                    color: $bga-blue-links;
                    padding: 0;
                    margin: 0;
                    background: none;
                }

                &:focus-visible {
                    outline: none;
                    border: none;
                    background: $bga-blue-background-dark;

                    a {
                        color: $bga-white;
                    }
                }

                &:hover {
                    background: rgba(46, 108, 185, 0.15);
                    background: $bga-blue-background-dark;

                    a {
                        color: $bga-white;
                    }
                }

                &.level-2 {
                    a {
                        font-size: 1rem;
                        font-weight: 700;
                        padding: 4px 4px 4px 4px;
                    }
                }

                &.level-3 {
                    font-size: .9375rem;
                    line-height: 1.3;

                    a {
                        font-weight: 400;
                        text-decoration: none;
                        font-size: .9375rem;
                        line-height: 1.3;
                        padding: 4px 4px 4px 16px;
                        background: url(../assets/Chevron-right-bluelinks.svg) no-repeat;
                        background-position: left 4px top 10px;
                        background-size: 5px 8px;
                    }

                    &:focus-visible,
                    &:hover {
                        a {
                            background-image: url(../assets/Chevron-right-white.svg);
                        }
                    }
                }
            }
        }
    }

    &.non-branded {
        #header-strap {
            svg {
                display: none;
            }

            .bga-logo {
                background: url(../assets/img-logo-placeholder.svg) no-repeat;
                height: 82px;
                background-position: left 16px top 0;
            }

            .search-container {
                input {

                    &:focus,
                    &:focus-visible {
                        border: solid 2px $nb-blue-links;
                        outline: none;
                    }
                }

                button {
                    background: url(../assets/icon-search-white.svg) $nb-blue-links no-repeat;
                    background-position: center center;

                    &:focus-visible {
                        border-color: $nb-blue-links;
                        background: url(../assets/icon-search-white.svg) $nb-blue-links no-repeat;
                        background-position: center center;
                    }

                    &:hover {
                        background: url(../assets/icon-search-white.svg) $nb-blue-links no-repeat;
                        background-position: center center;
                    }
                }
            }
        }

        .navbar {
            .nav-item .nav-link:hover {
                background: none;
            }
        }

        .nav {

            /* LEVEL 1 */
            li {
                color: $nb-blue-links;
                

                &:hover {
                    background-color: $nb-grey-mid;
                }

                &:focus,
                &:focus-visible {
                    background-color: $nb-grey-mid;
                    border: 2px solid $nb-blue-links;
                    outline: none;
                }

                a {
                    color: $nb-blue-links;
                }

                &.level-1.nav-dropdown {
                    background-image: url(../assets/Chevron-down-unbranded.svg);
                    background-repeat: no-repeat;
                    background-position: right 8px center;
                    position: relative;

                    &.open {
                        background-color: $nb-grey-mid;

                        &.nav-dropdown.level-1 {
                            background-image: url(../assets/Chevron-up-unbranded.svg);
                        }
                    }
                }
            }

            /* LEVEL 2 * 3 */
            .submenu {
                background: $nb-grey-light;
                border-top: 4px solid $nb-grey-mid;

                li {
                    a {
                        color: $nb-blue-links;
                    }

                    &:focus-visible {
                        border-color: $nb-blue-links;
                    }

                    &:hover {
                        background: $nb-blue-links;

                        a {
                            color: $bga-white;
                        }
                    }
                }
            }
        }

    }
}




// Mixins for smaller screen scizes and media queries
@mixin bga-site-header-bp-768 {
    .bga-site-header {
        .nav {
            display: flex;

            .submenu-wrapper {
                flex-grow: 0;
                flex-basis: 0;
            }

            .submenu {
                top: 65px;
                columns: 3 210px;
            }

            li {
                &.level-1 {
                    height: 65px;
                    background-position: right 8px top 16px !important;
                    margin-right: 0px;
                }

                span {
                    display: block;
                }
            }

        }
    }
}

@mixin bga-site-header-bp-350 {
    .header-wrapper {
        margin-top: 24px !important;
    }

    .bga-site-header {

        #header-strap {
            margin-bottom: 0;

            .bga-logo {
                display: flex;
                align-items: center;

                svg {
                    display: none;
                }

                .mobile-logo {
                    display: block;
                    color: $bga-blue-links;
                    margin: 0;
                    padding: 0;
                    font-weight: 700;
                    font-size: 20px;
                    text-decoration: none;
                }
            }

            .header-search {
                display: flex;
                justify-content: flex-end;

                .search-container {
                    display: none;
                }
            }

            .mobile-buttons-wrapper {
                display: block;
                width: 100%;
                text-align: right;
            }

            .mobile-search {
                display: inline-block;

                button {
                    border-radius: 0;
                    border: none;
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                    text-indent: -9999px;
                    height: 48px;
                    width: 56px;
                    background: url(../assets/icon-search-white.svg) $bga-blue-background-dark no-repeat;
                    background-position: center center;
                }

                &.open {
                    margin-bottom: 1px;

                    button {
                        background: url(../assets/icon-close.svg) $bga-blue-background-light no-repeat;
                        background-position: center center;
                        border: none;
                        border-bottom-left-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }
                }
            }

            .mobile-nav {
                display: inline-block;

                button {
                    text-indent: -9999px;
                    height: 48px;
                    width: 56px;
                    border: none;
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                    background: url(../assets/icon-menu.svg) $bga-blue-background-dark no-repeat;
                    background-position: center center;
                }

                &.open {
                    margin-bottom: 1px;

                    button {
                        background: url(../assets/icon-close.svg) $bga-blue-background-light no-repeat;
                        background-position: center center;
                        border: none;
                        border-bottom-left-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }
                }
            }
        }

        #mobile-search {
            .mobile-search-container {
                display: flex;
                background: $bga-blue-background-light;
                padding: 24px;

                input {
                    height: 48px;
                    border: solid $bga-black 1px;
                    border-right: 0px;
                    width: calc(100% - 56px);
                    padding: 12px 16px;
                    line-height: 1.75;

                    &::placeholder {
                        color: $bga-black;
                    }

                }

                button {
                    border-radius: 0;
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                    text-indent: -9999px;
                    height: 48px;
                    width: 56px;
                    border: none;
                    border-radius: 0;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    background: url(../assets/icon-search-white.svg) $bga-blue-background-dark no-repeat;
                    background-position: center center;

                }
            }

        }

        .navbar {
            display: none;
            margin: 0;
            padding: 0;

            &.open {
                display: block;
            }

            .row {
                margin: 0;
                padding: 0;
            }

            #navbarNav {
                padding: 0;
                margin: 0;
                display: block !important;
            }
        }

        .nav {
            /* LEVEL 1 */
            width: 100%;
            display: block !important;
            margin: 0;

            .submenu-wrapper {
                display: block;
            }

            .menu-feature-links {
                background: none;
                display: block;
                margin: 0;
                padding: 0;

                .menu-feature {
                    li.level-2 {
                        padding: 12px 16px;

                        a {
                            background: none;
                            color: $bga-white;
                            height: auto;
                            padding: 0px;

                            &:focus-visible,
                            &:hover,
                            &:active {
                                background: none;
                            }
                        }
                    }
                }
            }

            li {
                display: block;
                width: 100%;
                padding: 0;
                cursor: pointer;
                background-color: $bga-blue-background-light;
                border: none;
                border-radius: 0;
                border-bottom: $white solid 1px;

                span {
                    display: inline;
                }

                &:last-of-type {
                    border-bottom: $white solid 1px;
                }

                &.level-1 {
                    padding: 12px 16px;
                    height: auto;
                    border-radius: 0 !important;

                    &.nav-dropdown {
                        padding: 12px 16px;
                        background-size: 14px 9px;
                        background-position: right 16px center;
                    }

                }

                &.level-1.nav-dropdown {
                    padding: 12px 16px;
                    background-image: url(../assets/Chevron-down-blue.svg);
                    background-repeat: no-repeat;
                    background-position: right 16px center !important;
                    position: relative;

                    &.open {
                        background-color: $bga-blue-background-light;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        border: none;

                        &.nav-dropdown.level-1 {
                            background-image: url(../assets/Chevron-up-blue.svg);
                        }
                    }
                }
            }

            /* LEVEL 2  */
            .submenu {
                position: relative;
                box-shadow: none;
                border-top: none;

                width: 100%;
                left: auto;
                top: auto;
                padding: 0;
                columns: unset;

                .menu-group {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    display: block;
                    width: 100%;
                }

                li {
                    padding: 12px 16px;
                    border-bottom: $bga-white 1px solid;
                    background: $bga-blue-links;
                    margin: 0;

                    &:last-of-type {
                        margin: 0;
                    }

                    a {
                        text-decoration: none;
                        color: $bga-white;
                        padding: 0px !important;
                    }

                    &:focus-visible {
                        outline: none;
                        border: $bga-text-focus-border;
                        background: none !important;
                    }

                    &:hover {
                        background: $bga-blue-links;

                        a {
                            color: $bga-white;
                        }
                    }

                    &.level-2 {
                        a {
                            font-size: 1rem;
                            font-weight: 600;
                        }

                        +ul {
                            display: none;
                            margin-top: 0;
                        }

                        &.nav-dropdown,
                        &.nav-dropdown:hover {
                            background: url(../assets/Chevron-down-white.svg) no-repeat $bga-blue-links;
                            background-position: right 16px center;
                            padding: 12px 16px;

                            &.open {
                                background: url(../assets/Chevron-up-white.svg) no-repeat $bga-blue-links;
                                background-position: right 16px center;

                                +ul {
                                    display: block;

                                    li.level-3 {
                                        background: $bga-blue-footer;
                                        border-bottom: $white solid 1px;
                                        padding: 12px 16px;

                                        a {
                                            background: none;
                                            padding: 0;
                                            font-size: 1rem;
                                            line-height: 1.75;
                                        }

                                    }
                                }
                            }
                        }
                    }
                }
            }

        }

        &.non-branded {
            #header-strap {
                .bga-logo {
                    height: 48px;
                    background-size: auto 48px;

                    .mobile-logo {
                        display: none
                    }
                }

                .mobile-search {
                    button {
                        background: url(../assets/icon-search-white.svg) $nb-blue-links no-repeat;
                        background-position: center center;
                    }

                    &.open {
                        button {
                            background: url(../assets/icon-close-unbranded.svg) $nb-grey-mid no-repeat;
                            background-position: center center;
                        }
                    }
                }

                .mobile-nav {
                    button {
                        background: url(../assets/icon-menu.svg) $nb-blue-links no-repeat;
                        background-position: center center;
                    }

                    &.open {
                        button {
                            background: url(../assets/icon-close-unbranded.svg) $nb-grey-mid no-repeat;
                            background-position: center center;
                        }
                    }
                }
            }

            #mobile-search {
                .mobile-search-container {
                    background: $nb-grey-mid;

                    input {

                        &:focus,
                        &:focus-visible {
                            outline: none;
                        }
                    }

                    button {
                        background: url(../assets/icon-search-white.svg) $nb-blue-links no-repeat;
                        background-position: center center;
                    }
                }

            }

            .nav {

                /* LEVEL 1 */
                li {
                    background-color: $nb-grey-mid;

                    &.level-1.nav-dropdown {
                        background-image: url(../assets/Chevron-down-unbranded.svg);
                        background-repeat: no-repeat;
                        background-position: right 16px center !important;

                        &.open {
                            background-color: $nb-grey-mid;

                            &.nav-dropdown.level-1 {
                                background-image: url(../assets/Chevron-up-unbranded.svg);
                            }
                        }
                    }
                }

                /* LEVEL 2  */
                .submenu {
                    li {
                        border-bottom: $bga-white 1px solid;
                        background-color: $nb-black-light;

                        &:focus-visible {
                            outline: none;
                            background-color: $nb-black-light;
                            border: solid 2px $nb-blue-links;
                        }

                        &:hover {
                            background: $nb-black-light;

                            a {
                                color: $bga-white;
                            }
                        }

                        &.level-2 {

                            &.nav-dropdown,
                            &.nav-dropdown:hover {
                                background: url(../assets/Chevron-down-white.svg) no-repeat $nb-black-light;
                                background-position: right 16px center;
                                padding: 12px 16px;

                                &.open {
                                    background: url(../assets/Chevron-up-white.svg) no-repeat $nb-black-light;
                                    background-position: right 16px center;

                                    +ul {

                                        li.level-3 {
                                            background: $bga-black;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

@mixin bga-site-header-below350 {
    #header-strap {
        .bga-logo {
            width: 100% !important;
        }

        .header-search {
            width: 100%;

            .mobile-buttons-wrapper {
                text-align: left;
                margin-top: 16px;
            }
        }
    }
}

// SMALLER SCREENS display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-768,
.component-example.bp-350,
.component-example.bp-below350,
.component-example.small-screen {
    @include bga-site-header-bp-768();
}

.component-example.bp-350,
.component-example.bp-below350,
.component-example.small-screen {
    @include bga-site-header-bp-350();
}

.component-example.bp-below350,
.component-example.small-screen {
    @include bga-site-header-below350();
}

@media (max-width: 992px) {
    @include bga-site-header-bp-768();
}

@media (max-width: 768px) {
    @include bga-site-header-bp-350();
}

@media (max-width: 350px) {
    @include bga-site-header-below350();
}


// OVERRIDE BOOTSTRAP DEFAULT BREAKPOINT FOR MOBILE NAV
@media (min-width: 768px) {
    .navbar-expand-lg.example .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
}