.bga-footer-example {
    background: $bga-blue-links;
    color: $bga-white;
    display: flex;

    .footer-wrapper {
        display: flex;
        width: 66.66%;
    }

    .footer-links {
        width: 33.33%;

        h3 {
            color: $bga-white;

        }

        ul {
            margin: 0;
            padding: 0;

            li {
                display: block;
                color: $bga-white !important;
                text-indent: 0;
                margin: 0 0 24px 18px;
                padding: 0;

                &:last-of-type {
                    margin-bottom: 0 !important;
                }

                &::before {
                    display: none;
                }

                a {
                    background: url(../assets/Chevron-right-white.svg) no-repeat;
                    background-position: left 0 top 5px;
                    padding: 0 0 0 18px;
                    text-indent: 0;
                    margin-left: -18px;
                    display: block;
                    line-height: 26px;
                    font-weight: 400;

                    &:focus {
                        border: 2px solid $bga-white;
                        border-radius: 4px;
                        outline: none;
                        text-decoration: underline;
                        color: $bga-white !important;
                    }

                    &:hover {
                        border: none;
                        text-decoration: underline !important;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .footer-divider {
        display: none;
    }

    .contact-social-wrapper {
        width: 33.33%;
    }

    .call-us-wrapper {
        a {
            font-size: 24px;
            font-weight: 600;
            color: $bga-white !important;

            &:focus {
                border: 2px solid $bga-white;
                border-radius: 4px;
                outline: none;
                text-decoration: underline;
                text-decoration-thickness: 1px;
                text-underline-offset: 2px;
            }

            &:hover {
                border: none;
                text-decoration: underline !important;
                cursor: pointer;
                text-decoration-thickness: 1px !important;
                text-underline-offset: 2px !important;
            }
        }
    }

    .social-links-wrapper {
        width: 100%;

        .footer-social {
            display: flex;
            margin: 0;
            padding: 0;
            flex-wrap: wrap;
            row-gap: 24px;

            li {
                display: block;
                width: 48px;
                height: 48px;
                background: $bga-blue-footer;
                //border: solid $bga-white 2px;
                border-radius: 50%;
                padding: 0;
                flex-shrink: 0;
                box-shadow: $bga-btn-boxshadow;


                &::before {
                    display: none;
                }

                svg {
                    fill: $bga-white;
                    width: 22px;
                    height: 100%;
                    margin: auto;
                    display: block;

                    &.linkedin {
                        margin: -2px auto 0;
                    }
                }

                &:focus {
                    border: 3px solid $bga-white;
                    background: $bga-white;
                    outline: none;

                    svg {
                        fill: $bga-blue-footer;
                    }
                }

                &:hover {
                    border: solid $bga-white 3px;
                    cursor: pointer;
                    background: $bga-white;

                    svg {
                        fill: $bga-blue-footer;
                    }

                }
            }
        }

    }

    .subscribe-wrapper {
        background: $bga-white;

        p {
            color: $bga-black;
        }

        .subscribe-form {
            text-align: left;
            text-align: left;
            display: flex;
            column-gap: 24px;
            row-gap: 24px;
            align-items: center;

            a {
                text-decoration: underline;
                white-space: nowrap;
                display: inline-block;

                &:focus {
                    border: solid $bga-blue-focus 2px;
                    text-decoration: underline;
                    border-radius: 4px;
                    outline: none;
                }

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }

    &.non-branded {
        background: $nb-black-light;

        .social-links-wrapper {
            .footer-social {
                li {
                    background: url(../assets/Img-icon-placeholder.svg) no-repeat;
                    background-size: 48px;
                    background-position: center center;
                    border: none;
                    border-radius:0;
                    width: 48px;
                    height: 48px;
    
                    &::before {
                        display: none;
                    }
                    svg {
                        display: none;
                    }
                    &:focus {
                        border: 3px solid $bga-white;
                        background: url(../assets/Img-icon-placeholder.svg) no-repeat;
                        background-size: 48px;
                        background-position: center center;
                    }
                    &:hover {
                        border: none;
                        background: url(../assets/Img-icon-placeholder.svg) no-repeat;
                        background-size: 48px;
                        background-position: center center;
                    }
                }
            }
        }
        .subscribe-wrapper {
            .subscribe-form {
                a {
                    &:focus {
                        border: solid $nb-blue-links 2px;
        
                    }
                }
            }
        }
    }
}   

.copyright {
    background: $bga-blue-footer;
    color: $bga-white;

    p {
        color: $bga-white;
    }

    svg {
        width: 90%;
        max-width: 300px;
        height: auto;
        margin-bottom: 32px;
    }

    &.non-branded {
        background: $bga-black;
    }
}

// Mixins for smaller screen sizes and media queries
@mixin bga-site-footer-bp-768 () {
    .bga-footer-example {
        flex-wrap: wrap;

        .footer-wrapper {
            width: 100%;
            padding-bottom: 32px !important;
        }

        .footer-divider {
            display: block;
            padding: 0 16px;
        }

        hr {
            display: block;
            border-top: solid 1px $bga-white;
                opacity: 1;
                margin: 0;
            padding: 0;
        }

        .footer-links {
            ul {
                li {
                    margin: 0 0 16px 18px;
                }
            }
        }

        .contact-social-wrapper {

            padding-top: 32px !important;
            width: 100%;
            display: flex;

            .contact-social {
                width: 50%
            }

            .subscribe-wrapper {
                width: 50%;
            }
        }

    }
}

@mixin bga-site-footer-bp-576 () {
    .bga-footer-example {
        padding-bottom: 32px !important;

        .footer-wrapper {
            display: block;
        }

        .footer-links {
            width: 100%;
            padding-bottom: 32px !important;

            &:last-of-type {
                padding-bottom: 0 !important;
            }
        }

        .contact-social-wrapper {
            display: block;

            .contact-social {
                width: 100%
            }

            .subscribe-wrapper {
                width: 100%;
            }
        }
    }

    .copyright {
        padding: 32px 0 !important;
    }
}

@mixin bga-site-footer-bp-350 () {
    .bga-footer-example {
        .social-links-wrapper {
            .footer-social {
                li {
                    margin-right: 16px !important;
                    height: 40px;
                    width: 40px;
                }
            }
            
        }
        .subscribe-wrapper {
            button {
                font-size: .875rem;
                line-height: 1.125rem;
                padding: 12px 24px;
            }

            a {
                font-size: .875rem;
                line-height: 1.125rem;
            }
        }

    }
}

@mixin bga-site-footer-below350 () {
    .bga-footer-example {
        .subscribe-wrapper {
            .subscribe-form {
                flex-wrap: wrap;
            }
            button, a {
                width: 100%;
                text-align: center;
            }
        }
    }
}


// SMALLER SCREENS display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-768,
.component-example.bp-576,
.component-example.bp-350,
.component-example.bp-below350,
.component-example.small-screen {
    @include bga-site-footer-bp-768();
}

.component-example.bp-576,
.component-example.bp-350,
.component-example.bp-below350,
.component-example.small-screen {
    @include bga-site-footer-bp-576();
}

.component-example.bp-350,
.component-example.bp-below350,
.component-example.small-screen {
    @include bga-site-footer-bp-350();
}

.component-example.bp-below350 {
    @include bga-site-footer-below350();
}

//Media queries for HTML example pages
@media (max-width: 1200px) {
    @include bga-site-footer-bp-768();
}

@media (max-width: 768px) {
    @include bga-site-footer-bp-576();
}

@media (max-width: 576px) {
    @include bga-site-footer-bp-350();
}

@media (max-width: 350px) {
    @include bga-site-footer-below350();
}