.callout-box {
    background: $bga-yellow-highlight-light;
    border-left: solid 8px $bga-yellow-highlight-dark;
    
    &.blue {
        background: $bga-blue-background-extralight;
        border-left: solid 8px $bga-blue-border;
        
        .header-section, .footer-section {
            background: $bga-blue-background-light;
        }
    }
    &.teal {
        background: $bga-teal-highlight-light;
        border-left: solid 8px $bga-teal-highlight-dark;
    }
    
    ul.indented {
        
        li {
            list-style-type: none;
            text-indent: 0;
            display: flex;
            margin-bottom: 24px;
            
            &::before {
                display: none;
            }
            
            strong {
                min-width: 120px;
                display: block;
            }
            span {
                display: block;
                width: calc(100%-120px);
                margin-bottom: 8px;
                
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
        
    }

    &.non-branded {
        &.blue {
            .header-section, .footer-section {
                background: $nb-grey-mid;
            }
        }
        .accordion.event-sessions {
            border-bottom: 1px solid $bga-black;

            .accordion-header {
                .accordion-button {   
                    border-top: 1px solid $bga-black;
                    
                    &:focus-visible {
                        border: $nb-blue-links 2px solid;
                    }
                }
            }
            
        }
    }
}

// Events callouts
.accordion.event-sessions {
    border-bottom: 1px solid $bga-blue-black-mid;
    
    .accordion-item {
        border: none;
        border-radius: 0;   
        background: none;
        
        &:last-of-type {
            border-bottom: none;
            
            .accordion-button {
                border-radius: 0;
            }
        }
        &:first-of-type {
            .accordion-button {
                border-radius: 0;
            }
        }
    }
    .accordion-header {
        .accordion-button {
            padding: 16px;
            background: none;
            border-top: 1px solid $bga-blue-black-mid;
            
            p {
                padding-right: 16px;
            }
            
            &::after {
                background-image: url(../assets/Chevron-down-black.svg);
                background-size: 16px 10px;
                width: 16px;
                height: 10px;  
                padding-left: 16px;
            }
            &:not(.collapsed) {
                background: $bga-white;
                color: $bga-black;
                box-shadow: none;
            }
            &:focus {
                box-shadow: none;
                outline: none;
            }
            &:focus-visible {
                border: $bga-component-focus-border;
                border-radius: $bga-focus-radius;
                background: $bga-white;
            }
            
            &:hover {
                text-decoration: underline;
                background: $bga-white;
            }
        }
    }
    .accordion-body {
        padding: 0 16px 16px 16px;
        background: $bga-white;
        border: none;
        
        p {
            margin-bottom: 16px;
            
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
.registration-link-wrapper {
    display: flex;
}

// Mixins for smaller screen sizes and media queries
@mixin callout-below768 {
    .callout-box {
        ul.indented {
            li {
                display: block;
            }
            strong {
                min-width: unset;
                width: 100%;
                margin-bottom: 0px;
            }
            span {
                width: 100%;
                margin-bottom: 0;
            }
        }
    }

    .accordion.event-sessions {
        .accordion-header {
             .accordion-button {
                padding: 16px 8px;
                 p {
                    font-size: 1rem;
                    line-height: 1.75;
                    padding-right: 8px;
                }
            }
        }
        .accordion-body {
            padding: 0 32px 16px 8px;
        }
    }
    
    .registration-link-wrapper {
        display: block;
        
        .form-select {
            margin-bottom: 24px;
        }
    }
}

// SMALLER SCREENS display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-below768, .component-example.small-screen {
    @include callout-below768();
}

// Media queries for HTML example pages.
@media (max-width: 768px) {
    @include callout-below768();
}