/*  CHECKLIST PATTERN  */

// Checklist items & email button
.checklist-wrapper {
    position: relative;
    padding-top: 0;
    margin-bottom: 32px;

    .toggle-wrapper {
        display: flex;
        justify-content: right;
        width: 100%;
    }

    .checklist-toggle {
        border: none;
        background: transparent;
        text-decoration: underline;
        cursor: pointer;
        font-weight: 600;
        box-shadow: none;
        align-items: flex-start;
        color: $bga-black;

        &.close {
            svg {
                transform: scaleY(-1);
            }
        }
        &:focus-visible {
            border: $bga-component-focus-border;
            border-radius: $bga-focus-radius;
            //box-shadow: $bga-focus-boxshadow;
        }
    }

    .checklist-item-divider {
        border-top: 2px solid $bga-blue-black-light;
        width: calc(100% - 96px);
        margin: 16px 0 16px 80px;
        padding: 0;
        opacity: 1;
    }

    .checklist-item {
        position: relative;

        .checklist-item-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding: 24px 24px 24px;
            margin-left: 64px;
            cursor: pointer;

            h2 {
                margin: 0;
                padding: 0;
                font-size: 26px;

                span {
                    position: absolute;
                    top: 20px;
                    left: -64px;
                    border-radius: 50%;
                    border: 3px solid $bga-blue-black-light;
                    height: 48px;
                    width: 48px;
                    text-align: center;
                    line-height: 38px;
                    z-index: 100;
                    background: $bga-white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .icon-wrapper {
                background: $bga-white;
                width: 32px;
                height: 32px;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                margin-left: 24px;
            }

            &:focus-visible {
                border: $bga-component-focus-border;
                border-radius: $bga-focus-radius;
                outline: none;
                //box-shadow: $bga-focus-boxshadow;
            }

            &:hover {
                h2 {
                    text-decoration: underline;
                }

                .icon-wrapper {
                    background: $bga-blue-black-lightest;
                }
            }

            &:active {
                h2 {
                    text-decoration: underline;
                }
            }
        }

        &.open {
            &:last-of-type {
                .checklist-item-title:before {
                    height: 100%;
                }
            }

            .checklist-item-title {
                .icon-wrapper {
                    svg {
                        transform: scaleY(-1);
                    }
                }

                &:hover {
                    h2 {
                        text-decoration: underline;
                    }

                }
            }

        }
    }

    // LIGHTWEIGHT CHECKLIST
    &.lightweight {
        .checklist-item {
            &.open {
                .checklist-item-title {
                    background: $bga-blue-background-light;
                    border: none;

                    h2 {
                        span {
                            background: $bga-blue-background-dark;
                            border: 3px solid $bga-blue-background-dark;
                            color: $bga-white;
                        }
                    }
                    &:hover, &:focus {
                        .icon-wrapper {
                            background: $bga-white;
                        }
                    }
                }

                .checklist-sub-item-wrapper {
                    display: block;
                }
            }
            &:after {
                content: " ";
                position: absolute;
                z-index: 90;
                left: 24px;
                top: 30px;
                height: calc(100% + 32px);
                background: $bga-blue-black-light;
                width: 2.5px;
            }
            &:last-of-type {
                &:after {
                   display: none;
                }
            }
        }

        .checklist-sub-item-wrapper {
            display: none;
            margin-left: 16px;

            .content-wrapper {
                padding-right: 0 !important;
            }
        }

        .checklist-sub-item {
            position: relative;
            margin-left: 16px;

            .checklist-item-content {
                background: $bga-blue-background-light;
                padding: 0 24px 24px 24px;
                position: relative;
                display: block;
            }

            .checklist-item-checkbox {
                padding: 24px;
                background: $bga-blue-highlight-mid;
                line-height: 1 !important;

                .checkbox-icon {
                    display: inline-block;
                }

                .displaynone {
                    display: none;
                }

                input[type="checkbox"] {
                    opacity: 0;
                    width: 28px !important;
                    height: 28px !important;
                    cursor: pointer;
                    display: none;
                }

                label {
                    padding: 0 0 0 6px;
                    display: inline;
                    font-weight: normal;
                }

                .close-item {
                    height: 20px;

                    btn {
                        display: flex;
                        align-items: center;
                        height: 20px;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    svg {
                        margin-right: 8px;
                    }

                    p {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }


    // STANDARD CHECKLIST
    &.standard {
        .checklist-item-divider {
            width: calc(100% - 64px);
            margin: 16px 0 16px 64px;
        }
        .checklist-item {

            &:after {
                content: " ";
                position: absolute;
                z-index: 90;
                left: 24px;
                top: 30px;
                height: calc(100% + 16px);
                background: $bga-blue-black-light;
                width: 2.5px;
            }
            &:last-of-type {
                &:after {
                   display: none;
                }
                &.open {
                    &:after {
                        height: 94px;
                        display: block;
                    }
                }
            }
            &:last-of-type {
                .checklist-sub-item {
                    &:after {
                        content: " ";
                        position: absolute;
                        z-index: 90;
                        left: -40px;
                        top: 32px;
                        height: calc(100% + 16px);
                        background: $bga-blue-black-light;
                        width: 2.5px;   
                    }
                    &:last-of-type:after {
                        display: none;
                    }
                }
                
            }
            .checklist-item-title {
                padding: 24px 24px 24px 0;
            }

            &.open {
                &:last-of-type {
                    .checklist-item-title:before {
                        height: 100%;
                    }
                }

                .checklist-item-title {
                    border: none;

                    &:hover {
                        h2 {
                            text-decoration: underline;
                        }
                    }

                }

                .checklist-sub-item-wrapper {
                    display: block;

                }
            }

            &.item-done {
                .checklist-item-title {

                    h2 {
                        span {
                            background: $bga-green-success-dark url("../assets/icon-tick-white.svg") no-repeat;
                            background-position: center center;
                            background-size: 20px 16px;
                            border: 3px solid $bga-green-success-dark;
                            color: $white;
                            text-indent: -9999px;
                        }
                    }
                }
            }
        }

        .checklist-sub-item-wrapper {
            display: none;
            margin-left: 32px;

            .content-wrapper {
                padding: 0 !important;
                display: none;
            }
        }

        .checklist-sub-item {
            position: relative;
            margin-left: 32px;

            &:before {
                content: url('../assets/checklist-grey-dot.svg');
                position: absolute;
                z-index: 100;
                left: -51px;
                height: 100%;
                top: 30px;
            }

            .checklist-sub-item-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: $bga-blue-background-light;
                padding: 24px;
                cursor: pointer;

                h3 {
                    display: flex;
                }

                .icon-wrapper {
                    background: $bga-white;
                    width: 32px;
                    height: 32px;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    margin-left: 24px;
                }

                &:hover {
                    h3 {
                        text-decoration: underline;
                    }

                    .icon-wrapper {
                        background: $bga-white;
                    }
                }
            }

            .checklist-item-content {
                background: $bga-blue-background-light;
                padding: 0px 24px 24px 24px;

                position: relative;

                h3 {
                    padding-right: 120px;
                }
            }

            .checklist-item-checkbox {
                padding: 16px 24px;
                background: $bga-blue-highlight-mid url("../assets/checkbox-unchecked.svg") no-repeat;
                background-position: left 24px center;
                display: flex;
                align-items: center;

                input[type="checkbox"] {
                    opacity: 0;
                    width: 28px !important;
                    height: 28px !important;
                    cursor: pointer;
                }

                label {
                    padding-left: 6px;
                }
            }

            &.done {
                .checklist-item-checkbox {
                    background: $bga-green-highlight-mid url("../assets/checkbox-checked.svg") no-repeat;
                    background-position: left 24px center;
                }

                &:before {
                    content: url('../assets/checklist-grey-dot-checked.svg');
                    position: absolute;
                    z-index: 100;
                    left: -51px;
                    top: 30px;
                    height: 100%;
                }
            }

            &.tip {
                &:before {
                    content: ' ';
                }

                .checklist-sub-item-title {
                    background: $bga-blue-black-lightest;
                }

                .checklist-item-content {
                    background: $bga-blue-black-lightest;
                }
            }

            &.open {
                .checklist-sub-item-title {

                    .icon-wrapper {
                        background: $bga-white;

                        svg {
                            transform: scaleY(-1);
                            ;
                        }
                    }

                }
            }
        }


    }

    &.non-branded {
        .checklist-toggle {
            &:focus-visible {
                border-color: $nb-blue-links;
            }
        }
        .checklist-item-divider {
            border-top: 1px solid $bga-black;
        }
        .checklist-item {
            .checklist-item-title {
                h2 span {
                    border-color: $bga-black;
                }
                .icon-wrapper {
                    background: transparent !important;
                    svg path {
                        fill: $bga-black;
                    }
                }
                &:focus-visible {
                    border-color: $nb-blue-links;
                }
            }
        }

        &.lightweight {
            .checklist-item {
                &.open {
                    .checklist-item-title {
                        background: $nb-grey-light;
                        h2 {
                            span {
                                background: $bga-black;
                                border-color: $bga-black;
                            }
                        }
                    }
                }
                &:after {
                    background: $bga-black;
                    width: 2.5px;
                }
            }
            .checklist-sub-item {
                .checklist-item-content {
                    background: $nb-grey-light;
                }
                .checklist-item-checkbox {
                    background: $nb-grey-mid;
                }
            }
            .bga-component.feature-box {
                .component-content {
                    border: none;
                }
                .icon-wrapper {
                    background: $nb-grey-light url(../assets/Img-icon-placeholder.svg) no-repeat;
                    border-radius: 0;
                    height: 48px;
                    width: 48px;

                    img {
                        display: none;
                    }
                }
            }
            .inline-pathway {
                a {
                    background: $bga-white;
                }
                .link-wrapper {
                    border: none;
                }
                .page {
                    img {
                        display: none;
                    }
                    &:before {
                        content: "";
                        width: 16px;
                        height: 16px;
                        background: $nb-grey-dark;
                        margin-right: 8px;
                    }
                }
            }
        }
        &.standard {
            .checklist-item {
                &:after {
                    background: $bga-black;
                }
                &:last-of-type {
                    .checklist-sub-item {
                        &:after {
                            background: $bga-black;
                        }
                    }  
                }
                &.item-done {
                    .checklist-item-title {
                        h2 {
                            span {
                                background-color: $bga-black;
                                border-color: $bga-black;
                            }
                        }
                    }
                }
            }
            .checklist-sub-item {
                &:before {
                    content: url('../assets/checklist-black-dot.svg');
                }
                .checklist-sub-item-title {
                    background: $nb-grey-light;
    
                    &:hover {
                        .icon-wrapper {
                            background: transparent;
                        }
                    }
                }
    
                .checklist-item-content {
                    background: $nb-grey-light;
                }
    
                .checklist-item-checkbox {
                    background-color: $nb-grey-mid;
                }
    
                &.done {
                    .checklist-item-checkbox {
                        background-color: $nb-grey-mid;
                        background-image: url("../assets/checkbox-checked-black.svg");
                        
                    }
    
                    &:before {
                        content: url('../assets/checklist-black-dot-checked.svg');
                    }
                }
    
                &.tip {
                    h3 {
                        svg {
                            display: none;
                        }
                        &::before {
                            content: "";
                            background: url(../assets/Img-icon-placeholder.svg) no-repeat;
                            background-size: 32px 32px;
                            width: 32px;
                            height: 32px;
                            margin-right: 8px;
                        }
                    }
                    .checklist-sub-item-title {
                        background: $nb-grey-lightest;
                    }
    
                    .checklist-item-content {
                        background: $nb-grey-lightest;
                    }
                }
                &.open {
                    .checklist-sub-item-title {
                        .icon-wrapper {
                            background: transparent;
                        }
    
                    }
                }
            }
    
        } 
    }
}

// Mixins for smaller screen sizes
@mixin checklist-below768 () {
    .checklist-wrapper {

        .checklist-item-divider {
            width: calc(100% - 56px) !important;
            margin: 8px 0 8px 56px !important;
        }

        .checklist-item {

            .checklist-item-title {
                margin-left: 40px;
                padding: 16px;

                h2 {
                    font-size: 1.25rem;

                    span {
                        width: 36px;
                        height: 36px;
                        left: -40px;
                        top: 16px;
                    }
                }
                .icon-wrapper {
                    margin-left: 16px;
                }

            }
            &:last-of-type {
                .checklist-sub-item:last-of-type {
                    &:after {
                        left: -48px;
                    }
                }
            }
            .feature-box {
                .icon-wrapper {
                    display: none;
                }

                .component-content {
                    border-left-width: 4px;
                    padding: 16px !important;
                }
            }

            .inline-pathway a .link-wrapper {
                border-left-width: 4px;
                padding: 16px !important;
            }
        }

        &.lightweight {
            .checklist-item {
                &:after {
                    left: 16px;
                }
            }
            .checklist-sub-item-wrapper {
                .content-wrapper {
                    padding: 0 0 0 8px !important;
                }
            }

            .checklist-sub-item {
                .checklist-item-content {
                    padding: 0 16px 16px 16px;
                }

                .checklist-item-checkbox {
                    padding: 16px;

                    .close-item svg {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }

        &.standard {
            .checklist-item {
                .checklist-item-title {
                    padding: 16px !important;
                }
    
                
                &:after {
                    z-index: 90;
                    left: 17px;
                }
                &:last-of-type {
                    &.open {
                        &:after {
                            height: 94px;
                        }
                    }
                }
                &:last-of-type {
                    .checklist-sub-item {
                        &:after {
                            left: -39px;
                        }
                    } 
                }
            }
            .checklist-sub-item-wrapper {
                margin-left: 40px;

                .checklist-sub-item {
                    margin-left: 16px;

                    &:before {
                        left: -50px;
                    }
                    .checklist-sub-item-title {
                        padding: 16px;
                        
                        h3 {
                            font-size: 1.125rem;

                            svg {
                                display: none;
                            }
                        }
                        .icon-wrapper {
                            margin-left: 16px;
                        }
                    }
                    .checklist-item-content {
                        padding: 0 16px 16px 16px;
                    }
                    .checklist-item-checkbox {
                        padding: 16px;
                        background-position: left 16px center;
                    }
                }
            }
        }

        &.non-branded {
           &.standard .checklist-sub-item.tip h3::before {
                display: none;
            }
        }
    }
}

.component-example.bp-below768,
.component-example.small-screen {
    @include checklist-below768();
}

// Media queries for HTML example pages
@media (max-width: 768px) {
    @include checklist-below768();
}