.bga-component.download-list {
    .title {
        font-size: 1.125rem;
        line-height: 1.5;
    }
    .download-links {
        li {
            display: inline-block;
            list-style-type: none;
            text-indent: 0;
            margin-right: 32px;
            margin-bottom: 0;

            a {
                font-size: .75rem;
                font-weight: 700;
                color: $bga-blue-links;
                text-decoration: underline;
                cursor: pointer;

                svg {
                    fill: $bga-blue-links;
                }

                &:focus-visible {
                    border: $bga-text-focus-border;
                    border-radius: $bga-focus-radius;
                    background: $bga-blue-hover;
                    color: $bga-blue-footer;

                    svg {
                        fill: $bga-blue-footer;
                    }
                    
                }
                &:hover {
                    background: $bga-blue-hover;
                    color: $bga-blue-footer;
                    text-decoration: underline;

                    svg {
                        fill: $bga-blue-footer;
                    }
                }
            }

            &::before {
                display: none;
            }
        }
    }
    &.non-branded {
        .download-links {
            li {
                a {  
                    color: $nb-blue-links;
                    display: inline-flex;
                    align-items: center;    
                    
                    svg {
                        display: none;
                    }
                    &:focus-visible, &:hover {
                        border-color: $nb-blue-links;
                        background: transparent;
                        color: $nb-blue-links;
    
                        svg {
                            fill: $nb-blue-links;
                        }
                        
                    } 
                    &::before {
                        content: "";
                        background: $nb-grey-dark;
                        width: 16px;
                        height: 16px;
                        margin-right: 8px;  
                    }
                }
            }
        }
    }
}