.dynamic-sidebar {

    .sidebar {
        height: auto !important;
    }

    .business-structure {
        .title {
            background: $bga-blue-highlight-mid;
            padding: 8px 16px;
        }

        .content {
            background: $bga-blue-background-extralight;
            padding: 8px 16px;
        }

        .chosen-structure {
            display: flex;
            align-items: flex-start;

            svg {
                display: none;
            }

            &.completed {
                svg {
                    display: block;
                    flex-shrink: 0;
                    margin-top: 6px;
                }
            }

            &.heartbeat-trigger {
                svg {
                    -webkit-animation: heartbeat 1.5s ease-in-out both;
                    animation: heartbeat 1.5s ease-in-out both;
                    animation-duration: 500ms;
                    animation-iteration-count: 1;
                }
            }
        }
    }

    .recommendations {
        .title {
            background: $bga-yellow-highlight-mid;
            padding: 8px 16px;
        }

        .content {
            background: $bga-yellow-highlight-light;
            padding: 8px 16px 0px 16px;
        }

        li {
            text-indent: 0;
            display: none;
            margin: 0;
            padding-bottom: 8px !important;

            &.show {
                display: flex;
                align-items: flex-start;

                svg {
                    flex-shrink: 0;
                    margin-top: 6px;

                }
            }

            &.heartbeat-trigger {
                svg {
                    -webkit-animation: heartbeat 1.5s ease-in-out both;
                    animation: heartbeat 1.5s ease-in-out both;
                    animation-duration: 500ms;
                    animation-iteration-count: 1;
                }
            }

            &::before {
                display: none;
            }

            
        }
        &.grey {
            .title {
                background: $bga-blue-black-lightest;
            }
            .content {
                background: $bga-blue-black-background-lightest;
            }
        }
    }


}

.nb-dynamic-sidebar {
    .sidebar {
        height: auto !important;
    }

    .title {
        background: $nb-grey-mid;
        padding: 16px 24px;
    }

    .content {
        background: $nb-grey-light;
        padding: 16px 24px;

        li {
            text-indent: 0;

            &::before {
                display: none;
            }
        }
    }
}

.sidebar-mobile-explanation {
    display: none !important;
}

// Mixins for smaller screen sizes and media queries
@mixin dynamic-sidebar-bp-768 {
    .dynamic-sidebar {
        .business-structure,
        .recommendations {
            span,
            li,
            p {
                font-size: .875rem;
            }
        }

        .recommendations {
            li.show {
                svg {
                    margin-top: 4px;
                }
            }
        }
    }
    .nb-dynamic-sidebar {
        .title {
            background: $nb-grey-mid;
        }
    
        .content {
            background: $nb-grey-light;
    
            li {
                text-indent: 0;
    
                &::before {
                    display: none;
                }
            }
        }
    }
}


@mixin dynamic-sidebar-bp-below768 {
    .sidebar-mobile-hide {
        display: none !important;
    }

    .sidebar-mobile-explanation {
        display: block !important;
    }
}

.component-example.bp-768 {
    @include dynamic-sidebar-bp-768();
}

.component-example.bp-below768 {
    @include dynamic-sidebar-bp-below768();
}

@media (max-width: 992px) {
    @include dynamic-sidebar-bp-768();
}

@media(max-width: 768px) {
    @include dynamic-sidebar-bp-below768();
}