.grant-status-indicator {
    .component-content {
        background: $bga-green-highlight-light;
        border-left: solid 8px $bga-green-highlight-dark;

        .status {
            display: flex;
            align-items: center;

            .icon-wrapper {
                background: $bga-white;
                border-radius: 4px;
                display: inline-flex;
                align-items: center;

                img {
                    height: 32px;
                    width: auto;
                }
                p {
                    display: inline-block;
                }
            }
            p {
                font-size: 1.125rem;
                line-height: 1.5;
            }
        }
        .dates-times {
            span {
                display: none;

                &.show {
                    display: inline;
                    background-color: $bga-green-highlight-light;
                    transition: background-color 1s linear; 
                   -moz-transition: background-color 1s linear;  
                   -webkit-transition: background-color 1s linear; 
                   -ms-transition: background-color 1s linear;
                    
                    &.highlight {
                        background-color:$bga-green-highlight-dark;
                        }
                }
            }
        }
        .time-zone {
            label {
                font-size: .825rem;
                line-height: 1.5;
                font-weight: 400;
            }
            select {
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                background: url(../assets/Chevron-down-black.svg) no-repeat;
                background-size: 16px 10px;
                background-position: right 8px center;
                font-size: .825rem;
                font-weight: 400;
                line-height: 1.5;
                max-width: 100%;

                &:focus-visible {
                    border: $bga-component-focus-border;
                    border-radius: $bga-focus-radius;
                    outline: none;
                }
            }
        }   
    }
    &.coming-soon {
        .component-content {
            background: $bga-yellow-highlight-light;
            border-left-color: $bga-yellow-highlight-dark;
        }
        .dates-times {
            span {
                &.show {
                    background-color: $bga-yellow-highlight-light;

                    &.highlight {
                        background-color: $bga-yellow-highlight-dark;
                    }
                }
            }
        }
    }
    &.closed {
        .component-content {
            background: $bga-white;
            border: none;
            border-top: solid 3px $bga-blue-black-light;
            border-bottom: solid 3px $bga-blue-black-light;
            padding: 24px 0 !important;

            .status {
                .icon-wrapper {
                    background: $bga-red-fail-light;
                }
            }
            a {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    &.non-branded {
        .component-content {
            background: $nb-grey-light;
            .status {
                .icon-wrapper {
                    border-radius: 4px;
                }
            }
        }
        .dates-times {
            span {
                &.show {
                    background-color:$nb-grey-light;

                    &.highlight {
                        background-color: $nb-grey-dark;
                    }
                }
            }
        }
    }
}

// Mixin for smaller screen examples and media queries
@mixin grant-status-below768 {
    .grant-status-indicator {
        .component-content {
            .status {
                display: block;
                margin-bottom: 16px !important;

                .icon-wrapper {
                    margin: 0 0 16px 0 !important;
                }
            }
            .time-zone label {
                width: 100%;
            }
        }
    }
}

// SMALLER SCREENS display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-below768, .component-example.small-screen {
    @include grant-status-below768();
}


// MEDIA Queries for HTML demo pages.
@media(max-width: 768px) {
    @include grant-status-below768();
}