// HOME BANNER
.banner-background {
    background: $bga-blue-background-light;
    background: linear-gradient(0deg, rgba(184, 205, 231, 1) 0%, rgba(156, 182, 219, 1) 100%);
    padding: 0 0 32px 0;
    margin-bottom: 32px;
    position: relative;
}

.spacer {
    background: url(../assets/white-spacer-1x56px.png) repeat-x;
    width: 100%;
    height: 56px;
    position: absolute;
    z-index: 10;
}

#home-banner {
    .banner-container {
        display: flex;
        z-index: 100;
    }

    .banner-content {
        padding: 32px 32px 64px;
        background: $bga-blue-background-dark;
        width: 50%;

        h1 {
            color: $bga-white;
            font-size: 54px;
        }

        p.lead {
            color: $bga-white;
            font-size: 24px;
            font-weight: 400;
            line-height: 36px;
            margin: 0;
            padding: 0;
        }
    }

    .banner-image {
        width: 50%;

        img {
            height: 100%;
            max-width: 100%;
            min-height: 21rem;
            object-fit: cover;
            object-position: 50% top;
            width: 100%;
        }
    }

}

#alert {
    margin-bottom: 16px;
    background: $bga-white;

    a.alert-container {
        display: flex;
        text-decoration: none;
        cursor: pointer;

        h2 {
            display: inline-flex;
            align-items: center;
            background: url(../assets/Chevron-right-blueblack.svg) $bga-yellow-highlight-dark no-repeat;
            background-position: right 22px center;
            padding: 16px 68px 16px 32px;
            border-top-right-radius: 200px;
            border-bottom-right-radius: 200px;
            font-size: 22px;
            margin: 0;
            white-space: nowrap;
            letter-spacing: 0;
        }

        p {
            display: inline-flex;
            align-items: center;
            margin: 0;
            padding: 16px 32px 16px 16px;
            font-weight: 400;
            color: $bga-black;
        }

        &:focus {
            background-color: $bga-yellow-highlight-light;
            border: 3px solid $bga-blue-focus;
            outline: none;
            border-radius: 4px;

            h2 {
                text-decoration: underline;
                background-color: $bga-yellow-links-background;
                text-decoration-thickness: 1px;
                text-underline-offset: 2px;
            }
        }

        &:hover {
            background-color: $bga-yellow-highlight-light;

            h2 {
                text-decoration: underline;
                background-color: $bga-yellow-links-background;
                text-underline-offset: 2px;
                text-decoration-thickness: 1px;
            }
        }
    }

}

#menu-highlight {
    margin: 0;

    .business-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        width: 100%;

        li {
            flex: 0 0 23%;
            padding: 16px 48px 16px 16px;
            height: 56px;
            margin: 0 0 16px 0;
            text-decoration: none;
            border-radius: 4px;
            display: flex;
            align-items: center;
            text-indent: 0;
            line-height: 1.2222;
            background: url(../assets/arrow-right-blue.svg) no-repeat $bga-white;
            background-position: right 16px center;
            font-size: 1.125rem;
            color: $bga-blue-links;
            box-shadow: $bga-btn-boxshadow;
            cursor: pointer;

            a {
                font-weight: 600;
            }

            &:focus {
                background: url(../assets/arrow-right-white.svg) no-repeat $bga-blue-background-dark;
                background-position: right 16px center;
                outline: none;
                color: $bga-white;
            }

            &:hover {
                background: url(../assets/arrow-right-white.svg) no-repeat $bga-blue-background-dark;
                background-position: right 16px center;
                outline: none;
                color: $bga-white;
            }

            &:before {
                display: none;
            }
        }
    }
}


// Mixins for media queries and code examples
@mixin home-banner-bp-992 {
    #menu-highlight {
        .business-info {
            li {
                flex: 0 0 31%;
            }
        }
    }
}

@mixin home-banner-bp-768 {
    #home-banner {
        .banner-content {
            padding: 32px;

            h1 {
                font-size: 44px;
            }

            p.lead {
                font-size: 18px;
                line-height: 28px;
            }
        }
    }

    #alert {
        a.alert-container {

            h2 {
                white-space: normal;
                padding: 16px 68px 16px 32px;
            }
        }
    }

    #menu-highlight {
        .business-info {
            li {
                flex: 0 0 31%;
                font-size: 1rem;
                line-height: 1.25;
            }
        }
    }
}

@mixin home-banner-bp-576 {
    #home-banner {
        .banner-container {
            flex-direction: column-reverse;
            flex-wrap: wrap;
        }

        .banner-content {
            padding: 24px;
            width: 100%;
            background: $bga-blue-background-dark;
            margin: 0;

            h1 {
                font-size: 36px;
            }

            p.lead {
                font-size: 18px;
            }
        }

        .banner-image {
            width: 100%;
            max-height: 24rem;  

            img {
                min-height: auto;
            }
        }
    }

    #alert {
        a.alert-container {
            h2 {
                padding: 16px 68px 16px 24px;
            }

            p {
                padding: 16px 24px 16px 16px;
            }
        }
    }

    #menu-highlight {
        .business-info {
            li {
                flex: 0 0 48%;
                font-size: 1rem;
                line-height: 1.25;
            }
        }
    }
}

@mixin home-banner-bp-350 {
    #home-banner {
        .banner-image {
            max-height: 17rem;
        }
    }

    #alert {
        margin: 0;

        a.alert-container {
            display: block;
            padding: 16px 24px 16px 24px;
            background: $bga-yellow-highlight-dark;

            h2 {
                background: url(../assets/Chevron-right-blueblack.svg) no-repeat;
                background-position: right top 4px;
                display: inline-flex;
                font-size: 18px;
                padding: 0 32px 8px 0;
                border-radius: 0;
            }

            p {
                font-size: 14px;
                line-height: 20px;
                padding: 0;
            }

            &:hover {
                background: $bga-yellow-links-background;
            }
        }
    }

    #menu-highlight {
        .business-info {
            li {
                padding: 8px 32px 8px 8px;
                height: auto;
                background-size: 14px 13px;
                font-size: 0.875rem;
                line-height: 1.285;
                margin-bottom: 24px;
            }
        }
    }
}

@mixin home-banner-bp-below350 {
    #home-banner {
        .banner-image {
            max-height: 11rem;
        }
    }

    #menu-highlight {
        .business-info {
            li {
                flex: 0 0 100%;
                font-size: 0.875rem;
                line-height: 1.285;
                margin-bottom: 24px;
            }
        }
    }
}

// SMALLER SCREENS display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-992,
.component-example.bp-768,
.component-example.bp-576,
.component-example.bp-350,
.component-example.bp-below350 {
    @include home-banner-bp-992();
}

.component-example.bp-768,
.component-example.bp-576,
.component-example.bp-350,
.component-example.bp-below350 {
    @include home-banner-bp-768();
}

.component-example.bp-576,
.component-example.bp-350,
.component-example.bp-below350 {
    @include home-banner-bp-576();
}

.component-example.bp-350,
.component-example.bp-below350 {
    @include home-banner-bp-350();
}

.component-example.bp-below350 {
    @include home-banner-bp-below350();
}


// MEDIA QUERIES
@media (max-width: 1200px) {
    @include home-banner-bp-992();
}

@media (max-width:992px) {
    @include home-banner-bp-768();
}

@media (max-width:768px) {
    @include home-banner-bp-576();
}

@media (max-width:576px) {
    @include home-banner-bp-350();
}

@media (max-width: 350px) {
    @include home-banner-bp-below350();
}