.standard-pathway.image-pathway {
    .component-image {
        height: 240px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .component-content {
        border-left: none;
        width: 100%;
        height: calc(100% - 272px);
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    .component-text {
        width: 100%;
        height: 100%;
    }

    &.non-branded {
        .component-content {
            height: calc(100% - 256px);
        }
    }
}