.image {
    .component-image {
        width: 100%;
        
        img {
            width: 100%;
            height: auto;
        }
    }
    .component-content {
        border: none;
        width: 100%;
    }
    .component-text {
        width: 100%;
        font-size: .875rem;
        line-height: 1.7145;
        background: $bga-blue-black-lightest;
    }
    &.non-branded {
        .component-text {
            background: $nb-grey-light;
        }
    }
}