.bga-pagination {

    .pagination-links {
        width: 100%;

        ul {
            border-bottom: solid 1px $bga-blue-black-dark;
            justify-content: center;

            li {
                text-indent: 0;
                display: block;
                margin: 0 4px;

                &.hidden {
                    display: none;
                }

                &::before {
                    display: none;
                }

                a {
                    border-radius: $bga-focus-radius;
                    display: flex;
                    align-items: center;
                    padding: 4px 12px;
                    text-decoration: none;

                    svg {
                        fill: $bga-blue-links;
                    }
                    &:focus {
                        border: none !important;
                    }

                    &:focus-visible {
                        border: $bga-text-focus-border !important;
                        border-radius: $bga-focus-radius;
                        background: $bga-white;
                        color: $bga-blue-links;
                    }

                    &:hover {
                        background: $bga-blue-background-dark;
                        color: $bga-white;

                        svg {
                            fill: $bga-white !important;
                        }
                    }

                    &:active {
                        background: $bga-blue-background-light;
                        color: $bga-black;

                        svg {
                            fill: $bga-black;
                        }
                    }
                }
                &.current {
                    a {
                        background: $bga-blue-background-light;
                        color: $bga-black;

                        svg {
                            fill: $bga-black;
                        }
                    }
                }
            }
        }
    }

    .below-pagination {
        width: 100%;
        justify-content: space-between;

        .items-number {
            select {
                height: 28px;
                margin-left: 8px;
                border: none;
                border-bottom: 1px solid $bga-black;   
                font-weight: 600; 
            }
        }
    }

    &.non-branded {
        .pagination-links {
            ul {
                border-bottom: solid 1px $bga-black;

                li {
                    a {
                        border-radius: 4px;
                        svg {
                            fill: $nb-blue-links;
                        }
                        
                        &:focus-visible {
                            border-color: $nb-blue-links !important;
                            color: $nb-blue-links;
                        }
                        &:hover {
                            background: $bga-black;
                        }
    
                        &:active {
                            background: $nb-grey-mid;
                        }
                    }
                    &.current {
                        a {
                            background: $nb-grey-mid;
                        }
                    }
                }
            }
        }
    }
}


// Mixins for smaller screen sizes and media queries
@mixin paginaton-bp-576 {
    .bga-pagination {
        .pagination-links {
            ul {
                li {

                    &.first,
                    &.previous,
                    &.next,
                    &.last {
                        text-indent: -9999px;
                    }

                    a {
                        svg {
                            margin: 0 !important;
                        }
                    }
                }
            }
        }
    }
}

@mixin pagination-bp-350 {
    .bga-pagination {
        .pagination-links {
            li[data-position="1"], li[data-position="5"] {
                display: none;
            }
        }
    }
}

@mixin pagination-below350 {
    .bga-pagination {
        .below-pagination {
            flex-wrap: wrap;
            justify-content: center;

            .page-number {
                width: 100%;
                text-align: center;
                margin-bottom: 8px;
            }
            .items-number {
                width: 100%;
                justify-content: center;
            }
        }
    }
}


// SMALLER BREAKPOINTS display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-576,
.component-example.bp-350,
.component-example.bp-below350 {
    @include paginaton-bp-576();
}

.component-example.bp-350,
.component-example.bp-below350 {
    @include pagination-bp-350();
}

.component-example.bp-below350 {
    @include pagination-below350();
}

// Media queries
@media (max-width: 992px) {
    @include paginaton-bp-576();
}
@media (max-width: 576px) {
    @include pagination-bp-350();
}
@media (max-width: 350px) {
    @include pagination-below350();
}