#subsite-header.pathway-to-services {
    
    .strap-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        position: relative;
    }
    .bga-link-strap {
        width: 100%;
    }
    .return-link {
        margin: 12px 0;
        color: $bga-white;
        text-decoration: none;
        font-weight: 400;
        display: inline-flex;
        align-items: center;
    }
    button.service-links-trigger {
        background: $bga-blue-footer;
        border: none;
        padding: 12px 8px;

        a {
            font-weight: 400;
            color: $bga-white;
            text-decoration: none;
        }

        &:focus-visible {
                border: 2px solid $bga-white;
                border-radius: $bga-focus-radius;
            
            a {
                color: $bga-white;
                text-decoration: underline;
            }
        }
        &:hover {
            a {
                color: $bga-white;
                text-decoration: underline;
            }
        }
        &.open {
            background: $bga-blue-black-background-lightest;
            a {
                color: $bga-blue-footer;
                text-decoration: underline;
            }

            svg {
                transform: scaleY(-1);

                path {
                    fill: $bga-blue-footer;
                }
            }
        }
    }
    .service-links-wrapper {
        background: $bga-blue-black-background-lightest;
        width: 600px;
        box-shadow: 2px 2px 3px 0px rgba(51, 51, 51, 0.4);
        position: absolute;
        top: 0px;
        right: 32px;
        z-index: 8000;
        display: none;
    }
    .service-links-container {
        position:relative;
    }
    .service-links {
        background: $bga-white; 

        li { 
            color: $bga-black;
            border-bottom: $bga-blue-black-light solid 1px;
            display: block;
            text-indent: 0;
            
            &::before {
                display: none;
            }
            
            &:last-of-type {
                margin-bottom: 0 !important;
                padding-bottom: 0 !important;
                border-bottom: none !important;
            }
        }
        .bga-tertiary-link {
            background: url(../assets/icon-tertiary-arrow.svg) no-repeat !important;
            width: 100%;
            font-weight: 600;
            text-decoration: none;
            display: inline-flex;

            &:focus-visible {
                background-image: url(../assets/icon-tertiary-arrow-hover.svg) !important;
                color: $bga-blue-footer;
                border: $bga-text-focus-border;
                border-radius: $bga-focus-radius;
            }
            &:hover {
                background-image: url(../assets/icon-tertiary-arrow-hover.svg) !important;
                color: $bga-blue-footer;
            }
            &:active {
                background-image: url(../assets/icon-tertiary-arrow-active.svg) !important;
            }
        }
    }
}


@mixin pathway-to-services-bp-576(){
    #subsite-header.pathway-to-services {
        .return-link {
            display: none;
        }
        button.service-links-trigger {
            a {
                font-size: .875rem;
                line-height: 1.75;
            }
        }
        .secondary-links {
            width: 100%;
        }
        .service-links-wrapper {
            width: 100%;
            padding: 12px 24px !important;
            box-shadow: none;
            position: relative;
            top: auto;
            right: auto;

            h4 {
                display: none;
            }
        }
        .service-links {
            li {
                font-size: .875rem;
                line-height: 1.75;
                margin-bottom: 12px !important;
                padding-bottom: 12px !important;

                &:last-of-type {
                    margin-bottom: 0 !important;
                    padding-bottom: 0 !important;
                    border-bottom: none !important;
                }
            }
        }
    }
}


// SMALLER SCREENS display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-576, .component-example.bp-below576 {
    @include pathway-to-services-bp-576();
}

// Media queries for HTML examples
@media (max-width: 768px) {
   @include pathway-to-services-bp-576();
}