.bga-progress-bar {
    .progress-label {
        font-size: 0.875rem;
    }
    .progress {
        height: 6px;
        border-radius: 10px;
    }
    .progress-bar {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        background: $bga-blue-background-dark;
    }
    &.teal {
        .progress-bar {
            background: $bga-teal-highlight-shadow;
        }
    }
    &.non-branded {
        .progress {
            background: $nb-grey-light;
        }
        .progress-bar {
            background: $nb-grey-darkest;
        }
    }
}