.subsite-footer {
    background: $bga-blue-footer;

    .phone a {
        color: $bga-white;
        font-size: 1.375rem;
        line-height: 1.5;
        font-weight: 600;
        text-decoration: none;
        cursor: pointer;
    }

    .links ul {
        text-indent: 0;

        li {
            text-indent: 0;
            list-style-type: none;
            color: $bga-white;
            font-size: 1rem;
            text-decoration: underline;
            font-weight: 400;
            cursor: pointer;
            display: inline-block;

            &::before {
                display: none;
            }
        }
    }

    .copyright {
        p {
            font-size: .875rem;
            line-height: 1.715;
        }
    }
}

// Mixins for smaller screen sizes and media queries
@mixin subsite-footer-below576 {
    .subsite-footer {
        .phone {
            margin-bottom: 16px !important;
        }

        .links {
            margin-bottom: 16px !important;

            ul {
                li {
                    font-size: .875rem;
                    line-height: 1.715;
                    margin-right: 16px !important;
                }
            }
        }

        .copyright {
            padding: 0 !important;
            p {
                font-size: 0.75rem;
                line-height: 1.5rem;
            }
        }
    }
}

// SMALLER BREAKPOINTS display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-below576,
.component-example.small-screen {
    @include subsite-footer-below576();
}

@media (max-width: 576px) {
    @include subsite-footer-below576();
}