.callout-box.toast-example {
    border-left: none;
    background: $bga-blue-black-lightest;
    box-shadow: 2px -2px 3px 0px rgba(51, 51, 51, 0.2);
    max-width: 650px;
    position: relative;

    .close {
        background-image: url(../assets/icon-close-black.svg);
        background-repeat: no-repeat;
        height: 16px;
        width: 16px;
        background-position: center center;
        text-indent: -9999px;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 16px;
        right: 16px;
    }

    &.cta-toast {
        .component-content {
            padding-right: 24px !important;
        }
    }
}
#inpage-toast, 
#inpage-cta-toast {
    position: fixed;
    z-index: 5000;
    max-width: 650px;
    bottom: 0;
    left: 32px;
    display: none;
}


// Mixins for smaller screen sizes and media queries
@mixin toast-bp-350 () {
    .callout-box.toast-example {
        width: 100%;
        max-width: calc(100% - 16px);   

        &.default {
            .component-content {
                padding-right: 24px !important;
                padding-top: 40px !important;
            }
        }
    }
    #inpage-toast, 
    #inpage-cta-toast {
        left: 16px;
    }
}

// SMALLER SCREENS display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-350, .component-example.bp-below350 {
    @include toast-bp-350();
}

// Media queries for HTML page examples
@media (max-width: 575px) {
    @include toast-bp-350();
}