<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    
    {% include header.html %}
    
    {% include page-header.html %}

    <div class="container my-5">

        <div class="row">
            <div class="col-12 col-md-11 col-lg-9 col-xl-8">

                <div class="remove-top-spaces content-wrapper">
                
                <h2>Two ways to use the style guide</h2>

                <h3>With business.gov.au branding</h3>
                <p>All business.gov.au branded products are required follow the branding and design guidance in this style guide.</p>
                
                {% include component-examples/callout-box-example.html
                    text="<p><strong>Only business.gov.au digital products should use style guide in this way. Please email <a href='mailto:bgastrategicmanagement@industry.gov.au' >bgastrategicmanagement@industry.gov.au</a> if you need approval to use business.gov.au branding.</strong></p>"
                    %}

                <h3>With your branding</h3>
                
                <p>Digital products that are not part of the business.gov.au product suite can use the design components without the business.gov.au branding. This allows teams to utilize the design framework and standards established in the guide without being limited to business.gov.au specific branding.</p>

                <p>Appropriate components in the style guide include a ‘non-branded’ version illustrating a base version of the component with all branding elements removed.</p>

                <p class="mb-3">We ask that teams using the style guide in this way do not incorporate any of the business.gov.au branding into their designs.</p>
                
                <ul>
                    <li>Design styles outlined in the ‘brand foundations’ section of the style guide <strong>should not be used</strong>. This includes business.gov.au colours, borders, icons, illustrations and button styles.</li>
                    <li>All components should be rebranded with alternative colours and styles.</li>
                </ul>
                
                </div>

            </div>

        </div>

    </div>


    {% include footer.html %}

</body>

</html>