<!DOCTYPE html>
<html lang="en">

{% if page.global-alert %}
    {% include component-examples/global-alert-example.html 
        message="<p><strong>We’ll be updating our website on Wednesday 16 December 2020 between 6am and 8am (AEDT). See our <a href=''>service availability page</a> for more information.</p></strong>"
    %}
{% endif %}



{% include head.html %}

<body {% if page.id %} id="{{page.id}}" {% endif %}>

    {% include component-examples/pathway-to-services-example.html %}
    
    {% include header.html %}
    

    {% include component-examples/breadcrumbs-example.html %}
    
    {% include page-header.html %}

            {{ content }}

    
    {% include footer.html %}
    
</body>
</html>



