/*.bga-component.easy-read {

    .component-content {
        display: flex;
    }

    .component-image {
        background: $bga-white;
        flex-shrink: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        row-gap: 24px;
        padding: 32px 0;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .component-text {
        display: flex;
        flex-wrap: wrap;
        align-content: center; 
        padding: 32px;

        p {
            font-size: 1.2rem;
            line-height: 2;
            margin-bottom: 32px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        strong {
            font-weight: 700;
            color: #DD3608;

            &.pink {
                color: #DB0084;
            }
            &.purple {
                color: #662D91;
            }
        }

        ul {
            margin: 0 0 0 64px;
            padding: 0;

            &:last-child {
                li:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        li {
            font-size: 1.2rem;
            line-height: 2;
            display: list-item;
            text-indent: -32px;
            margin-bottom: 24px;

            &::before {
                background: $bga-blue-black-dark;
                border-radius: 8px;
                content: "";
                display: inline-block;
                height: 8px;
                width: 8px;
                margin-right: 24px;
                padding: 0;
                vertical-align: middle;
            }
        }
    }

    &.in-page {
        background: $bga-blue-background-extralight;
        border: $bga-blue-border 4px solid;
        border-radius: $bga-focus-radius;

        .component-image {
            width: 25%;
        }
    }

    &.standalone {
        border-bottom: solid 2px $bga-blue-background-dark;

        &.img-border {
            img {
                border: solid 2px $bga-blue-background-dark;
                border-radius: $bga-focus-radius;
            }
        }
        .component-image {
            width: 25%;
        }
    }
}

#easy-read {

    h2 {
        margin: 48px 0 16px;
        padding: 0;
    }
    &.standalone {
        h2 {
            padding: 64px 0 0 0;
            margin: 0 0 32px 0;
        }
    }

}
.easy-read-group {
    padding-bottom: 32px;
}


.easy-read-header {
    .header-wrapper {
        background: $bga-blue-background-dark;
        position: relative;
    }

    .return-link {
        margin: 12px 0;
        color: $bga-white;
        text-decoration: underline;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        font-size: 1.2rem;
        line-height: 1.75;
    }

    .menu-trigger {
        text-align: right;
        margin-right: -32px;

        button {
            margin: 12px 0;
            padding-right: 60px !important;
            text-decoration: underline;
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            background: url(../assets/icon-menu-white.svg) no-repeat;
            background-position: right 32px center;
            font-size: 1.2rem;
            line-height: 1.75;
            box-shadow: none;
            border: none;
            outline: none;

            a {
                color: $bga-white;

                &:focus-visible,
                &:hover {
                    background: none;
                }
            }
        }

        &.open {
            button {
                background: $bga-white url(../assets/icon-close-blue.svg) no-repeat;
                background-position: right 32px center;
                background-size: 28px 28px;

                a {
                    color: $bga-blue-links;
                }

                svg path {
                    fill: $bga-blue-links;
                }
            }
        }
    }

    .menu-container {
        position: relative;

        .menu-wrapper {
            display: none;

            &.show {
                display: block;
                border: $bga-blue-background-dark 2px solid;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                background: $bga-white;
                width: 50%;
                box-shadow: 2px 2px 3px 0px rgba(51, 51, 51, 0.4);
                position: absolute;
                top: 0px;
                right: 48px;
                z-index: 8000;
            }
        }

        .utilities {
            background: $bga-blue-background-light;
        }

        ul {
            li {
                text-indent: 0;
                padding-bottom: 8px;

                &:last-of-type {
                    padding-bottom: 0;
                }

                &::before {
                    display: none;
                }
            }

            a {
                font-size: 1.2rem;
                line-height: 1.75;

                &:hover {
                    background: none;
                }
            }
        }
    }

}

.easy-read-footer {
    .footer-wrapper {
        background: $bga-blue-footer;
        position: relative;
        box-shadow: 0 50vh 0 50vh $bga-blue-footer;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.75;
        color: $bga-white;
        font-weight: 600;
    }

    .button-example .bga-secondary-btn {
        font-size: 1.3rem;

        &.prev {
            svg {
                margin: 0 8px 0 0;
            }
        }

        &:focus-visible,
        &:focus {
            border-color: $bga-white;
            background: $bga-blue-links;
            color: $bga-white;
            border-radius: 50px;

            svg path {
                fill: $bga-white;
            }
        }

        &:hover {
            border-color: $bga-white;
            background: $bga-blue-background-dark;
            color: $bga-white;

            svg path {
                fill: $bga-white;
            }
        }

        &:active {
            border-color: $bga-white;
            background: $bga-blue-footer;
            color: $bga-white;

            svg path {
                fill: $bga-white;
            }
        }
    }

    .button-blank {
        p {
            color: $bga-blue-footer;
        }
    }
}


.inline-pathway.callout-link.easy-read {
    .icon-wrapper {
        width: 64px;
        height: 64px;
    }

    img {
        width: 40px;
    }

    .content a {
        font-size: 1.2rem;
        line-height: 1.75;
    }
}

.bga-component.relevant-support-links.easy-read {
    a {
        .link-text {
            padding: 0 24px;
        }
        .link-wrapper {
            align-items: center;
            border-left: 8px solid $bga-green-highlight-mid;
        }

        .icon-wrapper {
            background: $bga-green-highlight-light;
            border-left: none;
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            flex-shrink: 0;
            padding: 48px 24px;
            flex-wrap: nowrap;

            p {
                font-size: 1.375rem;
                line-height: 2;
                flex-shrink: 0;
            }
        }

        img {
            width: 48px;
        }

        p {
            font-size: 1.1875rem;
            line-height: 2;
        }

        &:focus-visible,
        &:hover {
            background: $bga-green-highlight-light;

            .link-wrapper {
                border-left: 8px solid $bga-green-highlight-shadow;
            }

            .icon-wrapper {
                background: $bga-green-highlight-mid;
                border-left: none;
            }
        }
    }
}

@media (max-width: 992px) {
    .easy-read-header {
        .menu-container {
            .menu-wrapper.show {
                width: calc(100% - 98px);
            }
        }
    }
}


@media (max-width: 768px) {
    .easy-read-header {
        .header-wrapper {
            margin-top: 0 !important;
        }

        .menu-trigger {
            text-align: left;

            button {
                padding: 16px 40px 16px 16px !important;
                background-position: right 16px center;
            }

            &.open {
                button {
                    padding: 16px 40px 16px 16px !important;
                    background-position: right 16px center;
                }
            }

        }

        .return-link {
            padding: 16px 0 !important;
        }
    }
    .bga-component.easy-read {
        .component-text {
            padding: 24px;
            p {
                font-size: 1rem;
            }
            li {
                font-size: 1rem;
            }
        }
        .component-image {
            padding: 24px 0;
        }
    }

    .bga-component.easy-read.in-page {
        .component-image {
            width: 35%;
            padding: 16px !important;
        }
        .component-text {
            padding: 18px !important;

            ul {
                margin: 0 0 0 40px;
            }
        }
    }


    .easy-read-footer {
        p {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    
        .button-example .bga-secondary-btn {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
}

@media (max-width: 576px) {
    .easy-read-header {
        .left-wrapper, .right-wrapper {
            padding: 0 !important;
        }
    }
    .bga-component.easy-read {
        .component-image {
            align-items: flex-start;
            align-content: flex-start;
        }
        .component-text {
            align-items: flex-start;
            align-content: flex-start;
            
            p {
                margin-bottom: 16px;
            }
            ul {
                margin-left: 32px;
                li {
                    margin-bottom: 16px;
                    text-indent: -24px;

                    &:before {
                        margin-right: 16px;
                    }
                    
                }
            }
        }
    }
    .easy-read-header {
        .menu-container {
            .menu-wrapper.show {
                width: calc(100% - 32px);
                right: 16px;
            }
        }
    }

    .bga-component.relevant-support-links.easy-read {
        a {
            .icon-wrapper {
                min-width: auto;
                padding: 16px 0 16px 16px !important;
                display: flex;

                .icon {
                    background:$bga-green-highlight-light;
                    padding: 8px;
                    width: 48px;
                    height: 48px;
                    border-radius: 50px;
                    display: flex;
                    justify-content: center;
                }
                img {
                    width: 32px;
                }
                p {
                    font-size: 1rem;
                }
            }
            p {
                font-size: 1rem;
                line-height: 2;
            }
        }
    }
    .easy-read-footer {
       .footer-content {
        padding: 32px 0 !important;
       }
        .section {
            display: none;
       }
    }
}
@media (max-width: 350px) {
    .bga-component.easy-read {
        .component-image {
            display: none !important;
        }
        .component-text {
            padding: 24px 0 !important;
        }
    }

}

*/