.ecb-example-layout {
    overflow-x: hidden;
    #subsite-header {
        .strap-wrapper {
            margin: 0 -9999px;
            padding: 0 9999px;
            background: $bga-blue-footer;
        }
        .secondary-links {
            display: none;
        }
        
        .main-header-wrapper {
            margin: 0 -9999px;
            padding: 0 9999px;
            background: $bga-blue-background-dark;
        }
        
    }

    #page-header.teal {
        background: linear-gradient(180deg, rgba(158,210,211,1) 0%, rgba(191,226,226,1) 100%);

        .header-content {
            background: $bga-teal-highlight-light;
        }
    }
    
    .max-width-med {
        max-width: 500px !important;
    }

    .ecb-button-group {
        display: flex;
        align-items: center;
    }
}


// MEDIA QUERIES

@media (max-width: 768px) {
    .ecb-example-layout {
        #page-header.stepped-nav {
            background: $bga-teal-highlight-light;

            .inner-wrapper {
                padding: 0 !important; 
            }
            .header-content {
                padding: 0 !important;
            }
            .stepped-navigation-wrapper {
                padding: 16px 0 !important;
            }
        }
    }
}

@media (max-width: 576px) {
    .ecb-example-layout {
        #subsite-header {
            .main-header {
                padding: 16px 0 !important;
            }
            .strap-wrapper, .main-header-wrapper {
                padding: 0 32px;
                margin: 0 -32px;
            }
        }
        #page-header.teal {
            background: $bga-teal-highlight-light; 

            .inner-wrapper {
                padding: 0 !important; 
            }
            .header-content {
                padding: 24px 0 !important;
            }

            &.stepped-nav {
                .header-content {
                    padding: 0 !important;
                }
            }
        }
        
    }
 }